@import "../views/globalCssVariables";

.capture-interface {
    //background-color: whitesmoke !important;
    width: 450px;

    button {
        background: #315a96;
        outline: none;
        border-radius: 5px;
        border: 0px;
        color: #fcfbf7;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 75%;
        padding: 10px;
        margin: 10px;
        transition: transform 0.2s;
        margin: 2px;
    }
}

.capture-t1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    color: black;

    .recordButtonOutline {
        border-radius: 100%;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        border: solid 1px #a94442;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .recordButtonInner {
        border-radius: 100%;
        width: 70%;
        height: 70%;
        background: #a94442;
    }
}

.capture-t2 {
    font-size: 12px;
    padding-right: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    /* right: 135; */
    // position: absolute;
    // left: 243;
}

.capture-block {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 8px;
    padding-top: 6px;

    .capture-block-title {
        font-size: 16;
        font-weight: bold;
        text-align: left;
        color: black;
        width: 80;
        margin-right: 50px;
    }

    &:last-child {
        border-bottom: none;
    }
}

.close-button {
    position: absolute;
    top: 10;
    right: 10;
    background:transparent;
    border-radius:100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.close-button:hover {
    background: rgba(0,0,0,0.1);
}

