.fieldWrapper {
    position: relative;
    display: inline-flex;
}

.enumerablesStyle {
    width: 10px;
    height: 10px;
    position: relative;
    display: none;
    background: dimGray;
}
        