@import "../views/globalCssVariables";

.settings-interface {
    //background-color: whitesmoke !important;
    color: grey;
    width: 450px;
    height: 300px;

    button {
        background: #315a96;
        outline: none;
        border-radius: 5px;
        border: 0px;
        color: #fcfbf7;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 75%;
        padding: 10px;
        margin: 10px;
        transition: transform 0.2s;
        margin: 2px;
    }
}

.settings-title {
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
    color: black;
}

.settings-username {
    font-size: 12px;
    padding-right: 15px;
    color: black;
    margin-top: 10px;
    /* right: 135; */
    position: absolute;
    left: 243;
}

.settings-section {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 8px;
    padding-top: 6px;

    .settings-section-title {
        font-size: 16;
        font-weight: bold;
        text-align: left;
        color: black;
        width: 80;
        margin-right: 50px;
    }

    &:last-child {
        border-bottom: none;
    }
}


.password-content {
    display: flex;

    .password-content-inputs {
        width: 100;

        .password-inputs {
            border: none;
            margin-bottom: 8px;
            width: 180;
            color: black;
            border-radius: 5px;
        }
    }

    .password-content-buttons {
        margin-left: 84px;
        width: 100;

        .password-submit {
            margin-left: 85px;
        }

        .password-forgot {
            margin-left: 65px;
            margin-top: -20px;
            white-space: nowrap;
        }
    }
}

.accounts-content {
    display: flex;
}

.modes-content {
    display: flex;

    .modes-select {
        // width: 170px;
        margin-right: 10px;
        color: black;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .modes-playground,
    .default-acl {
        display: flex;

        .playground-check,
        .acl-check {
            margin-right: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .playground-text {
            color: black;
            margin-right: 10px;
        }

        .acl-text {
            color: black;
        }

    }
}

.colorFlyout {
    margin-top: 2px;
    margin-right: 25px;

    &:hover {
        cursor: pointer;
    }

    .colorFlyout-button {
        width: 20px;
        height: 20px;
        border: 0.5px solid black;
        border-radius: 5px;
        padding-top: 3px;
    }
}

.preferences-content {
    display: flex;
    margin-top: 4px;

    .preferences-color {
        display: flex;

        .preferences-color-text {
            color: black;
            font-size: 11;
            margin-top: 4;
            margin-right: 4;
        }
    }

    .preferences-font {
        display: flex;

        .preferences-font-text {
            color: black;
            font-size: 11;
            margin-top: 4;
            margin-right: 4;
        }

        .font-select {
            width: 100px;
            color: black;
            font-size: 9;
            margin-right: 6;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .size-select {
            width: 60px;
            color: black;
            font-size: 9;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.settings-interface {
    display: flex;
    flex-direction: column;

    button {
        width: auto;
        align-self: center;
        background: #252b33;
        margin-right: 15px;

        //margin-top: 4px;

        &:hover {
            background: $main-accent;
        }
    }

    // .delete-button {
    //     background: rgb(227, 86, 86);
    // }

    .close-button {
        position: absolute;
        right: 1em;
        top: 1em;
        cursor: pointer;
    }

    .logout-button {
        right: 355;
        position: absolute;
    }

    .settings-content {
        background: #e4e4e4;
        border-radius: 6px;
        padding: 10px;
        width: 560px;
    }

    .settings-top {
        display: flex;
        margin-bottom: 10px;
    }


    .error-text {
        color: #C40233;
        width: 300;
        margin-left: -20;
        font-size: 10;
        margin-bottom: 4;
        margin-top: -3;
    }

    .success-text {
        width: 300;
        margin-left: -20;
        font-size: 10;
        margin-bottom: 4;
        margin-top: -3;
        color: #009F6B;
    }

    .focus-span {
        text-decoration: underline;
    }

    h1 {
        color: #121721;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 19;
        margin-top: 0;
        font-weight: bold;
    }

    .container {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 700px;
        min-width: 700px;
        max-width: 700px;
        text-align: left;
        font-style: normal;
        font-size: 15;
        font-weight: normal;
        padding: 0;

        .padding {
            padding: 0 0 0 20px;
            color: black;
        }

    }
}

@media only screen and (max-device-width: 480px) {
    .settings-interface {
        width: 80vw;
        height: 400px;
    }

    .settings-interface .settings-body .settings-content input {
        font-size: 30;
    }

    .settings-interface button {
        width: 100%;
        font-size: 30px;
        background: #315a96;
    }

    .settings-interface .settings-heading {
        font-size: 25;
    }
}