.sharing-interface {
    display: flex;
    flex-direction: column;

    .users-list {
        margin-top: 20px;
        font-style: italic;
        color: red;
        font-weight: bold;
    }

    .container {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: auto;
        text-align: left;
        font-style: normal;
        font-size: 15;
        font-weight: normal;
        padding: 0;

        .padding {
            padding: 0 0 0 20px;
            color: black;
        }

        .permissions-dropdown {
            outline: none;
        }
    }

    .no-users {
        margin-top: 20px;
    }

    .link-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .link-box,
        .copy {
            padding: 10px;
            border-radius: 10px;
            padding: 10px;
            border: solid black 1px;
        }

        .link-box {
            background: white;
        }

        .copy {
            margin-left: 20px;
            cursor: alias;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            transition: 0.5s color ease;
            padding-top: 12px;
        }
    }
}