
.tooltipMenu {
    position: absolute;
    z-index: 20;
    background: rgb(19, 18, 18);
    border: 1px solid silver;
    border-radius: 4px;
    padding: 2px 10px;
    margin-bottom: 7px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltipMenu:before {
    content: "";
    height: 0; width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -6px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: silver;
  }
  .tooltipMenu:after {
    content: "";
    height: 0; width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -4.5px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: black;
  }

  .menuicon {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    //color: rgb(19, 18, 18);
    color: white;
    line-height: 1;
    padding: 0px 2px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 10px;
  }
  .strong, .heading { font-weight: bold; }
  .em { font-style: italic; }
  .underline {text-decoration: underline}
  .superscript {vertical-align:super}
  .subscript { vertical-align:sub }
  .strikethrough {text-decoration-line:line-through}