@import "../views/globalCssVariables";
.ProseMirror-menu-dropdown-wrap {
    display: inline-block;
    position: relative;
}
  
.ProseMirror-menu-dropdown {
    vertical-align: 1px;
    cursor: pointer;
    position: relative;
    padding: 0 15px 0 4px;
    background: white;
    border-radius: 2px;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    margin-right: 4px;

    &:after {
        content: "";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid currentColor;
        opacity: .6;
        position: absolute;
        right: 4px;
        top: calc(50% - 2px);
    }
}

.ProseMirror-menu-submenu-wrap {
    position: relative;
    margin-right: -4px;
}

.ProseMirror-menu-dropdown-menu, 
.ProseMirror-menu-submenu {
    font-size: 12px;
    background: white;
    border: 1px solid rgb(223, 223, 223);
    min-width: 40px;
    z-index: 50000;
    position: absolute;
    box-sizing: content-box;

    .ProseMirror-menu-dropdown-item {
        cursor: pointer;
        z-index: 100000;
        text-align: left;
        padding: 3px;

        &:hover {
            background-color: $light-color-secondary;
        }
    }
}


.ProseMirror-menu-submenu-label:after {
    content: "";
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid currentColor;
    opacity: .6;
    position: absolute;
    right: 4px;
    top: calc(50% - 4px);
}
  
  .ProseMirror-icon {
    display: inline-block;
    // line-height: .8;
    // vertical-align: -2px; /* Compensate for padding */
    // padding: 2px 8px;
    cursor: pointer;

    &.ProseMirror-menu-disabled {
        cursor: default;
    }

    svg {
        fill:white;
        height: 1em;
    }

    span {
        vertical-align: text-top;
      }  
  }

.wrapper {
    position: absolute;
    pointer-events: all;
    display: flex;
    align-items: center;
    transform: translateY(-85px);

    height: 35px;
    background: #323232;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

}

.tooltipMenu, .basic-tools {
    z-index: 20000;
    pointer-events: all;
    padding: 3px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

    .ProseMirror-example-setup-style hr {
      padding: 2px 10px;
      border: none;
      margin: 1em 0;
    }
    
    .ProseMirror-example-setup-style hr:after {
      content: "";
      display: block;
      height: 1px;
      background-color: silver;
      line-height: 2px;
    }
}

.menuicon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    margin: 0 2px;
    border-radius: 3px;

    &:hover {
        background-color: black;

        #link-drag {
            background-color: black;
        }
    }

    &> * {
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        fill: white;
        width: 18px;
        height: 18px;
    }
}

.menuicon-active {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    margin: 0 2px;
    border-radius: 3px;

    &:hover {
        background-color: black;
    }

    &> * {
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        fill: greenyellow;
        width: 18px;
        height: 18px;
    }
}

#colorPicker {
    position: relative;

    svg {
        width: 18px;
        height: 18px;
        // margin-top: 11px;
    }

    .buttonColor {
        position: absolute;
        top: 24px;
        left: 1px;
        width: 24px;
        height: 4px;
        margin-top: 0;
    }
}

#link-drag {
    background-color: #323232;
}

.underline svg {
    margin-top: 13px;
}

  .font-size-indicator {
      font-size: 12px;
      padding-right: 0px;
  }
  .summarize{
      color: white;
      height: 20px;
      text-align: center;
  }
  

.brush{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 15px;
}

.brush-active{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 3;
    fill: greenyellow;
    margin-right: 15px;
}

.dragger-wrapper {
    color: #eee;
    height: 22px;
    padding: 0 5px;
    box-sizing: content-box;
    cursor: grab;

    .dragger {
        width: 18px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .dragger-line {
        width: 2px;
        height: 100%;
        background-color: black;
    }
}

.button-dropdown-wrapper {
    display: flex;
    align-content: center;

    &:hover {
        background-color: black;
    }
}

.buttonSettings-dropdown {

    &.ProseMirror-menu-dropdown {
        width: 10px;
        height: 25px;
        margin: 0;
        padding: 0 2px;
        background-color: #323232;
        text-align: center;

        &:after {
            border-top: 4px solid white;
            right: 2px;
        }

        &:hover {
            background-color: black;
        }
    }

    &.ProseMirror-menu-dropdown-menu {
        min-width: 150px;
        left: -27px;
        top: 31px;
        background-color: #323232;
        border: 1px solid #4d4d4d;
        color: $light-color-secondary;
        // border: none;
        // border: 1px solid $light-color-secondary;
        border-radius: 0 6px 6px 6px;
        padding: 3px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

        .ProseMirror-menu-dropdown-item{
            cursor: default;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #323232;
            }

            .button-setting, .button-setting-disabled {
                padding: 2px;
                border-radius: 2px;
            }

            .button-setting:hover {
                cursor: pointer;
                background-color: black;
            }

            .separated-button {
                border-top: 1px solid $light-color-secondary;
                padding-top: 6px;
            }

            input {
               color: black;
               border: none;
               border-radius: 1px;
               padding: 3px;
            }

            button {
               padding: 6px;
               background-color: #323232;
               border: 1px solid black;
               border-radius: 1px;

                &:hover {
                   background-color: black;
                }
            }
        }


    }
}

.colorPicker-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-left: -3px;
    width: calc(100% + 6px);
}

button.colorPicker {
    width: 20px;
    height: 20px;
    border-radius: 15px !important;
    margin: 3px;
    border: none !important;

    &.active {
        border: 2px solid white !important;
    }
}
