.dashFieldView {
    position: relative;
    display: inline-block;

    .dashFieldView-enumerables {
        width: 10px;
        height: 10px;
        position: relative;
        display: inline-block;
        background: dimGray;
    }
    .dashFieldView-fieldCheck {
        min-width: 12px;
        position: relative;
        display: inline-block;
        background-color: rgba(155, 155, 155, 0.24);
    }
    .dashFieldView-labelSpan {
        position: relative;
        display: inline-block;
        font-weight: normal;
        background: rgba(0,0,0,0.1);
    }
    .dashFieldView-fieldSpan {
        min-width: 20px;
        margin-left: 2px;
        margin-right: 5px;
        position: relative;
        display: inline;
        background-color: rgba(155, 155, 155, 0.24);
        font-weight: bold;
        span {
            min-width: 100%;
            display: inline-block;
        }
    }
}
        