.FormattedTextBox-tooltip {
    position: absolute;
    pointer-events: none;
    z-index: 20;
    background: white;
    border: 1px solid silver;
    border-radius: 2px;
    margin-bottom: 7px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.FormattedTextBox-tooltip:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -6px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: silver;
}

.FormattedTextBox-tooltip:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -4.5px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: white;
}

.FormattedTextBox-buttons {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .FormattedTextBox-button {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 6px;
        border-radius: 50%;
        pointer-events: auto;
        background-color: rgb(53, 146, 199);
        color: rgb(150, 211, 248);
        font-size: 65%;
        transition: transform 0.2s;
        text-align: center;
        position: relative;

        .FormattedTextBox-fa-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: rgb(53, 146, 199);
            ;
        }
    }
}