@import "../../globalCssVariables";

.ProseMirror {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.ProseMirror:focus {
    outline: none !important;
}

.formattedTextBox-cont {
    touch-action: none;
    cursor: text;
    background: inherit;
    padding: 0;
    border-width: 0px;
    border-radius: inherit;
    border-color: $intermediate-color;
    box-sizing: border-box;
    background-color: inherit;
    border-style: solid;
    overflow-y: auto;
    overflow-x: hidden;
    color: initial;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    transition: opacity 1s;

    .formattedTextBox-dictation {
        height: 12px;
        width: 10px;
        top: 0px;
        left: 0px;
        position: absolute;
    }
}

.formattedTextBox-outer {
    position: relative;
    overflow: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.formattedTextBox-sidebar-handle {
    position: absolute;
    top: calc(50% - 17.5px);
    width: 10px;
    height: 35px;
    background: lightgray;
    border-radius: 20px;
    cursor:grabbing;
}

.formattedTextBox-cont>.formattedTextBox-sidebar-handle {
    right: 0;
    left: unset;
}

.formattedTextBox-sidebar,
.formattedTextBox-sidebar-inking {
    border-left: dashed 1px black;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    overflow: hidden;

    .collectionfreeformview-container {
        position: relative;
    }

    >.formattedTextBox-sidebar-handle {
        right: unset;
        left: -5;
    }
}

.formattedTextBox-sidebar-inking {
    pointer-events: all;
}

.formattedTextBox-inner-rounded {
    height: 70%;
    width: 85%;
    position: absolute;
    overflow: auto;
    top: 15%;
    left: 10%;
}

.formattedTextBox-inner-rounded, .formattedTextBox-inner-rounded-selected,
.formattedTextBox-inner, .formattedTextBox-inner-selected {
    height: 100%;
    white-space: pre-wrap;
    .ProseMirror:hover {
        background: rgba(200,200,200,0.8);
    }
    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
}

// .menuicon {
//     display: inline-block;
//     border-right: 1px solid rgba(0, 0, 0, 0.2);
//     color: #888;
//     line-height: 1;
//     padding: 0 7px;
//     margin: 1px;
//     cursor: pointer;
//     text-align: center;
//     min-width: 1.4em;
// }

.strong,
.heading {
    font-weight: bold;
}

.em {
    font-style: italic;
}

.userMarkOpen {
    background: rgba(255, 255, 0, 0.267);
    display: inline;
}

.userMark {
    background: rgba(255, 255, 0, 0.267);
    font-size: 2px;
    display: inline-grid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10px;
    min-height: 10px;
    text-align: center;
    align-content: center;
}

footnote {
    display: inline-block;
    position: relative;
    cursor: pointer;

    div {
        padding: 0 !important;
    }
}

footnote::after {
    content: counter(prosemirror-footnote);
    vertical-align: super;
    font-size: 75%;
    counter-increment: prosemirror-footnote;
}

.ProseMirror {
    counter-reset: prosemirror-footnote;
}

.footnote-tooltip {
    cursor: auto;
    font-size: 75%;
    position: absolute;
    left: -30px;
    top: calc(100% + 10px);
    background: silver;
    padding: 3px;
    border-radius: 2px;
    max-width: 100px;
    min-width: 50px;
    width: max-content;
}

.prosemirror-attribution {
    font-size: 8px;
}

.footnote-tooltip::before {
    border: 5px solid silver;
    border-top-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: 27px;
    content: " ";
    height: 0;
    width: 0;
}


.formattedTextBox-inlineComment {
    position: relative;
    width: 40px;
    height: 20px;
    &::before {
        content: "→";
    }
    &:hover {
        background: orange;
    }
}

.formattedTextBox-summarizer {
    opacity: 0.5;
    position: relative;
    width: 40px;
    height: 20px;
    &::after {
        content: "←";
    }
}

.formattedTextBox-summarizer-collapsed {
    opacity: 0.5;
    position: relative;
    width: 40px;
    height: 20px;
    &::after {
        content: "...";
    }
}

.prosemirror-anchor {
    overflow:hidden;
    display:inline-grid;
}
.prosemirror-linkBtn {
    background:unset;
    color:unset;
    padding:0;
    text-transform: unset;
    letter-spacing: unset;
    font-size:unset;
}
.prosemirror-links {
    display: none;
    position: absolute;
    background-color: dimgray;
    margin-top: 1.5em;
    z-index: 1;
    padding: 5;
    border-radius: 2px;
  }
  .prosemirror-hrefoptions{
      width:0px;
      border:unset;
      padding:0px;
  }

  .prosemirror-links a {
    float: left;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  }

  .prosemirror-links a:hover {
    background-color: #eee;
    color: black;
  }

  .prosemirror-anchor:hover .prosemirror-links {
    display: grid;
  }

.ProseMirror {
    padding: 0px;
    height: max-content;
    touch-action: none;
    span {
        font-family: inherit;
    }

    blockquote {
        padding: 10px 10px;
        font-size: smaller;
        margin: 0;
        font-style: italic;
        background: lightgray;
        border-left: solid 2px dimgray;
    }

    ol, ul {
        counter-reset: deci1 0 multi1 0;
        padding-left: 1em;
        font-family: inherit;
    }
    ol {
        font-family: inherit;
    }
    .bullet {  p { font-family: inherit} margin-left: 0; }
    .bullet1 { p { font-family: inherit} }
    .bullet2,.bullet3,.bullet4,.bullet5,.bullet6 { p { font-family: inherit} font-size: smaller; }

    .decimal1-ol { counter-reset: deci1; p {display: inline-block; font-family: inherit} margin-left: 0; }
    .decimal2-ol { counter-reset: deci2; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 2.1em;}
    .decimal3-ol { counter-reset: deci3; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 2.85em;}
    .decimal4-ol { counter-reset: deci4; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 3.85em;}
    .decimal5-ol { counter-reset: deci5; p {display: inline-block; font-family: inherit} font-size: smaller; }
    .decimal6-ol { counter-reset: deci6; p {display: inline-block; font-family: inherit} font-size: smaller; }
    .decimal7-ol { counter-reset: deci7; p {display: inline-block; font-family: inherit} font-size: smaller; }

    .multi1-ol { counter-reset: multi1; p {display: inline-block; font-family: inherit} margin-left: 0;     padding-left: 1.2em }
    .multi2-ol { counter-reset: multi2; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 2em;}
    .multi3-ol { counter-reset: multi3; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 2.85em;}
    .multi4-ol { counter-reset: multi4; p {display: inline-block; font-family: inherit} font-size: smaller; padding-left: 3.85em;}

    //.bullet:before, .bullet1:before, .bullet2:before, .bullet3:before, .bullet4:before, .bullet5:before { transition: 0.5s; display: inline-block; vertical-align: top; margin-left: -1em; width: 1em; content:" " }

    .decimal1:before { transition: 0.5s;counter-increment: deci1; display: inline-block; vertical-align: top; margin-left: -1em;   width:  1em;   content: counter(deci1) ". ";  }
    .decimal2:before { transition: 0.5s;counter-increment: deci2; display: inline-block; vertical-align: top; margin-left: -2.1em; width: 2.1em;  content: counter(deci1) "."counter(deci2) ". ";  }
    .decimal3:before { transition: 0.5s;counter-increment: deci3; display: inline-block; vertical-align: top; margin-left: -2.85em;width: 2.85em; content: counter(deci1) "."counter(deci2) "."counter(deci3) ". "; }
    .decimal4:before { transition: 0.5s;counter-increment: deci4; display: inline-block; vertical-align: top; margin-left: -3.85em;width: 3.85em; content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) ". "; }
    .decimal5:before { transition: 0.5s;counter-increment: deci5; display: inline-block; vertical-align: top; margin-left: -2em;   width:  5em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) ". "; }
    .decimal6:before { transition: 0.5s;counter-increment: deci6; display: inline-block; vertical-align: top; margin-left: -2em;   width:  6em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) "."counter(deci6) ". "; }
    .decimal7:before { transition: 0.5s;counter-increment: deci7; display: inline-block; vertical-align: top; margin-left: -2em;   width:  7em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) "."counter(deci6) "."counter(deci7) ". "; }

    .multi1:before { transition: 0.5s;counter-increment: multi1; display: inline-block; vertical-align: top; margin-left: -1.3em;  width: 1.2em;  content: counter(multi1, upper-alpha) ". ";  }
    .multi2:before { transition: 0.5s;counter-increment: multi2; display: inline-block; vertical-align: top; margin-left: -2em;    width:   2em;  content: counter(multi1, upper-alpha) "."counter(multi2, decimal) ". "; }
    .multi3:before { transition: 0.5s;counter-increment: multi3; display: inline-block; vertical-align: top; margin-left: -2.85em; width:2.85em;  content: counter(multi1, upper-alpha) "."counter(multi2, decimal) "."counter(multi3, lower-alpha) ". "; }
    .multi4:before { transition: 0.5s;counter-increment: multi4; display: inline-block; vertical-align: top; margin-left: -4.2em;  width: 4.2em;    content: counter(multi1, upper-alpha) "."counter(multi2, decimal) "."counter(multi3, lower-alpha) "."counter(multi4, lower-roman) ". "; }
}

.formattedTextBox-inner-rounded-selected,
.formattedTextBox-inner-selected {
    .ProseMirror {
        padding:10px;
    }
    .ProseMirror:hover {
        background: unset;
    }
}

@media only screen and (max-width: 1000px) {
    @import "../../globalCssVariables";

    .ProseMirror {
        width: 100%;
        height: 100%;
        min-height: 100%;
    }

    .ProseMirror:focus {
        outline: none !important;
    }

    .formattedTextBox-cont {
        touch-action: none;
        cursor: text;
        background: inherit;
        padding: 0;
        border-width: 0px;
        border-radius: inherit;
        border-color: $intermediate-color;
        box-sizing: border-box;
        background-color: inherit;
        border-style: solid;
        overflow-y: auto;
        overflow-x: hidden;
        color: initial;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        transition: opacity 1s;

        .formattedTextBox-dictation {
            height: 12px;
            width: 10px;
            top: 0px;
            left: 0px;
            position: absolute;
        }
    }

    .formattedTextBox-outer {
        position: relative;
        overflow: auto;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .formattedTextBox-sidebar-handle {
        position: absolute;
        top: calc(50% - 17.5px);
        width: 10px;
        height: 35px;
        background: lightgray;
        border-radius: 20px;
        cursor:grabbing;
    }

    .formattedTextBox-cont>.formattedTextBox-sidebar-handle {
        right: 0;
        left: unset;
    }

    .formattedTextBox-sidebar,
    .formattedTextBox-sidebar-inking {
        border-left: dashed 1px black;
        height: 100%;
        display: inline-block;
        position: absolute;
        right: 0;

        .collectionfreeformview-container {
            position: relative;
        }

        >.formattedTextBox-sidebar-handle {
            right: unset;
            left: -5;
        }
    }

    .formattedTextBox-sidebar-inking {
        pointer-events: all;
    }

    .formattedTextBox-inner-rounded {
        height: 70%;
        width: 85%;
        position: absolute;
        overflow: auto;
        top: 15%;
        left: 10%;
    }

    .formattedTextBox-inner-rounded,
    .formattedTextBox-inner {
        height: 100%;
        white-space: pre-wrap;
        hr {
            display: block;
            unicode-bidi: isolate;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: auto;
            margin-inline-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    }

    // .menuicon {
    //     display: inline-block;
    //     border-right: 1px solid rgba(0, 0, 0, 0.2);
    //     color: #888;
    //     line-height: 1;
    //     padding: 0 7px;
    //     margin: 1px;
    //     cursor: pointer;
    //     text-align: center;
    //     min-width: 1.4em;
    // }

    .strong,
    .heading {
        font-weight: bold;
    }

    .em {
        font-style: italic;
    }

    .userMarkOpen {
        background: rgba(255, 255, 0, 0.267);
        display: inline;
    }

    .userMark {
        background: rgba(255, 255, 0, 0.267);
        font-size: 2px;
        display: inline-grid;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 10px;
        min-height: 10px;
        text-align: center;
        align-content: center;
    }

    footnote {
        display: inline-block;
        position: relative;
        cursor: pointer;

        div {
            padding: 0 !important;
        }
    }

    footnote::after {
        content: counter(prosemirror-footnote);
        vertical-align: super;
        font-size: 75%;
        counter-increment: prosemirror-footnote;
    }

    .ProseMirror {
        counter-reset: prosemirror-footnote;
    }

    .footnote-tooltip {
        cursor: auto;
        font-size: 75%;
        position: absolute;
        left: -30px;
        top: calc(100% + 10px);
        background: silver;
        padding: 3px;
        border-radius: 2px;
        max-width: 100px;
        min-width: 50px;
        width: max-content;
    }

    .prosemirror-attribution {
        font-size: 8px;
    }

    .footnote-tooltip::before {
        border: 5px solid silver;
        border-top-width: 0px;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        top: -5px;
        left: 27px;
        content: " ";
        height: 0;
        width: 0;
    }


    .formattedTextBox-inlineComment {
        position: relative;
        width: 40px;
        height: 20px;
        &::before {
            content: "→";
        }
        &:hover {
            background: orange;
        }
    }

    .formattedTextBox-summarizer {
        opacity: 0.5;
        position: relative;
        width: 40px;
        height: 20px;
        &::after {
            content: "←";
        }
    }

    .formattedTextBox-summarizer-collapsed {
        opacity: 0.5;
        position: relative;
        width: 40px;
        height: 20px;
        &::after {
            content: "...";
        }
    }

    .ProseMirror {
        touch-action: none;
        span {
            font-family: inherit;
        }

        ol, ul {
            counter-reset: deci1 0 multi1 0;
            padding-left: 1em;
            font-family: inherit;
        }
        ol {
            margin-left: 1em;
            font-family: inherit;
        }

        .decimal1-ol { counter-reset: deci1; p {display: inline; font-family: inherit} margin-left: 0; }
        .decimal2-ol { counter-reset: deci2; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 1em;}
        .decimal3-ol { counter-reset: deci3; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 2em;}
        .decimal4-ol { counter-reset: deci4; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 3em;}
        .decimal5-ol { counter-reset: deci5; p {display: inline; font-family: inherit} font-size: smaller; }
        .decimal6-ol { counter-reset: deci6; p {display: inline; font-family: inherit} font-size: smaller; }
        .decimal7-ol { counter-reset: deci7; p {display: inline; font-family: inherit} font-size: smaller; }

        .multi1-ol { counter-reset: multi1; p {display: inline; font-family: inherit} margin-left: 0;     padding-left: 1.2em }
        .multi2-ol { counter-reset: multi2; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 1.4em;}
        .multi3-ol { counter-reset: multi3; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 2em;}
        .multi4-ol { counter-reset: multi4; p {display: inline; font-family: inherit} font-size: smaller; padding-left: 3.4em;}

        .decimal1:before { transition: 0.5s;counter-increment: deci1; display: inline-block; margin-left: -1em;   width:  1em;   content: counter(deci1) ". ";  }
        .decimal2:before { transition: 0.5s;counter-increment: deci2; display: inline-block; margin-left: -2.1em; width: 2.1em;  content: counter(deci1) "."counter(deci2) ". ";  }
        .decimal3:before { transition: 0.5s;counter-increment: deci3; display: inline-block; margin-left: -2.85em;width: 2.85em; content: counter(deci1) "."counter(deci2) "."counter(deci3) ". "; }
        .decimal4:before { transition: 0.5s;counter-increment: deci4; display: inline-block; margin-left: -3.85em;width: 3.85em; content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) ". "; }
        .decimal5:before { transition: 0.5s;counter-increment: deci5; display: inline-block; margin-left: -2em;   width:  5em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) ". "; }
        .decimal6:before { transition: 0.5s;counter-increment: deci6; display: inline-block; margin-left: -2em;   width:  6em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) "."counter(deci6) ". "; }
        .decimal7:before { transition: 0.5s;counter-increment: deci7; display: inline-block; margin-left: -2em;   width:  7em;   content: counter(deci1) "."counter(deci2) "."counter(deci3) "."counter(deci4) "."counter(deci5) "."counter(deci6) "."counter(deci7) ". "; }

        .multi1:before { transition: 0.5s;counter-increment: multi1; display: inline-block; margin-left: -1em;    width: 1.2em;  content: counter(multi1, upper-alpha) ". ";  }
        .multi2:before { transition: 0.5s;counter-increment: multi2; display: inline-block; margin-left: -2em;    width:   2em;  content: counter(multi1, upper-alpha) "."counter(multi2, decimal) ". "; }
        .multi3:before { transition: 0.5s;counter-increment: multi3; display: inline-block; margin-left: -2.85em; width:2.85em;  content: counter(multi1, upper-alpha) "."counter(multi2, decimal) "."counter(multi3, lower-alpha) ". "; }
        .multi4:before { transition: 0.5s;counter-increment: multi4; display: inline-block; margin-left:   -4.2em;  width: 4.2em;    content: counter(multi1, upper-alpha) "."counter(multi2, decimal) "."counter(multi3, lower-alpha) "."counter(multi4, lower-roman) ". "; }
    }
}
