.FormattedTextBox-tooltip {
    position: absolute;
    pointer-events: all;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    background: white;
    border: 1px solid silver;
    border-radius: 7px;
    margin-bottom: 7px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 3px 3px 1.5px grey;
    max-width: 400;
    max-height: 235;
    height:max-content;
}

.FormattedTextBox-tooltip:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -6px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: silver;
}

.FormattedTextBox-tooltip:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -4.5px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: white;
}