node_modules
dist/
.DS_Store
.env
ClientUtils.ts
solr-8.3.1/server/logs/
solr-8.3.1/server/solr/dash/data/tlog/*
solr-8.3.1/server/solr/dash/data/index/*
src/scraping/buxton/final/source/
src/scraping/buxton/final/json/
src/scraping/buxton/source/
src/server/public/files/
src/scraping/acm/package-lock.json
src/server/session_manager/logs/**/*.log
*.crt
*.key
*.pfx
*.properties
debug.log
.vscodeignore