@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Crimson+Text:400,400i,700");

// colors
$light-color: #fcfbf7;
$light-color-secondary: rgb(241, 239, 235);
$main-accent: #61aaa3;
$alt-accent: #afcbff;
$intermediate-color: #9c9396;
$dark-color: #121721;

// fonts
$sans-serif: "Roboto Slab", sans-serif;
$serif: "Crimson Text", serif;

// misc values
$border-radius: 0.3em;
