// this file is for overriding all the css from installed node modules

// goldenlayout stuff
div .lm_header {
    background: #92ADB9;
    overflow: hidden;
}

/* Width */
.lm_header::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

/* Width */
.lm_header:hover::-webkit-scrollbar {
    -webkit-appearance: none;
    display: block;
    height: 0px;
}

/* Track */
.lm_header:hover::-webkit-scrollbar-track {
    -webkit-appearance: none;
    display: none;
}

/* Handle */
.lm_header:hover::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    background: #888;
}

/* Handle on hover */
.lm_header:hover::-webkit-scrollbar-thumb:hover {
    -webkit-appearance: none;
    background: #555;
}

.lm_tabs {
    display: flex;
    position: absolute;
    width: calc(100% - 60px);
    overflow: scroll;
}

.lm_tab {
    //   margin-top: 0.6em !important;
    //   padding-top: 0.5em !important;
    //   min-height: 1.35em;
    //   padding-bottom: 0px;
    //   border-radius: 5px;
    font-family: $sans-serif !important;
}

.lm_header .lm_controls {
    position: absolute;
    background-color: #92adb9;
    right: 0px;
    height: 22px;
}

// @TODO the ril__navgiation buttons in the img gallery are a lil messed up but I can't figure out
// why. Low priority for now but it's bugging me. --Julie