@import "globalCssVariables";
@import "nodeModuleOverrides";

.collectionLinearView-outer{
    overflow: hidden;
    height:100%;
    padding:5px;
    .collectionLinearView {
        display:flex;
        >label {
            background: $dark-color;
            color: $light-color;
            display: inline-block;
            border-radius: 18px;
            font-size: 25px;
            width: 36px;
            height: 36px;
            margin-right: 10px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        label p {
            padding-left: 10.5px;
            width: 500px;
            height: 500px;
        }

        label:hover {
            background: $main-accent;
            transform: scale(1.15);
        }

        >input {
            display: none;
        }
        >input:not(:checked)~.collectionLinearView-content {
            display: none;
        }

        >input:checked~label {
            transform: rotate(45deg);
            transition: transform 0.5s;
            cursor: pointer;
        }

        .collectionLinearView-content {
            display: flex;
            opacity: 1;
            padding: 0;
            position: relative;

            .collectionLinearView-docBtn {
                position:relative;
                margin-right: 10px;
            }
            .collectionLinearView-docBtn:hover {
                transform: scale(1.15);
            }

            .collectionLinearView-round-button {
                width: 36px;
                height: 36px;
                border-radius: 18px;
                font-size: 15px;
            }
            
            .collectionLinearView-round-button:hover {
                transform: scale(1.15);
            }
        }
    }
}
