@import "global_variables";
.contextMenu-cont {
    position: absolute;
    display: flex;
    z-index: 1000;
    box-shadow: #AAAAAA .2vw .2vw .4vw;
    flex-direction: column;
}

.contextMenu-item {
    width: auto;
    height: auto;
    background: #F0F8FF;
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s;
    border-width: .11px;
    border-style: none;
    border-color: rgb(187, 186, 186);
    border-bottom-style: solid;
    padding: 10px;
    white-space: nowrap;
    font-size: 1.5vw;
}

.contextMenu-item:hover {
    transition: all .1s;
    background: $light-emphasis;
}

.contextMenu-description {
    font-size: 1.5vw;
    text-align: left;
    width: 8vw;
}