@import "globalCssVariables";

$linkGap : 3px;

.documentDecorations {
    position: absolute;
}

.documentDecorations-container {
    z-index: $docDecorations-zindex;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 20px 8px 1fr 8px;
    grid-template-columns: 8px 16px 1fr 8px 8px;
    pointer-events: none;

    .documentDecorations-centerCont {
        grid-column: 3;
        background: none;
    }

    .documentDecorations-selector {
        pointer-events: auto;
        height: 15px;
        width: 15px;
        left: -20px;
        top: 20px;
        display: inline-block;
        position: absolute;
        opacity: 0.5;
    }

    .documentDecorations-radius {
        pointer-events: auto;
        opacity: 1;
        transform: translate(10px, 10px);
        grid-row: 4;
    }

    .documentDecorations-topLeftResizer,
    .documentDecorations-topRightResizer,
    .documentDecorations-bottomLeftResizer,
    .documentDecorations-bottomRightResizer,
    .documentDecorations-leftResizer,
    .documentDecorations-topResizer,
    .documentDecorations-bottomResizer,
    .documentDecorations-rightResizer {
        pointer-events: auto;
        background: $alt-accent;
        opacity: 0.1;
        &:hover {
            opacity: 1;
        }
    }

    .documentDecorations-topLeftResizer,
    .documentDecorations-leftResizer,
    .documentDecorations-bottomLeftResizer {
        grid-column: 1
    }

    .documentDecorations-topResizer,
    .documentDecorations-bottomResizer {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .documentDecorations-bottomRightResizer,
    .documentDecorations-topRightResizer,
    .documentDecorations-rightResizer {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .documentDecorations-rotation,
    .documentDecorations-borderRadius {
        grid-column: 5;
        grid-row: 4;
        border-radius: 100%;
        background: dimgray;
        height: 8;
        right: -12;
        top: 12;
        position: relative;
        pointer-events: all;
        cursor: grab;

        .borderRadiusTooltip {
            width: 10px;
            height: 10px;
            position: absolute;
        }
    }
    .documentDecorations-rotation {
        background: transparent;
        right: -15;
    }


    .documentDecorations-topLeftResizer,
    .documentDecorations-bottomRightResizer {
        cursor: nwse-resize;
        background: unset;
        opacity: 1;
    }

    .documentDecorations-topLeftResizer {
        border-left: 2px solid;
        border-top: solid 2px;
    }

    .documentDecorations-bottomRightResizer {
        border-right: 2px solid;
        border-bottom: solid 2px;
    }

    .documentDecorations-topLeftResizer:hover,
    .documentDecorations-bottomRightResizer:hover {
        opacity: 1;
    }

    .documentDecorations-bottomRightResizer {
        grid-row: 4;
    }

    .documentDecorations-topRightResizer,
    .documentDecorations-bottomLeftResizer {
        cursor: nesw-resize;
        background: unset;
        opacity: 1;
    }

    .documentDecorations-topRightResizer {
        border-right: 2px solid;
        border-top: 2px solid;
    }

    .documentDecorations-bottomLeftResizer {
        border-left: 2px solid;
        border-bottom: 2px solid;
    }

    .documentDecorations-topRightResizer:hover,
    .documentDecorations-bottomLeftResizer:hover {
        cursor: nesw-resize;
        background: dimGray;
        opacity: 1;
    }

    .documentDecorations-topResizer,
    .documentDecorations-bottomResizer {
        cursor: ns-resize;
    }

    .documentDecorations-leftResizer,
    .documentDecorations-rightResizer {
        cursor: ew-resize;
    }

    .documentDecorations-contextMenu {
        width: 25px;
        height: calc(100% + 8px); // 8px for the height of the top resizer bar
        grid-column-start: 2;
        grid-column-end: 2;
        pointer-events: all;
        padding-left: 5px;
        cursor: pointer;
    }

    .documentDecorations-title {
        opacity: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        pointer-events: auto;
        overflow: hidden;
        text-align: center;
        display: flex;
        border-bottom: solid 1px;
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .focus-visible {
        margin-left: 0px;
    }

    .publishBox {
        width: 20px;
        height: 22px;
        grid-column-start: 3;
        grid-column-end: 4;
        pointer-events: all;
        background: darkgray;
        display: inline-block;
        position: absolute;
        right: 0;
    }
}


.documentDecorations-iconifyButton {
    opacity: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    pointer-events: all;
    text-align: center;
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 20px;
}

.documentDecorations-openInTab {
    opacity: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    pointer-events: all;
    text-align: center;
    cursor: pointer;
}

.documentDecorations-closeButton {
    opacity: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    pointer-events: all;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8px;
    height: $MINIMIZED_ICON_SIZE;
    max-height: 20px;

    >svg {
        margin: 0;
    }
}

.documentDecorations-background {
    background: lightblue;
    position: absolute;
    opacity: 0.1;
}

.linkFlyout {
    grid-column: 2/4;
}

.linkButton-empty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.linkButton-nonempty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.link-button-container {
    padding: $linkGap;
    border-radius: 10px;
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 998;
    position: absolute;
    background: $alt-accent;
}

.linkButtonWrapper {
    pointer-events: auto;
    padding-right: 5px;
    width: 25px;
}

.linkButton-linker {
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    pointer-events: auto;
    color: $dark-color;
    border: $dark-color 1px solid;
}

.linkButton-linker:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.linkButton-empty,
.linkButton-nonempty {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: auto;
    background-color: $dark-color;
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $main-accent;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.templating-menu {
    position: absolute;
    pointer-events: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentdecorations-icon {
    margin-top: 3px;
}

.documentdecorations-times {
    margin-top: 3px;
    padding-right: 3px;
}

.templating-button,
.docDecs-tagButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.9;
    font-size: 14;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: $main-accent;
        transform: scale(1.05);
    }
}

.documentDecorations-darkScheme {
    background: dimgray;
}

#template-list {
    position: absolute;
    top: 25px;
    left: 0px;
    width: max-content;
    font-family: $sans-serif;
    font-size: 12px;
    background-color: $light-color-secondary;
    padding: 2px 12px;
    list-style: none;

    .templateToggle,
    .chromeToggle {
        text-align: left;
    }

    input {
        margin-right: 10px;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.8);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }
}