#documentDecorations-container {
    position: absolute;
    display: grid;
    z-index: 1000;
    grid-template-rows: 20px 20px 1fr 20px;
    grid-template-columns: 20px 1fr 20px;
    pointer-events: none;
    #documentDecorations-centerCont {
        background: none;
    }
    .documentDecorations-resizer {
        pointer-events: auto;
        background: lightblue;
        opacity: 0.4;
    }
    #documentDecorations-topLeftResizer,
    #documentDecorations-bottomRightResizer {
        cursor: nwse-resize;
    }
    #documentDecorations-topRightResizer,
    #documentDecorations-bottomLeftResizer {
        cursor: nesw-resize;
    }
    #documentDecorations-topResizer,
    #documentDecorations-bottomResizer {
        cursor: ns-resize;
    }
    #documentDecorations-leftResizer,
    #documentDecorations-rightResizer {
        cursor: ew-resize;
    }
    .title{
        background: lightblue;
        grid-column-start:1;
        grid-column-end: 4;
        cursor: ne-resize;
    }
}