.gestureOverlay-cont {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
}

.clipboardDoc-cont {
    position: absolute;
    width: 300px;
    height: 300px;
}

.inkToTextDoc-cont {
    position: absolute;
    width: 300px;
    overflow: hidden;

    .inkToTextDoc-scroller {
        overflow: visible;
        position: absolute;
        width: 100%;
        left: -24px;

        .collectionView {
            overflow: visible;

            .collectionLinearView-outer {
                overflow: visible;
            }
        }
    }

    .shadow {
        width: 100%;
        height: calc(100% - 25px);
        position: absolute;
        top: 25px;
        background-color: black;
        opacity: 0.2;
    }
}

.filter-cont {
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
}