@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Crimson+Text:400,400i,700");
// colors
$light-color: #fcfbf7;
$light-color-secondary:#f1efeb;
//$main-accent: #61aaa3;
$main-accent: #aaaaa3;
// $alt-accent: #cdd5ec;
// $alt-accent: #cdeceb;
//$alt-accent: #59dff7;
$alt-accent: #c2c2c5;
$lighter-alt-accent: rgb(207, 220, 240);
$darker-alt-accent: rgb(178, 206, 248);
$intermediate-color: #9c9396;
$dark-color: #121721;
$link-color: lightBlue;
$antimodemenu-height: 35px;
// fonts
$sans-serif: "Noto Sans",
sans-serif;
// $sans-serif: "Roboto Slab", sans-serif;
$serif: "Crimson Text",
serif;
// misc values
$border-radius: 0.3em;
//
$search-thumnail-size: 130;

// dragged items
$contextMenu-zindex: 100000; // context menu shows up over everything
$radialMenu-zindex: 100000; // context menu shows up over everything

$mainTextInput-zindex: 999; // then text input overlay so that it's context menu will appear over decorations, etc
$docDecorations-zindex: 998; // then doc decorations appear over everything else
$remoteCursors-zindex: 997; // ... not sure what level the remote cursors should go -- is this right?
$COLLECTION_BORDER_WIDTH: 1;
$MINIMIZED_ICON_SIZE:25;
$MAX_ROW_HEIGHT: 44px;

:export {
    contextMenuZindex: $contextMenu-zindex;
    COLLECTION_BORDER_WIDTH: $COLLECTION_BORDER_WIDTH;
    MINIMIZED_ICON_SIZE: $MINIMIZED_ICON_SIZE;
    MAX_ROW_HEIGHT: $MAX_ROW_HEIGHT;
    SEARCH_THUMBNAIL_SIZE: $search-thumnail-size;
    ANTIMODEMENU_HEIGHT: $antimodemenu-height;
}