@import "global_variables";

.inkingCanvas-paths-ink, .inkingCanvas-paths-markers, .inkingCanvas-noSelect, .inkingCanvas-canSelect {
    position: absolute;
    top: -4096px;
    left: -4096px;
    width: 8192px;
    height: 8192px;
    .inkingCanvas-children {
      transform: translate(4096px, 4096px);
      pointer-events: none;
    }
    cursor:"crosshair";
    pointer-events: auto;
    
}
.inkingCanvas-noSelect  {
    pointer-events: none;
    cursor: "arrow";
}
.inkingCanvas-paths-ink, .inkingCanvas-paths-markers {
    pointer-events: none;
    z-index: 10000; // overlays ink on top of everything 
    cursor: "arrow";
}
.inkingCanvas-paths-markers {
    mix-blend-mode: multiply;
}

