.inkingStroke {
    mix-blend-mode: multiply;
    stroke-linejoin: round;
    stroke-linecap: round;
    overflow: visible !important;
    transform-origin: top left;

    svg:not(:root) {
        overflow: visible !important;
    }
}