@import "global_variables";

.inkingCanvas-paths, .inkingCanvas-paths-none {
    position: absolute;
    top: -50000px;
    left: -50000px;
    width: 100000px;
    height: 100000px;
    //z-index: 10000; // z-index: 99; //overlays ink on top of everything but that messes up blending and events don't propagate down to nested collections
    .highlight {
        mix-blend-mode: multiply;
    }
    .inkingCanvas-children {
      transform: translate(50000px, 50000px);
      pointer-events: none;
    }
    cursor:"crosshair";
    pointer-events: auto;
    
}
.inkingCanvas-paths-none {
    pointer-events: none;
    cursor: "arrow";
}

