.mainViewModal-cont {
    pointer-events: all;
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    .dialogue-box {
        position: absolute;
        z-index: 1000;
        text-align: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        padding: 20px;
        // background: gainsboro;
        background: white;
        border-radius: 10px;
        border: 0.5px solid black;
        box-shadow: #00000044 5px 5px 10px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        transition: 0.5s all ease;
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        transition: 0.5s all ease;
    }

}