@import "globalCssVariables";
@import "nodeModuleOverrides";


.mainView-tabButtons {
    position: relative;
    width: 100%;
    .documentView-node-topmost {
        height: 200% !important;
    }
}

.mainContent-div {
    position: relative;
    width:100%;
    height:100%;
}

.mainView-contentArea {
    .documentView-node-topmost {
        height: 200% !important;
    }
}
// add nodes menu. Note that the + button is actually an input label, not an actual button.
.mainView-docButtons {
    position: absolute;
    bottom: 20px;
    left: calc(100% + 5px);
    z-index: 1;
}

#mainView-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainView-mainContent {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.mainView-flyoutContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    .documentView-node-topmost {
        background: lightgrey;
    }
}

.mainView-mainDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


.mainView-settings {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 8px;
}

.mainView-settings:hover {
    transform: none !important;
}

.mainView-logout {
    position: absolute;
    right: 5;
    bottom: 5;
    font-size: 8px;
}

.mainView-logout:hover {
    transform: none !important;
}

.mainView-libraryFlyout {
    height: 100%;
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.mainView-expandFlyoutButton {
    position: absolute;
    top: 100px;
    right: 30px;
    cursor: pointer;
}

.mainView-libraryHandle {
    width: 20px;
    left: calc(100% - 10px);
    height: 40px;
    top: 50%;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    touch-action: none;
    cursor: ew-resize;
}

.mainView-workspace {
    height: 200px;
    position: relative;
    display: flex;
}

.mainView-library {
    height: 75%;
    position: relative;
    display: flex;
}

.mainView-recentlyClosed {
    height: 25%;
    position: relative;
    display: flex;
}