.mainNotifs-container {
    position:absolute;
    z-index: 1000;
    top: 12px;

    .mainNotifs-badge {
        position: absolute;
        top: -10px;
        right: -10px;
        color: white;
        background: #f44b42;
        font-weight: 300;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        text-align: center;
        padding-top: 4px;
        font-size: 12px;
    }
}