@import "globalCssVariables";
@import "nodeModuleOverrides";

.dash-tooltip {
    font-size: 11px;
    padding: 2px;
}

.mainView-tabButtons {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.mainContent-div {
    position: relative;
    width: 100%;
    height: 100%;
}

// add nodes menu. Note that the + button is actually an input label, not an actual button.
.mainView-docButtons {
    position: absolute;
    bottom: 20px;
    left: calc(100% + 5px);
    z-index: 1;
}

.mainView-snapLines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mainView-container,
.mainView-container-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    z-index: 1;
    touch-action: none;

    .searchBox-container {
        background: lightgray;
    }
}

.mainView-container {
    color: dimgray;

    .lm_title {
        background: #cacaca;
        color: black;
    }
}

.mainView-container-dark {
    color: lightgray;

    .lm_goldenlayout {
        background: dimgray;
    }

    .lm_title {
        background: black;
        color: unset;
    }

    .marquee {
        border-color: white;
    }

    #search-input {
        background: lightgray;
    }

    .searchBox-container {
        background: rgb(45, 45, 45);
    }

    .contextMenu-cont,
    .contextMenu-item {
        background: dimGray;
    }

    .contextMenu-item:hover {
        background: gray;
    }
}

.mainView-mainContent {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    user-select: none;
}

.mainView-flyoutContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background: dimgray;

    .documentView-node-topmost {
        background: lightgrey;
    }
}

.mainView-menuPanel {

    max-width: 95px;
    background-color: rgb(105, 105, 105);
    padding: 20px;
    padding-right: 50px;

    .mainView-menuPanel-button {
        width: 50px;
        height: 50px;
        padding: 10px;
        pointer-events: all;
        touch-action: none;
        border-radius: inherit;
        background: black;
        border-radius: 100%;
        transform-origin: top left;
        margin-bottom: 23px;
        margin-top: 5px;

        margin-right: 25px;

        .mainView-menuPanel-button-label {
            background: rgb(168, 168, 168);
            color: black;
            margin-left: -10px;
            border-radius: 8px;
            width: 65px;
            position: absolute;
            text-align: center;
            font-size: 9.5px;
            margin-top: 4px;
            letter-spacing: normal;
            padding: 3px;
            //margin-bottom: 23px;
        }

        .mainView-menuPanel-button-icon {
            width: 35px;
            height: 35px;
            padding: 5px;
        }

        svg {
            width: 95% !important;
            height: 95%;
        }
    }

    .mainView-menuPanel-bottomButton {
        width: 50px;
        height: 50px;
        padding: 10px;
        pointer-events: all;
        touch-action: none;
        border-radius: inherit;
        background: dimgray;
        background-color: dimgray;
        border-radius: 100%;
        transform-origin: top left;
        margin-bottom: 23px;
        margin-top: 5px;

        margin-right: 25px;

        .mainView-menuPanel-bottomButton-label {
            background: dimgray;
            color: black;
            margin-left: -10px;
            border-radius: 8px;
            width: 65px;
            position: absolute;
            text-align: center;
            font-size: 9.5px;
            margin-top: 2px;
            letter-spacing: normal;
            padding: 3px;
            //margin-bottom: 23px;
        }

        .mainView-menuPanel-bottomButton-icon {
            width: 50px;
            height: 50px;
            color: black;
        }

        svg {
            width: 95% !important;
            height: 95%;
        }
    }
}

.mainView-searchPanel {
    width: 100%;
    height: 33px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}

.mainView-mainDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.buttonContainer {

    position: absolute;
    bottom: 0;

    .mainView-settings {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        border-radius: 25%;
        margin-left: -5px;
        background: darkblue;
    }

    .mainView-settings:hover {
        transform: none !important;
    }
}



.mainView-logout {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8px;
}

.mainView-logout:hover {
    transform: none !important;
}

.mainView-libraryFlyout {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.mainView-expandFlyoutButton {
    position: absolute;
    top: 100px;
    right: 30px;
    cursor: pointer;
}

.mainView-libraryHandle {
    width: 20px;
    left: calc(100% - 10px);
    height: 40px;
    top: 50%;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    touch-action: none;
    cursor: ew-resize;
}

.mainView-workspace {
    height: 200px;
    position: relative;
    display: flex;
}

.mainView-library {
    height: 75%;
    position: relative;
    display: flex;
}

.mainView-recentlyClosed {
    height: 25%;
    position: relative;
    display: flex;
}