@import "globalCssVariables";
@import "nodeModuleOverrides";

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: $sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

div {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.jsx-parser {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
}

p {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

// button stuff
button {
    background: $dark-color;
    outline: none;
    border: 0px;
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    padding: 10px;
    transition: transform 0.2s;
}

button:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.clear-db-button {
    position: absolute;
    right: 45%;
    bottom: 3%;
    font-size: 50%;
}

.round-button {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    font-size: 15px;
}

.round-button:hover {
    transform: scale(1.15);
}

.add-button {
    position: relative;
    margin-right: 10px;
}

.main-undoButtons {
    position: absolute;
    width: 150px;
    right: 0px;
}

//toolbar stuff
#toolbar {
    position: absolute;
    right: 8px;
    top: 5px;

    .toolbar-button {
        display: block;
        margin-bottom: 10px;
    }
}

.toolbar-color-picker {
    background-color: $light-color;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    bottom: 36px;
    left: -3px;
    box-shadow: $intermediate-color 0.2vw 0.2vw 0.8vw;
}

.toolbar-color-button {
    border-radius: 11px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center; //   span {
    //     color: $light-color;
    //     font-size: 8px;
    //     user-select: none;
    //   }
    margin-top: -2.55px;
    margin-left: -2.55px;
}

// add nodes menu. Note that the + button is actually an input label, not an actual button.
#add-nodes-menu {
    position: absolute;
    bottom: 22px;
    left: 250px;

    >label {
        background: $dark-color;
        color: $light-color;
        display: inline-block;
        border-radius: 18px;
        font-size: 25px;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    label p {
        padding-left: 10.5px;
    }

    label:hover {
        background: $main-accent;
        transform: scale(1.15);
    }

    >input {
        display: none;
    }

    >input:not(:checked)~#add-options-content {
        display: none;
    }

    >input:checked~label {
        transform: rotate(45deg);
        transition: transform 0.5s;
        cursor: pointer;
    }
}

#root {
    overflow: visible;
}

#main-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1;
}

#mainContent-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#add-options-content {
    display: flex;
    opacity: 1;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    .mainView-docBtn {
        position:relative;
        margin-right: 10px;
        width: 35px;
        height: 35px;
    }
    .collectionFreeFormDocumentView-container {
        position: relative;
    }
}

ul#add-options-list {
    list-style: none;
    padding: 5 0 0 0;

    >li {
        display: inline-block;
        padding: 0;
    }
}
.mainView-logout {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8px;
}

.mainView-libraryFlyout {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.expandFlyoutButton {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.mainView-libraryHandle {
    width: 20px;
    height: 40px;
    top: 50%;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.svg-inline--fa {
    vertical-align: unset;
}

.mainView-workspace {
    height: 200px;
    position: relative;
    display: flex;
}

.mainView-library {
    height: 75%;
    position: relative;
    display: flex;
}

.mainView-recentlyClosed {
    height: 25%;
    position: relative;
    display: flex;
}