@import "globalCssVariables";
@import "nodeModuleOverrides";

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: $sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

// div {
//     user-select: none;
//     -moz-user-select: none;
//     -webkit-user-select: none;
//     -ms-user-select: none;
// }


.jsx-parser {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    position: inherit;
   // background: inherit;
}

p {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width:  8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

// button stuff
button {
    background: $dark-color;
    outline: none;
    border: 0px;
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    padding: 10px;
    transition: transform 0.2s;
}

button:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.svg-inline--fa {
    vertical-align: unset;
}