@import "globalCssVariables";
@import "nodeModuleOverrides";

.dash-tooltip {
    font-size: 11px;
    padding: 2px;
    max-width: 150;
    line-height: 150%;
}

.mainView-tabButtons {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.mainContent-div {
    position: relative;
    width: 100%;
    height: 100%;
}

// add nodes menu. Note that the + button is actually an input label, not an actual button.
.mainView-docButtons {
    position: absolute;
    bottom: 35px;
    left: calc(100% + 5px);
    z-index: 1;
}

.mainView-snapLines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mainView-container,
.mainView-container-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    z-index: 1;
    touch-action: none;

    .searchBox-container {
        background: lightgray;
    }
}

.mainView-container {
    color: dimgray;

    .lm_title {
        background: #cacaca;
        color: black;
    }
}

.mainView-container-dark {
    color: lightgray;

    .lm_goldenlayout {
        background: dimgray;
    }

    .lm_title {
        background: black;
        color: unset;
    }

    .marquee {
        border-color: white;
    }

    #search-input {
        background: lightgray;
    }

    .searchBox-container {
        background: rgb(45, 45, 45);
    }

    .contextMenu-cont,
    .contextMenu-item {
        background: dimGray;
    }

    .contextMenu-item:hover {
        background: gray;
    }
}

.mainView-mainContent {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    user-select: none;
}

.mainView-propertiesDragger {
    //background-color: rgb(140, 139, 139);
    background-color: lightgrey;
    height: 55px;
    width: 17px;
    position: absolute;
    top: 55%;
    border: 1px black solid;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: unset;
    z-index: 2;

    .mainView-propertiesDragger-icon {
        width: 10px;
        height: 10px;
        float: left;
        margin-left: 5.5px;
        padding-top: 19px;
    }

    &:hover {
        cursor: grab;
    }
}

.mainiView-propertiesView {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 1px;
    z-index: 100000;
    cursor: auto;
}

.mainView-flyoutContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background: dimgray;

    .documentView-node-topmost {
        background: lightgrey;
    }
}

.mainView-menuPanel {

    width: 60px;
    background-color: #121721;
    height: calc(100% - $searchpanel-height);
    //overflow-y: scroll;
    //overflow-x: hidden;


    .mainView-menuPanel-button {
        padding: 7px;
        padding-left: 7px;
        width: 100%;
        background: black;

        .mainView-menuPanel-button-wrap {
            width: 45px;
            /* padding: 5px; */
            touch-action: none;
            background: black;
            transform-origin: top left;
            /* margin-bottom: 5px; */
            margin-top: 5px;
            margin-right: 25px;
            border-radius: 8px;

            &:hover {
                background: rgb(61, 61, 61);
                cursor: pointer;
            }
        }
    }

    .mainView-menuPanel-button-label {
        color: white;
        margin-left: px;
        margin-right: 4px;
        border-radius: 8px;
        width: 42px;
        position: relative;
        text-align: center;
        font-size: 8px;
        margin-top: 1px;
        letter-spacing: normal;
        padding: 3px;
        background-color: inherit;
    }

    .mainView-menuPanel-button-icon {
        width: auto;
        height: 35px;
        padding: 5px;
    }

    svg {
        width: 95% !important;
        height: 95%;
    }
}

.mainView-searchPanel {
    width: 100%;
    height: $searchpanel-height;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.mainView-mainDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.buttonContainer {

    position: absolute;
    bottom: 0;

    .mainView-settings {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        border-radius: 25%;
        margin-left: -5px;
        background: darkblue;
    }

    .mainView-settings:hover {
        transform: none !important;
    }
}



.mainView-logout {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8px;
}

.mainView-logout:hover {
    transform: none !important;
}

.mainView-libraryFlyout {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .mainView-libraryFlyout-close {
        right: 6;
        top: 5;
        position: absolute;
        margin-right: 6px;
        z-index: 10;
        margin-bottom: 10;
    }
}

.mainView-expandFlyoutButton {
    position: absolute;
    top: 120px;
    right: 55px;
    cursor: pointer;
}

.mainView-libraryHandle {
    width: 28px;
    left: calc(100% - 10px);
    height: 55px;
    top: 50%;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    touch-action: none;
    background-color: lightgrey;
    cursor: grab;

    .mainView-libraryHandle-icon {
        width: 10px;
        height: 10px;
        float: right;
        margin-right: 3px;
        padding-top: 19px;
    }

}

.mainView-dashboard {
    height: 200px;
    position: relative;
    display: flex;
}

.mainView-library {
    height: 75%;
    position: relative;
    display: flex;
}

.mainView-inactiveDocs {
    height: 25%;
    position: relative;
    display: flex;
}