
.marqueeAnnotator-annotationBox {
    position: absolute;
    background-color: rgba(245, 230, 95, 0.616);
}


.marqueeAnnotator-dragBox {
    position:absolute;
    background-color: transparent;
    opacity: 0.1;
}