.palette-container {
    .palette-thumb {
        touch-action: pan-x;
        position: absolute;
        height: 70px;
        overflow: hidden;

        .palette-thumbContent {
            transition: transform .3s;
            width: max-content;
            overflow: hidden;

            .collectionView {
                overflow: visible;

                .collectionLinearView-outer {
                    overflow: visible;
                }
            }
        }

        .palette-cover {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 0;
            border: 1px solid black;
        }
    }
}