.presentationView-cont {
    position: absolute;
    background: blue;
    z-index: 1;
    box-shadow: #AAAAAA .2vw .2vw .4vw;
    right: 0;
    top:0;
    bottom:0;
}

.presentationView-item {
    width: 10vw;
    height: 6vh;
    background: #DDDDDD;
    flex-direction: column;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s;
}

.presentationView-item:hover {
    transition: all .1s;
    background: #AAAAAA
}