@import "globalCssVariables";

$linkGap : 3px;

.propertiesButtons-linkFlyout {
    grid-column: 2/4;
}

.propertiesButtons-linkButton-empty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.propertiesButtons-linkButton-nonempty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.propertiesButtons-linkButton-empty,
.propertiesButtons-linkButton-nonempty {
    height: 25px;
    width: 29px;
    border-radius: 6px;
    pointer-events: auto;
    background-color: #121721;
    color: #fcfbf7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 4px;

    &:hover {
        background: $main-accent;
        transform: scale(1.05);
        cursor: pointer;
    }
}
.propertiesButtons-linkButton-empty.toggle-on {
    background-color: white;
    color: black;
}
.propertiesButtons-linkButton-empty.toggle-hover {
    background-color: gray;
    color: black;
}
.propertiesButtons-linkButton-empty.toggle-off {
    color: white;
}

.propertiesButtons {
    margin-top: 3px;
    grid-column: 1/4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5.5px;
}

.onClickFlyout-editScript {
    text-align: center;
    border: 0.5px solid grey;
    background-color: rgb(230, 230, 230);
    border-radius: 9px;
    padding: 4px;
}


.propertiesButtons-button {
    pointer-events: auto;
    padding-right: 5px;
    width: 25px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 8px;
}

.propertiesButtons-title {
    background: #121721;
    color: white;
    font-size: 6px;
    width: 37px;
    padding: 3px;
    height: 12px;
    border-radius: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -4px;
}

.propertiesButtons-linker {
    height: 25px;
    width: 29px;
    text-align: center;
    border-radius: 6px;
    pointer-events: auto;
    background-color: #121721;
    color: #fcfbf7;
    transition: 0.2s ease all;
    margin-right: 5px;
    padding-top: 5px;
    margin-left: 4px;

    &:hover {
        background: $main-accent;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.propertiesButtons-linker:hover {
    cursor: pointer;
    transform: scale(1.05);
}


@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.8);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }
}