@import "globalCssVariables";

.searchBox-bar {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;

    .searchBox-input {
        width: 130px;
        -webkit-transition: width 0.4s;
        transition: width 0.4s;
        align-self: stretch;
    }

    .searchBox-input:focus {
        width: 500px;
        outline: 3px solid lightblue;
    }

    .searchBox-barChild {
        flex: 0 1 auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .searchBox-filter {
        align-self: stretch;
    }

    .searchBox-submit {
        color: $dark-color;
    }

    .searchBox-submit:hover {
        color: $main-accent;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.searchBox-results {
    margin-left: 27px; //Is there a better way to do this?
}

.filter-form {
    background: $dark-color;
    height: 400px;
    position: relative;
    right: 1px;
    color: $light-color;
    padding: 10px;
    flex-direction: column;
}

#header {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 100%;
    height: 40px;
}

#option {
    height: 20px;
}

.searchBox-results {
    top: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 72px;

    .search-item {
        float: right;
        position: relative;
        z-index: 1000;
        pointer-events: auto;
        width: 500px;
        background: $light-color-secondary;
        justify-content: space-between;
        align-items: center;
        border-width: 0.11px;
        border-style: none;
        border-color: $intermediate-color;
        border-bottom-style: solid;
        padding: 10px;
        white-space: nowrap;
        font-size: 13px;
        height: 70px;
    }

    .search-info {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .main-search-info {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .search-item:hover {
        transition: all 0.2s;
        background: $lighter-alt-accent;
    }

    .search-title {
        text-transform: uppercase;
        text-align: left;
        width: 8vw;
        font-weight: bold;
    }

    .more-search-info {
        text-align: left;
    }

    .link-count {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: $dark-color;
        color: $light-color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .search-type {
        width: 25PX;
        height: 25PX;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .searchBox-instances {
        float: left;
        display: inline-block;
        opacity: 1;
        width: 150px;
        transition: all 0.2s ease;
        color: black;
        transform-origin: top right;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        height: 100%
    }

    .collection{
        border-color: $darker-alt-accent;
        border-bottom-style: solid;
    }

    .search-overview {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 70px;
    }

    .parents{
        background: $light-color-secondary;
        padding: 10px;
    }

    .search-item:hover~.searchBox-instances, .searchBox-instances:hover {
        opacity: 1;
        background: $lighter-alt-accent;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}