.sidebarAnnos-tagList {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-flow: row;
    flex-wrap: wrap;
    .sidebarAnnos-filterTag, .sidebarAnnos-filterTag-active,
    .sidebarAnnos-filterUser, .sidebarAnnos-filterUser-active {
        font-weight: bold;
        font-size: 10px;
        padding-left: 5;
        padding-right: 5;
        box-shadow: black 1px 1px 3px;
        border-radius: 5;
        margin: 2; 
        height: 15;
        background-color: lightgrey;
    }
    .sidebarAnnos-filterUser, .sidebarAnnos-filterUser-active {
        border-radius: 15px;
    }
    .sidebarAnnos-filterTag-active {
        background-color: white;
    }
}