
extends ./layout

block content
    style
        include ./stylesheets/authentication.css
    form.form-horizontal(id='login-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .overlay(id='overlay_login')
            a(href="/signup")
                img(id='new_user', src="https://bit.ly/2EuqPb4", alt="")
            a(href="/forgot")
                img(id='forgot', src="https://bit.ly/2XjHpSo", alt="")
            .inner.login
                h3.auth_header Log In
                .form-group
                    .col-sm-7
                    input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                .form-group
                    .col-sm-7
                    input.form-control(type='password', name='password', id='password', placeholder='Password', required)
                .form-group
                    .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(id='submit', type='submit')
                        i.fa.fa-user-plus
                        | Submit