
extends ./layout

block content
    style
        include ./stylesheets/authentication.css
    form.form-horizontal(id='workspace-form', method='POST', action='/home')
        input(type='hidden', name='_csrf', value=_csrf)
        .overlay(id='overlay_workspaces')
            h3.workspace-header Select A Workspace
            ul.workspaceList
                each val, index in ids
                    li.workspaceId(onclick='console.log("' + val + '")')= (index + 1) + ') ' + val