.presElementBox-item {
    padding: 10px;
    display: inline-block;
    background-color: #eeeeee;
    pointer-events: all;
    width: 100%;
    outline-color: maroon;
    outline-style: dashed;
    border-radius: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s;

    .documentView-node {
        position: absolute;
        z-index: 1;
    }
}

.presElementBox-item-above {
    border-top: black 2px solid;
}

.presElementBox-item-below {
    border-bottom: black 2px solid;
}

.presElementBox-item:hover {
    transition: all .1s;
    background: #AAAAAA;
    border-radius: 12px;
}

.presElementBox-selected {
    background: gray;
    color: black;
    border-radius: 12px;
    box-shadow: black 2px 2px 5px;
}

.presElementBox-closeIcon {
    border-radius: 20px;
    transform:scale(0.7);
    position: absolute;
    right: 0;
    top: 0;
}

.presElementBox-interaction {
    color: gray;
    float: left;
}

.presElementBox-interaction-selected {
    color: white;
    float: left;
}

.presElementBox-name {
    font-size: 15px;
    position: absolute;
    display: inline-block;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.presElementBox-embedded {
    position: relative;
    margin-top: 30;
}

.presElementBox-embeddedMask {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: transparent;
    z-index:2;
}