.presElementBox-item {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    background-color: #d5dce2;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    position: relative;
    pointer-events: all;
    width: 100%;
    height: 100%;
    font-weight: 400;
    border-radius: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s;
    padding: 0px;
    padding-bottom: 3px;

    .presElementBox-highlight {
        position: absolute;
        transform: translate(-100px, -6px);
        z-index: -1;
        width: calc(100% + 200px);
        height: calc(100% + 12px);
        background-color: #AEDDF8;
    }

    .documentView-node {
        position: absolute;
        z-index: 1;
    }
}

.presElementBox-item-above {
    border-top: black 2px solid;
}

.presElementBox-item-below {
    border-bottom: black 2px solid;
}

.presElementBox-item:hover {
    transition: all .1s;
    background: #AAAAAA;
    border-radius: 6px;
}

.presElementBox-active {
    color: black;
    border-radius: 6px;
    border: solid 2px #5B9FDD;
}

.presElementBox-buttons {
    display: grid;
    grid-template-rows: 15px;
    top: 15px;
    left: -20;
    position: absolute;
    width: 100%;
    height: auto;

    .presElementBox-interaction {
        display: none;
    }

    .presElementBox-interaction-selected {
        color: grey;
        background-color: rgba(0, 0, 0, 0);
        float: left;
        padding: 0px;
        width: 20px;
        height: 20px;
    }
}

.presElementBox-number {
    font-size: 12px;
    font-weight: 700;
    left: -15;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.presElementBox-name {
    align-self: center;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 500;
    position: relative;
    top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: normal;
    max-width: max-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.presElementBox-time {
    align-self: center;
    position: relative;
    top: 2px;
    padding-right: 10px;
    font-size: 10;
    font-weight: 300;
    font-family: Roboto;
    /* font-style: italic; */
    letter-spacing: normal;
    /* left: 10px; */
}

.presElementBox-embedded {
    grid-column: 1/8;
    position: relative;
    display: flex;
    width: auto;
    justify-content: center;
    margin: auto;
}

.presElementBox-embeddedMask {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.presElementBox-closeIcon {
    position: absolute;
    border-radius: 100%;
    z-index: 300;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 75%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.presElementBox-expand {
    position: absolute;
    border-radius: 100%;
    z-index: 300;
    right: 26px;
    top: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 75%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.presElementBox-expand-selected {
    position: absolute;
    border-radius: 100%;
    right: 3px;
    bottom: 3px;
    width: 20px;
    height: 20px;
    z-index: 200;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}