.presElementBox-item {
    display: inline-block;
    background-color: #eeeeee;
    pointer-events: all;
    width: 100%;
    height: 100%;
    outline-color: maroon;
    outline-style: dashed;
    border-radius: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s;
    padding: 0px;
    padding-bottom: 3px;

    .documentView-node {
        position: absolute;
        z-index: 1;
    }
}

.presElementBox-item-above {
    border-top: black 2px solid;
}

.presElementBox-item-below {
    border-bottom: black 2px solid;
}

.presElementBox-item:hover {
    transition: all .1s;
    background: #AAAAAA;
    border-radius: 6px;
}

.presElementBox-active {
    background: gray;
    color: black;
    border-radius: 6px;
    box-shadow: black 2px 2px 5px;
}

.presElementBox-closeIcon {
    border-radius: 20px;
    transform: scale(0.7);
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}


.presElementBox-buttons {
    display: flow-root;
    position: relative;
    width: 100%;
    height: auto;

    .presElementBox-interaction {
        color: gray;
        float: left;
        padding: 0px;
        width: 20px;
        height: 20px;
    }

    .presElementBox-interaction-selected {
        color: white;
        float: left;
        padding: 0px;
        width: 20px;
        height: 20px;
        border: solid 1px darkgray;
    }
}

.presElementBox-name {
    font-size: 12px;
    position: absolute;
    display: inline-block;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.presElementBox-embedded {
    position: relative;
    display: flex;
    width: auto;
    justify-content: center;
    margin: auto;
}

.presElementBox-embeddedMask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 2;
}

@media only screen and (max-device-width: 480px) {
    .presElementBox-buttons {
        display: inline-flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 50%;

        .presElementBox-interaction {
            width: 50;
            height: 50;
        }

        .presElementBox-interaction-selected {
            width: 50;
            height: 50;
        }
    }

    .presElementBox-item {
        display: inline-flex;
        overflow: hidden;
    }

    .presElementBox-closeIcon {
        transform: scale(1.5);
        right: 10;
        top: 10;
    }

    .presElementBox-name {
        font-size: 30px;
        top: 10px;
        z-index: 3;
        width: 50%;
    }

    .presElementBox-embedded {
        transform: translate(0, 90px) scale(1.5);
    }
}