.collectionfreeformview-container {

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0,0,0,.5);
    }
    
    .collectionfreeformview > .jsx-parser{
        position:absolute;
        height: 100%;
    }
        
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .collectionfreeformview {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%
    }
}