#body {
    padding: 20px;
    background: #bbbbbb;
}

ul {
    list-style: none;
}

li {
    margin: 5px 0;
}

.no-indent {
    padding-left: 0;
}

.bullet {
    width: 1.5em;
    display: inline-block;
}

.collectionTreeView-dropTarget {
    border-style: solid;
    box-sizing: border-box;
    height: 100%;
}

.docContainer {
    display: inline-table;
}

.delete-button {
    color: #999999;
    float: right;
    margin-left: 1em;
}