
.collectionCarouselView-outer {
    background: gray;
    .collectionCarouselView-caption {
        margin-left: 10%;
        margin-right: 10%;
        height: 50; 
        display: inline-block;
        width: 80%;
    }
    .collectionCarouselView-image {
        height: calc(100% - 50px);
        display: inline-block;
        width: 100%;
    }
}
.carouselView-back, .carouselView-fwd  {
    position: absolute;
    display: flex;
    top: 50%;
    width: 30;
    height: 30;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background : rgba(255, 255, 255, 0.46);
}
.carouselView-fwd {
    right: 0; 
}
.carouselView-back {
    left: 0; 
}
.carouselView-back:hover, .carouselView-fwd:hover {
    background: lightgray;
}