@import "../globalCssVariables";
.collectionStackingView {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    .collectionStackingView-docView-container {
        width: 45%;
        margin: 5% 2.5%;
        padding-left: 2.5%;
        height: auto;
    }

    .collectionStackingView-flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .collectionStackingView-masonrySingle, .collectionStackingView-masonryGrid {
        width:100%;
        height:100%;
        position: absolute;
        display:grid;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }
    .collectionStackingView-masonrySingle {
        width:100%;
        height:100%;
        position: absolute;
        display:flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }

    .collectionStackingView-description {
        font-size: 100%;
        margin-bottom: 1vw;
        padding: 10px;
        height: 2vw;
        width: 100%;
        font-family: $sans-serif;
        background: $dark-color;
        color: $light-color;
    }

    .collectionStackingView-columnDragger {
        width: 15; 
        height: 15; 
        position: absolute;
        margin-left: -5;
    }

    .collectionStackingView-columnDoc{
        display: inline-block;
    }

    .collectionStackingView-columnDoc, 
    .collectionStackingView-masonryDoc {
        margin-left: auto;
        margin-right: auto;
    }
    
    .collectionStackingView-masonryDoc {
        transform-origin: top left;
        grid-column-end: span 1;
        height: 100%;
    }
    .collectionStackingView-sectionHeader {    
        width: 90%;
        background: gray;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        margin-top: 10px;
    }
}