.collectionStaffView {
    .collectionStaffView-staff {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .collectionStaffView-line {
        margin: 10px;
        height: 2px;
        background: black;
    }
}