@import "../globalCssVariables";

.collectionView {
    border-width: 0;
    border-color: $light-color-secondary;
    border-style: solid;
    border-radius: 0 0 $border-radius $border-radius;
    box-sizing: border-box;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden; // bcz: used to be 'auto' which would create scrollbars when there's a floating doc that's not visible. not sure if that's better, but the scrollbars are annoying...

    .collectionView-filterDragger {
        background-color: rgb(140, 139, 139);
        height: 40px;
        width: 10px;
        position: absolute;
        top: 55%;
        border: 1px black solid;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: unset;
        z-index: 2;
    }
    .collectionTimeView-treeView {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: solid 1px;
        z-index: 1;

        .collectionTimeView-addfacet {
            display: inline-block;
            width: 200px;
            height: 30px;
            background: darkGray;
            text-align: left;

            .collectionTimeView-button {
                align-items: center;
                display: flex;
                width: 100%;
                height: 100%;

                .collectionTimeView-span {
                    margin: auto;
                }
            }

            >div,
            >div>div {
                width: 100%;
                height: 100%;
            }
        }

        .collectionTimeView-tree {
            display: inline-block;
            width: 100%;
            height: calc(100% - 30px);
        }
    }
}

#google-tags {
    transition: all 0.5s ease 0s;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
    background: white;
}