@import "../globalCssVariables";


.collectionMenu-cont {
    position: relative;
    display: inline-flex;
    width: 100%;
    opacity: 0.9;
    z-index: 9001;
    transition: top .5s;
    background: #323232;
    color: white;
    transform-origin: top left;
    top: 0;
    width: 100%;

    .antimodeMenu-button {
        padding: 0;
        width: 30px;
        display: flex;

        svg {
            margin: auto;
        }
    }

    .collectionMenu {
        display: flex;
        padding-bottom: 1px;
        height: 32px;
        border-bottom: .5px solid rgb(180, 180, 180);
        overflow: visible;
        z-index: 9001;
        border: unset;

        .collectionViewBaseChrome {
            display: flex;

            .collectionViewBaseChrome-viewPicker {
                font-size: 75%;
                background: #323232;
                outline-color: black;
                color: white;
                border: none;
                border-right: solid gray 1px;
            }

            .collectionViewBaseChrome-viewPicker:active {
                outline-color: black;
            }

            .collectionViewBaseChrome-button {
                font-size: 75%;
                text-transform: uppercase;
                letter-spacing: 2px;
                background: rgb(238, 238, 238);
                color: purple;
                outline-color: black;
                border: none;
                padding: 12px 10px 11px 10px;
                margin-left: 10px;
            }

            .collectionViewBaseChrome-cmdPicker {
                margin-left: 3px;
                margin-right: 0px;
                font-size: 75%;
                background: #323232;
                color: white;
                border: none;
                border-right: solid gray 1px;
            }

            .commandEntry-outerDiv {
                pointer-events: all;
                background-color: #323232;
                display: flex;
                flex-direction: row;
                height: 30px;

                .commandEntry-drop {
                    color: white;
                    width: 30px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            .collectionViewBaseChrome-collapse {
                transition: all .5s, opacity 0.3s;
                position: absolute;
                width: 30px;
                transform-origin: top left;
                pointer-events: all;
                // margin-top: 10px;
            }

            @media only screen and (max-device-width: 480px) {
                .collectionViewBaseChrome-collapse {
                    display: none;
                }
            }

            .collectionViewBaseChrome-template,
            .collectionViewBaseChrome-viewModes {
                display: grid;
                background: rgb(238, 238, 238);
                color: grey;
                margin-top: auto;
                margin-bottom: auto;
            }

            .collectionViewBaseChrome-viewSpecs {
                margin-left: 5px;
                display: grid;
                border: none;
                border-right: solid gray 1px;

                .collectionViewBaseChrome-filterIcon {
                    position: relative;
                    display: flex;
                    margin: auto;
                    background: #323232;
                    color: white;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-right: solid gray 1px;
                }

                .collectionViewBaseChrome-viewSpecsInput {
                    padding: 12px 10px 11px 10px;
                    border: 0px;
                    color: grey;
                    text-align: center;
                    letter-spacing: 2px;
                    outline-color: black;
                    font-size: 75%;
                    background: rgb(238, 238, 238);
                    height: 100%;
                    width: 75px;
                }

                .collectionViewBaseChrome-viewSpecsMenu {
                    overflow: hidden;
                    transition: height .5s, display .5s;
                    position: absolute;
                    top: 60px;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    background: rgb(238, 238, 238);
                    box-shadow: grey 2px 2px 4px;

                    .qs-datepicker {
                        left: unset;
                        right: 0;
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-row {
                        display: grid;
                        grid-template-columns: 150px 200px 150px;
                        margin-top: 10px;
                        margin-right: 10px;

                        .collectionViewBaseChrome-viewSpecsMenu-rowLeft,
                        .collectionViewBaseChrome-viewSpecsMenu-rowMiddle,
                        .collectionViewBaseChrome-viewSpecsMenu-rowRight {
                            font-size: 75%;
                            letter-spacing: 2px;
                            color: grey;
                            margin-left: 10px;
                            padding: 5px;
                            border: none;
                            outline-color: black;
                        }
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-lastRow {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 10px;
                        margin: 10px;
                    }
                }
            }
        }

        .collectionStackingViewChrome-cont,
        .collectionTreeViewChrome-cont,
        .collection3DCarouselViewChrome-cont {
            display: flex;
            justify-content: space-between;
        }

        .collectionGridViewChrome-cont {
            display: flex;
            margin-left: 10;

            .collectionGridViewChrome-viewPicker {
                font-size: 75%;
                //text-transform: uppercase;
                //letter-spacing: 2px;
                background: #121721;
                color: white;
                outline-color: black;
                color: white;
                border: none;
                border-right: solid gray 1px;
            }

            .collectionGridViewChrome-viewPicker:active {
                outline-color: black;
            }

            .grid-control {
                align-self: center;
                display: flex;
                flex-direction: row;
                margin-right: 5px;

                .grid-icon {
                    margin-right: 5px;
                    align-self: center;
                }

                .flexLabel {
                    margin-bottom: 0;
                }

                .collectionGridViewChrome-entryBox {
                    width: 50%;
                    color: black;
                }

                .collectionGridViewChrome-columnButton {
                    color: black;
                }
            }
        }

        .collectionStackingViewChrome-sort,
        .collectionTreeViewChrome-sort {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .collectionStackingViewChrome-sortIcon,
            .collectionTreeViewChrome-sortIcon {
                transition: transform .5s;
                margin-left: 10px;
            }
        }

        button:hover {
            transform: scale(1);
        }


        .collectionStackingViewChrome-pivotField-cont,
        .collectionTreeViewChrome-pivotField-cont,
        .collection3DCarouselViewChrome-scrollSpeed-cont {
            justify-self: right;
            display: flex;
            font-size: 75%;
            letter-spacing: 2px;

            .collectionStackingViewChrome-pivotField-label,
            .collectionTreeViewChrome-pivotField-label,
            .collection3DCarouselViewChrome-scrollSpeed-label {
                vertical-align: center;
                padding-left: 10px;
                margin: auto;
            }

            .collectionStackingViewChrome-pivotField,
            .collectionTreeViewChrome-pivotField,
            .collection3DCarouselViewChrome-scrollSpeed {
                color: white;
                width: 100%;
                min-width: 100px;
                display: flex;
                align-items: center;
                background: rgb(238, 238, 238);

                .editable-view-input,
                input,
                .editableView-container-editing-oneLine,
                .editableView-container-editing {
                    margin: auto;
                    border: 0px;
                    color: grey !important;
                    text-align: center;
                    letter-spacing: 2px;
                    outline-color: black;
                    height: 100%;
                }

                .react-autosuggest__container {
                    margin: 0;
                    color: grey;
                    padding: 0px;
                }
            }
        }

        .collectionStackingViewChrome-pivotField:hover,
        .collectionTreeViewChrome-pivotField:hover,
        .collection3DCarouselViewChrome-scrollSpeed:hover {
            cursor: text;
        }

    }
}

.webBox-urlEditor {
    position: relative;
    opacity: 0.9;
    z-index: 9001;
    transition: top .5s;

    .urlEditor {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: 10px;
        overflow: hidden;
        margin-top: 5px;
        height: 35px;

        .editorBase {
            display: flex;

            .editor-collapse {
                transition: all .5s, opacity 0.3s;
                position: absolute;
                width: 40px;
                transform-origin: top left;
            }

            .switchToText {
                color: $main-accent;
            }

            .switchToText:hover {
                color: $dark-color;
            }
        }

        button:hover {
            transform: scale(1);
        }
    }
}

.webpage-urlInput {
    padding: 12px 10px 11px 10px;
    border: 0px;
    color: black;
    font-size: 10px;
    letter-spacing: 2px;
    outline-color: black;
    background: rgb(238, 238, 238);
    width: 100%;
    min-width: 350px;
    margin-right: 10px;
    height: 100%;
}

.collectionFreeFormMenu-cont {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-left: 10px;

    .antimodeMenu-button {
        text-align: center;
        display: block;
        position: relative;
    }

    .color-previewI {
        width: 80%;
        height: 20%;
        bottom: 0;
        position: absolute;
        margin-left: 2px;
    }

    .color-previewII {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        position: absolute;
        bottom: 5;
    }

    .btn-group {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: auto;
        /* Make the buttons appear below each other */
    }

    .btn-draw {
        display: inline-flex;
        margin: auto;
        /* Make the buttons appear below each other */
    }

    .fwdKeyframe,
    .numKeyframe,
    .backKeyframe {
        cursor: pointer;
        position: relative;
        width: 20;
        height: 30;
        bottom: 0;
        background: #323232;
        display: inline-flex;
        align-items: center;
        color: white;
    }

    .backKeyframe {
        svg {
            display: block;
            margin: auto;
        }
    }


    .numKeyframe {
        flex-direction: column;
        padding-top: 5px;
    }

    .fwdKeyframe {
        svg {
            display: block;
            margin: auto;
        }

        border-right: solid gray 1px;
    }
}

.collectionSchemaViewChrome-cont {
    display: flex;
    font-size: 10.5px;

    .collectionSchemaViewChrome-toggle {
        display: flex;
        margin-left: 10px;
    }

    .collectionSchemaViewChrome-label {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .collectionSchemaViewChrome-toggler {
        width: 100px;
        height: 35px;
        background-color: black;
        position: relative;
    }

    .collectionSchemaViewChrome-togglerButton {
        width: 47px;
        height: 30px;
        background-color: $light-color-secondary;
        // position: absolute;
        transition: all 0.5s ease;
        // top: 3px;
        margin-top: 3px;
        color: gray;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &.on {
            margin-left: 3px;
        }

        &.off {
            margin-left: 50px;
        }
    }
}


.commandEntry-outerDiv {
    display: flex;
    flex-direction: column;
    height: 40px;
}

.commandEntry-inputArea {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: auto auto auto auto;
}

.react-autosuggest__container {
    position: relative;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.react-autosuggest__input {
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: fixed;
    overflow-y: auto;
    max-height: 400px;
    width: 180px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}