@import "../globalCssVariables";

.collectionMasonryView {
    display: inline;
}

.collectionStackingView {
    display: flex;
}
.collectionStackingMasonry-cont {
    position:relative;
    height:100%;
    width:100%;
}
.collectionStackingView,
.collectionMasonryView {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow-y: auto;
    flex-wrap: wrap;
    transition: top .5s;
    >div {
        position: relative;
        display: block;
    }

    .collectionSchemaView-previewDoc {
        height: 100%;
        position: absolute;
    }

    .collectionStackingView-docView-container {
        width: 45%;
        margin: 5% 2.5%;
        padding-left: 2.5%;
        height: auto;
    }

    .collectionStackingView-flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .collectionStackingView-masonrySingle,
    .collectionStackingView-masonryGrid {
        width: 100%;
        display: grid;
        top: 0;
        left: 0;
    }

    .collectionStackingView-masonrySingle {
        height: 100%;
        position: absolute;
    }

    .collectionStackingView-masonryGrid {
        margin: auto;
        height: max-content;
        position: relative;
        grid-auto-rows: 0px;
    }

    .collectionStackingView-masonrySingle {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }

    .collectionStackingView-description {
        font-size: 100%;
        margin-bottom: 1vw;
        padding: 10px;
        height: 2vw;
        width: 100%;
        font-family: $sans-serif;
        background: $dark-color;
        color: $light-color;
    }

    .collectionStackingView-columnDragger {
        width: 15;
        height: 15;
        position: absolute;
        margin-left: -5;
    }

    .collectionStackingView-columnDoc {
        display: inline-block;
        margin: auto;
    }

    .collectionStackingView-masonryDoc {
        transform-origin: top left;
        grid-column-end: span 1;
        height: 100%;
        margin: auto;
        display: inline-grid;
    }

    .collectionStackingView-masonrySection {
        margin: auto;
    }

    .collectionStackingView-collapseBar {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 2px;
        background: $main-accent;
        height: 5px;

        &.active {
            margin-left: 0;
            margin-right: 0;
            background: red;
        }
    }
    .collectionStackingView-miniHeader {
        width: 100%;
        .editableView-container-editing-oneLine {
            min-height: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        span::before , span::after{
            content: "";
            width: 50%;
            border-top: dashed gray 1px;
            position: relative;
            display: inline-block;
        }
        span::before {
            margin-right: 10px;
        }
        span::after{
            margin-left: 10px;
        }
        span {
            position: relative;
            text-align: center;
            white-space: nowrap;
            overflow: visible;
            width: 100%;
            display: flex;
            color:gray;
            align-items: center;
        }
    }
    .collectionStackingView-sectionHeader {
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 10px;
        background: $main-accent;
        // overflow: hidden; overflow is visible so the color menu isn't hidden -ftong

        .editableView-input {
            color: black;
        }

        .editableView-input:hover,
        .editableView-container-editing:hover,
        .editableView-container-editing-oneLine:hover {
            cursor: text
        }

        .collectionStackingView-sectionHeader-subCont {
            outline: none;
            border: 0px;
            color: $light-color; 
            width: 100%;
            color: grey;
            letter-spacing: 2px;
            font-size: 75%;
            transition: transform 0.2s;
            position: relative;

            .editableView-container-editing-oneLine,
            .editableView-container-editing {
                color: grey;
                padding: 10px;
            }

            .editableView-input:hover,
            .editableView-container-editing:hover,
            .editableView-container-editing-oneLine:hover {
                cursor: text;
            }

            .editableView-input {
                padding: 12px 10px 11px 10px;
                border: 0px;
                color: grey;
                text-align: center;
                letter-spacing: 2px;
                outline-color: black;
            }
        }

        .collectionStackingView-sectionColor {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

            [class*="css"] {
                max-width: 102px;
            }

            .collectionStackingView-sectionColorButton {
                height: 35px;
            }

            .collectionStackingView-colorPicker {
                width: 78px;

                .colorOptions {
                    display: flex;
                    flex-wrap: wrap;
                }

                .colorPicker {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    margin: 3px;

                    &.active {
                        border: 2px solid white;
                        box-shadow: 0 0 0 2px lightgray;
                    }
                }
            }
        }

        .collectionStackingView-sectionOptions {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;

            [class*="css"] {
                max-width: 102px;
            }

            .collectionStackingView-sectionOptionButton {
                height: 35px;
            }

            .collectionStackingView-optionPicker {

                .optionOptions {
                    display: inline;
                }

                .optionPicker {
                    cursor: pointer;
                    height: 20px;
                    border-radius: 10px;
                    margin: 3px;
                    width:max-content;

                    &.active {
                        color: red;
                    }
                }
            }
        }

        .collectionStackingView-sectionDelete {
            position: absolute;
            right: 25px;
            top: 0;
            height: 100%;
        }
    }

    .collectionStackingView-addDocumentButton,
    .collectionStackingView-addGroupButton {
        display: flex;
        overflow: hidden;
        margin: auto;
        width: 90%;
        color: lightgrey;
        overflow: ellipses;

        .editableView-container-editing-oneLine,
        .editableView-container-editing {
            color: grey;
            padding: 10px;
            width: 100%;
        }

        .editableView-input:hover,
        .editableView-container-editing:hover,
        .editableView-container-editing-oneLine:hover {
            cursor: text
        }

        .editableView-input {
            outline-color: black;
            letter-spacing: 2px;
            color: grey;
            border: 0px;
            padding: 12px 10px 11px 10px;
        }
    }

    .collectionStackingView-addDocumentButton {
        font-size: 75%;
        letter-spacing: 2px;

        .editableView-input {
            outline-color: black;
            letter-spacing: 2px;
            color: grey;
            border: 0px;
            padding: 12px 10px 11px 10px;
        }
    }

    .collectionStackingView-addGroupButton {
        background: rgb(238, 238, 238);
        font-size: 75%;
        text-align: center;
        letter-spacing: 2px;
        height: fit-content;
    }

    .rc-switch {
        position: absolute;
        display: inline-block;
        bottom: 4px;
        right: 4px;
        width: 70px;
        height: 30px;
        border-radius: 40px 40px;
        background-color: lightslategrey;
    }

    .rc-switch:after {
        position: absolute;
        width: 22px;
        height: 22px;
        left: 3px;
        top: 4px;
        border-radius: 50% 50%;
        background-color: #fff;
        content: " ";
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }

    .rc-switch-checked:after {
        left: 44px;
    }

    .rc-switch-inner {
        color: #fff;
        font-size: 12px;
        position: absolute;
        left: 28px;
        top: 8px;
    }

    .rc-switch-checked .rc-switch-inner {
        left: 8px;
    }
}
