@import "../globalCssVariables";
@import "../_nodeModuleOverrides";

.collectionLinearView-outer {
    overflow: hidden;
    height: 100%;

    .collectionLinearView {
        display: flex;
        height: 100%;

        >span {
            background: $dark-color;
            color: $light-color;
            border-radius: 18px;
            margin-right: 6px;
            cursor: pointer;
        }

        .bottomPopup-background {
            padding-right: 14px;
            height: 35;
            transform: translate3d(6px, 5px, 0px);
            padding-top: 6.5px;
            padding-bottom: 7px;
            padding-left: 5px;
        }

        .bottomPopup-text {
            display: inline;
            white-space: nowrap;
            padding-left: 8px;
            padding-right: 4px;
            vertical-align: middle;
            font-size: 12.5px;
        }

        .bottomPopup-descriptions {
            display: inline;
            white-space: nowrap;
            padding-left: 8px;
            padding-right: 8px;
            vertical-align: middle;
            background-color: lightgrey;
            border-radius: 5.5px;
            color: black;
            margin-right: 5px;
        }

        .bottomPopup-exit {
            display: inline;
            white-space: nowrap;
            padding-left: 8px;
            padding-right: 8px;
            vertical-align: middle;
            background-color: lightgrey;
            border-radius: 5.5px;
            color: black;
        }

        >label {
            margin-top: "auto";
            margin-bottom: "auto";
            background: $dark-color;
            color: $light-color;
            display: inline-block;
            border-radius: 18px;
            font-size: 12.5px;
            width: 18px;
            height: 18px;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 3px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        label p {
            padding-left: 5px;
        }

        label:hover {
            background: $main-accent;
            transform: scale(1.15);
        }

        >input {
            display: none;
        }

        >input:not(:checked)~.collectionLinearView-content {
            display: none;
        }

        >input:checked~label {
            transform: rotate(45deg);
            transition: transform 0.5s;
            cursor: pointer;
        }

        .collectionLinearView-content {
            display: flex;
            opacity: 1;
            position: relative;
            margin-top: auto;

            .collectionLinearView-docBtn,
            .collectionLinearView-docBtn-scalable {
                position: relative;
                margin: auto;
                margin-left: 3px;
                transform-origin: center 80%;
            }

            .collectionLinearView-docBtn-scalable:hover {
                transform: scale(1.15);
            }

            .collectionLinearView-round-button {
                width: 18px;
                height: 18px;
                border-radius: 18px;
                font-size: 15px;
            }

            .collectionLinearView-round-button:hover {
                transform: scale(1.15);
            }
        }
    }
}