.collectionCarouselView-outer {
    background: white;
    height: 100%;

    .collectionCarouselView-image {
        overflow: hidden; //fix ContentFittingView size
        position: absolute;
        height: 100%;
        width: 70%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        user-select: none;
    }

    .collectionCarouselView-prev {
        overflow: hidden;
        position: absolute;
        height: 50%;
        width: 50%;
        background-color: lightgrey;
        left: 0;
        top: 25%;
    }

    .collectionCarouselView-next {
        overflow: hidden;
        position: absolute;
        height: 50%;
        width: 50%;
        background-color: lightgrey;
        right: 0;
        top: 25%;
    }
}

.carouselView-back,
.carouselView-fwd {
    position: absolute;
    display: flex;
    top: 50%;
    width: 30;
    height: 30;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.46);
}

.carouselView-fwd {
    right: 0;
}

.carouselView-back {
    left: 0;
}

.carouselView-back:hover,
.carouselView-fwd:hover {
    background: lightgray;
}