@import "../globalCssVariables";

.collectionTimelineView {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    border-width: 0;
    box-shadow: $intermediate-color 0.2vw 0.2vw 0.8vw;
    border-color: $light-color-secondary;
    border-style: solid;
    border-radius: 0 0 $border-radius $border-radius;
    box-sizing: border-box;


    .unselected {
        border: 3px solid;
    }

    .selected {
        border: 3px solid $intermediate-color;

    }

    .selection {
        background: $intermediate-color;
    }

    .window {
        pointer-events: none;
    }

}

.v1 {
    border-left: 4px solid $intermediate-color;
}

.v2 {
    border-left: 4px solid $intermediate-color;
}

.bar {
    background: $light-color-secondary;
    cursor: grab;
}

.backdropscroll {
    background: $light-color;
}

.viewpanel {
    background: $light-color;
}





//options menu styling
#schemaOptionsMenuBtn {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 21;
    right: 4px;
    top: 4px;
    pointer-events: auto;
    background-color: black;
    display: inline-block;
    padding: 0px;
    font-size: 100%;
}

ul {
    list-style-type: disc;
}

#schema-options-header {
    text-align: center;
    padding: 0px;
}

.schema-options-subHeader {
    color: $intermediate-color;
    margin-bottom: 5px;
}

#schemaOptionsMenuBtn:hover {
    transform: scale(1.15);
}

#preview-schema-checkbox-div {
    margin-left: 20px;
    font-size: 12px;
}

#options-flyout-div {
    text-align: left;
    padding: 0px;
    z-index: 100;
    font-family: $sans-serif;
    padding-left: 5px;
}

#schema-col-checklist {
    overflow: scroll;
    text-align: left;
    //background-color: $light-color-secondary;
    line-height: 25px;
    max-height: 175px;
    font-family: $sans-serif;
    font-size: 12px;
}