@import "../globalCssVariables";

.collectionStackingView {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    overflow-y: auto;
    flex-wrap: wrap;
    transition: top .5s;

    .collectionStackingView-docView-container {
        width: 45%;
        margin: 5% 2.5%;
        padding-left: 2.5%;
        height: auto;
    }

    .collectionStackingView-flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .collectionStackingView-masonrySingle,
    .collectionStackingView-masonryGrid {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }

    .collectionStackingView-masonrySingle {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }

    .collectionStackingView-description {
        font-size: 100%;
        margin-bottom: 1vw;
        padding: 10px;
        height: 2vw;
        width: 100%;
        font-family: $sans-serif;
        background: $dark-color;
        color: $light-color;
    }

    .collectionStackingView-columnDragger {
        width: 15;
        height: 15;
        position: absolute;
        margin-left: -5;
    }

    .collectionStackingView-columnDoc {
        display: inline-block;
    }

    .collectionStackingView-masonryDoc {
        transform-origin: top left;
        grid-column-end: span 1;
        height: 100%;
        margin: auto;
    }

    .collectionStackingView-sectionHeader {
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 10px;
        overflow: hidden;

        .editableView-input {
            color: black;
        }

        .editableView-input:hover,
        .editableView-container-editing:hover,
        .editableView-container-editing-oneLine:hover {
            cursor: text
        }

        .collectionStackingView-sectionHeader-subCont {
            outline: none;
            border: 0px;
            color: $light-color;
            letter-spacing: 2px;
            font-size: 75%;
            transition: transform 0.2s;
            position: relative;
            width: 98%;

            .editableView-container-editing-oneLine,
            .editableView-container-editing {
                color: grey;
                padding: 10px;
            }

            .editableView-input:hover,
            .editableView-container-editing:hover,
            .editableView-container-editing-oneLine:hover {
                cursor: text
            }

            .editableView-input {
                padding: 12px 10px 11px 10px;
                border: 0px;
                color: grey;
                text-align: center;
                letter-spacing: 2px;
                outline-color: black;
            }
        }

        .collectionStackingView-sectionDelete {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }

    .collectionStackingView-addDocumentButton,
    .collectionStackingView-addGroupButton {
        display: flex;
        overflow: hidden;
        margin: auto;
        width: 90%;
        color: lightgrey;
        overflow: ellipses;

        .editableView-container-editing-oneLine,
        .editableView-container-editing {
            color: grey;
            padding: 10px;
            width: 100%;
        }

        .editableView-input:hover,
        .editableView-container-editing:hover,
        .editableView-container-editing-oneLine:hover {
            cursor: text
        }

        .editableView-input {
            outline-color: black;
            letter-spacing: 2px;
            color: grey;
            border: 0px;
            padding: 12px 10px 11px 10px;
        }
    }

    .collectionStackingView-addDocumentButton {
        font-size: 75%;
        letter-spacing: 2px;

        .editableView-input {
            outline-color: black;
            letter-spacing: 2px;
            color: grey;
            border: 0px;
            padding: 12px 10px 11px 10px;
        }
    }

    .collectionStackingView-addGroupButton {
        background: rgb(238, 238, 238);
        font-size: 75%;
        text-align: center;
        letter-spacing: 2px;
        height: fit-content;
    }

    .rc-switch {
        position: absolute;
        display: inline-block;
        bottom: 15px;
        right: 15px;
        width: 125px;
        height: 54px;
        border-radius: 40px 40px;
    }

    .rc-switch:after {
        position: absolute;
        width: 36px;
        height: 36px;
        left: 7px;
        top: 9px;
        border-radius: 50% 50%;
        background-color: #fff;
        content: " ";
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }

    .rc-switch-checked:after {
        left: 80px;
    }

    .rc-switch-inner {
        color: #fff;
        font-size: 22px;
        position: absolute;
        left: 50px;
        top: 14px;
    }

    .rc-switch-checked .rc-switch-inner {
        left: 17px;
    }


}