.collectionfreeformview-container {
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .collectionfreeformview {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.border {
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

//this is an animation for the blinking cursor!
@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

#prevCursor {
    animation: blink 1s infinite;
}