@import "../globalCssVariables";
@import '~js-datepicker/dist/datepicker.min.css';

.collectionViewChrome-cont {
    position: relative;
    opacity: 0.9;
    z-index: 9001;
    transition: top .5s;
    background: lightgrey;

    .collectionViewChrome {
        display: flex;
        padding-bottom: 10px;
        border-bottom: .5px solid rgb(180, 180, 180);
        overflow: hidden;

        .collectionViewBaseChrome {
            display: flex;

            .collectionViewBaseChrome-viewPicker {
                font-size: 75%;
                //text-transform: uppercase;
                letter-spacing: 2px;
                background: rgb(238, 238, 238);
                color: grey;
                outline-color: black;
                border: none;
                padding: 12px 10px 11px 10px;
                margin-left: 50px;
            }

            .collectionViewBaseChrome-viewPicker:active {
                outline-color: black;
            }

            .collectionViewBaseChrome-button{
                font-size: 75%;
                text-transform: uppercase;
                letter-spacing: 2px;
                background: rgb(238, 238, 238);
                color: purple;
                outline-color: black;
                border: none;
                padding: 12px 10px 11px 10px;
                margin-left: 10px;
            }
            .collectionViewBaseChrome-cmdPicker {
                margin-left: 3px;
                margin-right: 0px;
                background: rgb(238, 238, 238);
                border: none;
                color: grey;
            }
            .commandEntry-outerDiv {
                pointer-events: all;
                background-color: gray;
                display: flex;
                flex-direction: row;
                .commandEntry-drop {
                    color:white;
                    width:25px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            .collectionViewBaseChrome-collapse {
                transition: all .5s, opacity 0.3s;
                position: absolute;
                width: 40px;
                transform-origin: top left;
                // margin-top: 10px;
            }
            .collectionViewBaseChrome-template {
                margin-left: 10px;
                display: grid;
                background: rgb(238, 238, 238);
                color:grey;
                margin-top:auto;
                margin-bottom:auto;
            }

            .collectionViewBaseChrome-viewSpecs {
                margin-left: 10px;
                display: grid;
                
                .collectionViewBaseChrome-filterIcon {
                    position: relative;
                    display: flex;
                    margin: auto;
                    background: gray;
                    color: white;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                }

                .collectionViewBaseChrome-viewSpecsInput {
                    padding: 12px 10px 11px 10px;
                    border: 0px;
                    color: grey;
                    text-align: center;
                    letter-spacing: 2px;
                    outline-color: black;
                    font-size: 75%;
                    background: rgb(238, 238, 238);
                    height: 100%;
                    width: 75px;
                }

                .collectionViewBaseChrome-viewSpecsMenu {
                    overflow: hidden;
                    transition: height .5s, display .5s;
                    position: absolute;
                    top: 60px;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    background: rgb(238, 238, 238);
                    box-shadow: grey 2px 2px 4px;

                    .qs-datepicker {
                        left: unset;
                        right: 0;
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-row {
                        display: grid;
                        grid-template-columns: 150px 200px 150px;
                        margin-top: 10px;
                        margin-right: 10px;

                        .collectionViewBaseChrome-viewSpecsMenu-rowLeft,
                        .collectionViewBaseChrome-viewSpecsMenu-rowMiddle,
                        .collectionViewBaseChrome-viewSpecsMenu-rowRight {
                            font-size: 75%;
                            letter-spacing: 2px;
                            color: grey;
                            margin-left: 10px;
                            padding: 5px;
                            border: none;
                            outline-color: black;
                        }
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-lastRow {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 10px;
                        margin: 10px;
                    }
                }
            }
        }


        .collectionStackingViewChrome-cont,
        .collectionTreeViewChrome-cont {
            display: flex;
            justify-content: space-between;
        }

        .collectionStackingViewChrome-sort,
        .collectionTreeViewChrome-sort {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .collectionStackingViewChrome-sortIcon,
            .collectionTreeViewChrome-sortIcon {
                transition: transform .5s;
                margin-left: 10px;
            }
        }

        button:hover {
            transform: scale(1);
        }


        .collectionStackingViewChrome-sectionFilter-cont,
        .collectionTreeViewChrome-sectionFilter-cont {
            justify-self: right;
            display: flex;
            font-size: 75%;
            letter-spacing: 2px;

            .collectionStackingViewChrome-sectionFilter-label,
            .collectionTreeViewChrome-sectionFilter-label {
                vertical-align: center;
                padding: 10px;
            }

            .collectionStackingViewChrome-sectionFilter,
            .collectionTreeViewChrome-sectionFilter {
                color: white;
                width: 100px;
                text-align: center;
                background: rgb(238, 238, 238);

                .editable-view-input,
                input,
                .editableView-container-editing-oneLine,
                .editableView-container-editing {
                    padding: 12px 10px 11px 10px;
                    border: 0px;
                    color: grey;
                    text-align: center;
                    letter-spacing: 2px;
                    outline-color: black;
                    height: 100%;
                }

                .react-autosuggest__container {
                    margin: 0;
                    color: grey;
                    padding: 0px;
                }
            }
        }

        .collectionStackingViewChrome-sectionFilter:hover,
        .collectionTreeViewChrome-sectionFilter:hover {
            cursor: text;
        }
    }
}

.collectionSchemaViewChrome-cont {
    display: flex;
    font-size: 10.5px;

    .collectionSchemaViewChrome-toggle {
        display: flex;
        margin-left: 10px;
    }

    .collectionSchemaViewChrome-label {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .collectionSchemaViewChrome-toggler {
        width: 100px;
        height: 41px;
        background-color: black;
        position: relative;
    }

    .collectionSchemaViewChrome-togglerButton {
        width: 47px;
        height: 35px;
        background-color: $light-color-secondary;
        // position: absolute;
        transition: all 0.5s ease;
        // top: 3px;
        margin-top: 3px;
        color: gray;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &.on {
            margin-left: 3px;
        }

        &.off {
            margin-left: 50px;
        }
    }
}


.commandEntry-outerDiv {
    display: flex;
    flex-direction: column;
    height: 40px;
}
.commandEntry-inputArea {
    display:flex;
    flex-direction: row;
    width: 150px;
    margin: auto 0 auto auto;
}

.react-autosuggest__container {
    position: relative;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.react-autosuggest__input {
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: fixed;
    overflow-y: auto;
    max-height: 400px;
    width: 180px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}