@import "../globalCssVariables";

.collectionSchemaView-container {
    border-width: $COLLECTION_BORDER_WIDTH;
    border-color: $intermediate-color;
    border-style: solid;
    border-radius: $border-radius;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    transition: top 0.5s;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    touch-action: none;

    div {
        touch-action: none;
    }


    .collectionSchemaView-tableContainer {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .collectionSchemaView-dividerDragger {
        position: relative;
        height: 100%;
        width: 20px;
        z-index: 20;
        right: 0;
        top: 0;
        background: gray;
        cursor: col-resize;
    }

    // .documentView-node:first-child {
    //     background: $light-color;
    // }
}

.ReactTable {
    width: 100%;
    background: white;
    box-sizing: border-box;
    border: none !important;
    float: none !important;

    .rt-table {
        height: 100%;
        display: -webkit-inline-box;
        direction: ltr;
        overflow: visible;
    }

    .rt-thead {
        width: calc(100% - 52px);
        margin-left: 50px;

        z-index: 10000;
        overflow-y: visible;

        &.-header {
            font-size: 12px;
            height: 30px;
            box-shadow: none;
            z-index: 10000;
            overflow-y: visible;
        }

        .rt-resizable-header-content {
            height: 100%;
            overflow: visible;
        }

        .rt-th {
            padding: 0;
            border: solid lightgray;
            border-width: 0 1px;
            border-bottom: 2px solid lightgray;
        }
    }

    .rt-th {
        font-size: 13px;
        text-align: center;

        &:last-child {
            overflow: visible;
        }
    }

    .rt-tbody {
        width: calc(100% - 2px);
        direction: rtl;
        overflow: visible;
    }

    .rt-tr-group {
        direction: ltr;
        flex: 0 1 auto;
        min-height: 30px;
        border: 0 !important;
    }

    .rt-tr {
        width: 100%;
        min-height: 30px;
    }

    .rt-td {
        padding: 0;
        font-size: 13px;
        text-align: center;
        white-space: nowrap;

        .imageBox-cont {
            position: relative;
            max-height: 100%;
        }

        .imageBox-cont img {
            object-fit: contain;
            max-width: 100%;
            height: 100%;
        }

        .videoBox-cont {
            object-fit: contain;
            width: auto;
            height: 100%;
        }
    }

    .rt-resizer {
        width: 8px;
        right: -4px;
    }

    .rt-resizable-header {
        padding: 0;
        height: 30px;
    }

    .rt-resizable-header:last-child {
        overflow: visible;

        .rt-resizer {
            width: 5px !important;
        }
    }
}

.documentView-node-topmost {
    text-align: left;
    transform-origin: center top;
    display: inline-block;
}

.collectionSchema-col {
    height: 100%;

    .collectionSchema-col-wrapper {
        &.col-before {
            border-left: 2px solid red;
        }

        &.col-after {
            border-right: 2px solid red;
        }
    }
}


.collectionSchemaView-header {
    height: 100%;
    color: gray;
    z-index: 10000;
    overflow-y: visible;

    .collectionSchema-header-menu {
        height: 100%;
        z-index: 10000;

        .collectionSchema-header-toggler {
            z-index: 10000;
            width: 100%;
            height: 100%;
            padding: 4px;
            letter-spacing: 2px;
            text-transform: uppercase;

            svg {
                margin-right: 4px;
            }
        }
    }
}

button.add-column {
    width: 28px;
}

.collectionSchema-header-menuOptions {
    color: black;
    width: 200px;
    text-align: left;

    .collectionSchema-headerMenu-group {
        padding: 7px 0;
        border-bottom: 1px solid lightgray;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border: none;
            text-align: center;
            padding: 12px 0 0 0;
        }
    }

    label {
        color: $main-accent;
        font-weight: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    input {
        color: black;
        width: 100%;
    }

    .columnMenu-option {
        cursor: pointer;
        padding: 3px;
        background-color: white;
        transition: background-color 0.2s;

        &:hover {
            background-color: $light-color-secondary;
        }

        &.active {
            font-weight: bold;
            border: 2px solid $light-color-secondary;
        }

        svg {
            color: gray;
            margin-right: 5px;
            width: 10px;
        }
    }

    .keys-dropdown {
        position: relative;
        width: 100%;

        input {
            border: 2px solid $light-color-secondary;
            padding: 3px;
            height: 28px;
            font-weight: bold;

            &:focus {
                font-weight: normal;
            }
        }

        .keys-options-wrapper {
            width: 100%;
            max-height: 150px;
            overflow-y: scroll;
            position: absolute;
            top: 28px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);

            .key-option {
                background-color: $light-color;
                border: 1px solid lightgray;
                padding: 2px 3px;

                &:not(:first-child) {
                    border-top: 0;
                }

                &:hover {
                    background-color: $light-color-secondary;
                }
            }
        }
    }

    .columnMenu-colors {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .columnMenu-colorPicker {
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 10px;

            &.active {
                border: 2px solid white;
                box-shadow: 0 0 0 2px lightgray;
            }
        }
    }
}

.collectionSchema-row {
    height: 100%;
    background-color: white;

    &.row-focused .rt-td {
        background-color: rgb(255, 246, 246); //$light-color-secondary;
    }

    &.row-wrapped {
        .rt-td {
            white-space: normal;
        }
    }

    .row-dragger {
        display: flex;
        justify-content: space-around;
        flex: 50 0 auto;
        width: 50px;
        max-width: 50px;
        height: 100%;
        min-height: 30px;
        color: lightgray;
        background-color: white;
        transition: color 0.1s ease;

        .row-option {
            // padding: 5px;
            cursor: pointer;
            transition: color 0.1s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                color: gray;
            }
        }
    }

    .collectionSchema-row-wrapper {

        &.row-above {
            border-top: 1px solid red;
        }

        &.row-below {
            border-bottom: 1px solid red;
        }

        &.row-inside {
            border: 1px solid red;
        }

        .row-dragging {
            background-color: blue;
        }
    }
}

.collectionSchemaView-cellContainer {
    width: 100%;
    height: 100%;
}

.collectionSchemaView-cellWrapper {
    height: 100%;
    padding: 4px;
    position: relative;

    &:focus {
        outline: none;
    }

    &.editing {
        padding: 0;

        input {
            outline: 0;
            border: none;
            background-color: rgb(255, 217, 217);
            width: 100%;
            height: 100%;
            padding: 2px 3px;
            min-height: 26px;
        }
    }

    &.focused {

        &.inactive {
            border: none;
        }
    }

    p {
        width: 100%;
        height: 100%;
    }

    &:hover .collectionSchemaView-cellContents-docExpander {
        display: block;
    }


    .collectionSchemaView-cellContents-document {
        display: inline-block;
    }

    .collectionSchemaView-cellContents-docButton {
        float: right;
        width: "15px";
        height: "15px";
    }

    .collectionSchemaView-dropdownWrapper {

        border: grey;
        border-style: solid;
        border-width: 1px;
        height: 100%;

        .collectionSchemaView-dropdownButton {

            //display: inline-block;
            float: left;
            height: 100%;


        }

        .collectionSchemaView-dropdownText {
            display: inline-block;
            //float: right;
            height: 100%;
            display: "flex";
            font-size: 13;
            justify-content: "center";
            align-items: "center";
        }

    }

    .collectionSchemaView-dropdownContainer {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);

        .collectionSchemaView-dropdownOption:hover {
            background-color: rgba(0, 0, 0, 0.14);
            cursor: pointer;
        }
    }
}

.collectionSchemaView-cellContents-docExpander {
    height: 30px;
    width: 30px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightgray;

}

.doc-drag-over {
    background-color: red;
}

.collectionSchemaView-toolbar {
    z-index: 1000;
}

.collectionSchemaView-toolbar {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    border-bottom: 2px solid gray;

    .collectionSchemaView-toolbar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#preview-schema-checkbox-div {
    margin-left: 20px;
    font-size: 12px;
}

.collectionSchemaView-table {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.reactTable-sub {
    padding: 10px 30px;
    background-color: rgb(252, 252, 252);
    width: calc(100% - 50px);
    margin-left: 50px;

    .row-dragger {
        background-color: rgb(252, 252, 252);
    }

    .rt-table {
        background-color: rgb(252, 252, 252);
    }

    .collectionSchemaView-table {
        width: 100%;
    }
}

.collectionSchemaView-expander {
    height: 100%;
    min-height: 30px;
    position: relative;
    color: gray;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.collectionSchemaView-addRow {
    color: gray;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10.5px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 10px;
}