.collectionCarouselView-outer {
    background: white;
    height: 100%;
    perspective: 30em;

    .collectionCarouselView-image {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        user-select: none;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }

    .collectionCarouselView-prev {
        position: absolute;
        height: 50%;
        width: 25%;
        left: 0;
        top: 25%;
        transform: rotateY(-20deg)
    }

    .collectionCarouselView-next {
        position: absolute;
        height: 50%;
        width: 25%;
        right: 0;
        top: 25%;
        transform: rotateY(20deg)
    }
}