@import "../globalCssVariables";

.collectionTimelineView {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    border-width: 0;
    box-shadow: $intermediate-color 0.2vw 0.2vw 0.8vw;
    border-color: $light-color-secondary;
    border-style: solid;
    border-radius: 0 0 $border-radius $border-radius;
    box-sizing: border-box;


    .unselected {
        border: 3px solid black;
        z-index: -2;
    }


    .selected {
        z-index: -1;
        border: 3px solid $intermediate-color;
    }

    .selection {
        background: $intermediate-color;
    }

    .unselection {
        visibility: hidden;

    }

    .window {
        pointer-events: none;
    }

    .inactive {
        border: 0px;
    }

    .active {
        border-left: 1px solid $intermediate-color;
        height: 5px
    }


    .max {
        border-left: 1px solid $intermediate-color;
        height: 25px
    }

    .max2 {
        border-left: 1px solid $intermediate-color;
        height: 15px
    }

    .hover {
        border-left: 1px dashed $intermediate-color;
        height: 30px
    }

    .backdropscroll {
        background: $light-color,
    }
}

.v1 {
    border-left: 10px solid $intermediate-color;
}

.v2 {
    border-left: 10px solid $intermediate-color;
}



.bar {
    background: $light-color-secondary;
    cursor: grab;
}

.viewpanel {
    background: $light-color;
}


.bottomgrid {
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    background: $intermediate-color;

}

.left {
    grid-column: 2;
    text-align: center;
}

.mid {
    grid-column: 3;
    text-align: center;

}

.right {
    grid-column: 4;
    text-align: center;

}



//options menu styling
#schemaOptionsMenuBtn {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 99999;
    right: 4px;
    top: 4px;
    pointer-events: auto;
    background-color: black;
    display: inline-block;
    padding: 0px;
    font-size: 100%;
}

ul {
    list-style-type: disc;
}


#schema-options-header {
    text-align: center;
    padding: 0px;
}

.schema-options-subHeader {
    color: $intermediate-color;
    margin-bottom: 5px;
}

#schemaOptionsMenuBtn:hover {
    transform: scale(1.15);
}

#preview-schema-checkbox-div {
    margin-left: 20px;
    font-size: 12px;
}

#options-flyout-div {
    text-align: left;
    padding: 0px;
    z-index: 100;
    font-family: $sans-serif;
    padding-left: 5px;
}

#schema-col-checklist {
    overflow: scroll;
    text-align: left;
    //background-color: $light-color-secondary;
    line-height: 25px;
    max-height: 175px;
    font-family: $sans-serif;
    font-size: 12px;
}


.collectionTimelineViewBottomUI-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 25px 25px 25px 25px 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    width: 100%;
    z-index: 10000;

    form {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-template-rows: 1;
        grid-column: 1/3;
        align-self: center;


        .min {
            align-self: center;
            justify-self: center;
            grid-column: 1/2;
        }

        .max {
            align-self: center;
            justify-self: center;
            grid-column: 2/3
        }
    }



    .reset {
        align-self: center;
        justify-self: center;
        grid-column: 3/4;
        grid-row: 1;
    }

    .color1 {
        grid-column: 7/8;
        align-self: center;
        grid-row: 1/1;

    }

    .color2 {
        grid-column: 4/5;
        align-self: center;
        grid-row: 1/1;
    }

    .color3 {
        align-self: center;
        grid-row: 1/1;
        grid-column: 5/6
    }

    .color4 {
        align-self: center;
        grid-row: 1/1;
        grid-column: 6/7
    }



    .sortinput {
        grid-column: 8/9;
        align-self: center;
    }

    .sortinputWRONG {
        align-self: center;
        grid-column: 8/9;
        border: red 2px solid;
    }

    .sortinputRIGHT {
        align-self: center;
        grid-column: 8/9;
    }

    .rows {
        align-self: center;
        justify-self: center;
        grid-column: 9/10;
    }

    .update {
        align-self: center;
        justify-self: center;
        grid-column: 10/11;
    }


}