.collectionMapView {
    width: 100%;
    height: 100%;
    .collectionMapView-contents {
        width: 100%;
        height: 100%;
    }
}

.loadingWrapper {
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .loadingGif {
        align-self: center;
        justify-self: center;
        width: 20%;
        height: 20%
    }
}