
.collectionCarouselView-outer {
    background: gray;
    .collectionCarouselView-caption {
        margin-left: 10%;
        margin-right: 10%;
        height: 50; 
        display: inline-block;
        width: 80%;
    }
    .collectionCarouselView-image {
        height: calc(100% - 50px);
        display: inline-block;
        width: 100%;
    }
}
.carouselView-back  {
    position: absolute;
    display: flex;
    left: 0; 
    top: 50%;
    width: 30;
    height: 30;
    background: lightgray;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}
.carouselView-fwd  {
    position: absolute;
    display: flex;
    right: 0; 
    top: 50%;
    width: 30;
    height: 30;
    background: lightgray;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}