@import "../globalCssVariables";
#collectionBaseView {
    border-width: 0;
    box-shadow: $intermediate-color 0.2vw 0.2vw 0.8vw;
    border-color: $light-color-secondary;
    border-style: solid;
    border-radius: 0 0 $border-radius $border-radius;
    box-sizing: border-box;
    border-radius: inherit;
    pointer-events: all;
}