
.collectionCarouselView-outer {
    height : 100%;
    .collectionCarouselView-caption {
        height: 50; 
        display: inline-block;
        width: 100%;
    }
    .collectionCarouselView-image {
        height: calc(100% - 50px);
        display: inline-block;
        width: 100%;
        user-select: none;
    }
}
.carouselView-back, .carouselView-fwd  {
    position: absolute;
    display: flex;
    top: 42.5%;
    width: 30;
    height: 15%;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    color: rgba(255,255,255,0.5);
    background : rgba(0,0,0, 0.1);
    &:hover {
        color:white;
    }
}
.carouselView-fwd {
    right: 0; 
}
.carouselView-back {
    left: 0; 
}
.carouselView-back:hover, .carouselView-fwd:hover {
    background: lightgray;
}