.PDS {
    position: relative;
    display: inline-block;
    top: -3px;
    padding: 3px 12px 6px 3px !important
}

.PDS-flyout {
    position: absolute;
    z-index: 9999;
    background-color: #eeeeee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    color: black;
    top: 24px;

    padding: 10px;
    border-radius: 3px;

    hr {
        height: 1px;
        margin: 0px;
        background-color: gray;
        border-top: 0px;
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
    }
}