input.lm_title:focus,
input.lm_title {
    max-width: unset !important;
    outline: none;
    transition-delay: unset;
    width: max-content;
    cursor: text;
}

input.lm_title {
    transition-delay: 0.35s;
    width: max-content;
    cursor: pointer;
}

.lm_iconWrap {
    display: flex;
    color: black;
    width: 15px;
    height: 15px;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 3px;
    border-radius: 20%;

    .moreInfoDot {
        background-color: white;
        border-radius: 100%;
        width: 3px;
        height: 3px;
        margin: 0.5px;
    }
}

.tabDocView-drag {
    margin: auto;
}

.ffMenu {
    display: grid;
    grid-auto-rows: 35px;
    grid-auto-columns: auto auto auto auto auto;
    right: 10px;
    bottom: 50px;
    position: absolute;
    min-height: 35px;
    height: max-content;
    border: solid 2px black;
    border-radius: 5px;
    background-color: #bddbe6;
    width: max-content;
    min-width: 35px;

    .ffMenuButton {
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
    }
}

.miniMap-hidden,
.miniMap {
    position: absolute;
    overflow: hidden;
    right: 10;
    bottom: 10;
    border: solid 1px;
    box-shadow: black 0.4vw 0.4vw 0.8vw;
    width: 100%;
    height: 100%;
    transition: all 0.5s;

    .miniOverlay {
        width: 100%;
        height: 100%;
        position: absolute;

        .miniThumb {
            background: #25252525;
            position: absolute;
        }
    }
}

.miniMap-hidden {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    transform: translate(20px, 20px) rotate(45deg);
    border-radius: 30px;
    padding: 2px;

    >svg {
        margin-top: 3px;
        transform: translate(0px, 7px);
    }
}