@import "../globalCssVariables";

.treeView-label {
    max-height: 1.5em;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: pre;
    width: 100%;
    overflow: hidden;
}
.treeView-container,
.treeView-container-active {
    .bullet-outline {
        position: relative;
        width: 15px;
        color: $intermediate-color;
        transform: scale(0.5);
        display: inline-block;
    }

    .treeView-bulletIcons {
        width: 15px;
        .treeView-expandIcon {
            display: none;
            left: -10px;
            position: absolute;
        }
        .treeView-checkIcon {
            left: -10px;
            position: absolute;
        }
        &:hover {
            .treeView-expandIcon {
                display: unset;
            }
        }
    }
    .bullet {
        position: relative;
        width: $TREE_BULLET_WIDTH;
        color: $intermediate-color;
        margin-top: 3px;
        transform: scale(1.3, 1.3);
        border: #80808030 1px solid;
        border-radius: 4px;
    }
}
.treeView-container-active {
    z-index: 100;
    position: relative;
    .formattedTextbox-sidebar {
        background-color: #ffff001f !important;
        height: 500px !important;
    }
}

.treeView-openRight {
    display: none;
    height: 17px;
    width: 15px;
}

.treeView-openRight:hover {
    background: #797777;
    cursor: pointer;
}

.treeView-borderoutline,
.treeView-border {
    display: flex;
    overflow: hidden;
}
.treeView-border{
    border-left: dashed 1px #00000042;
}

.treeView-header-editing,
.treeView-header {
    border: transparent 1px solid;
    display: flex;
    //align-items: center;
    ::-webkit-scrollbar {
            display: none;
    }
    .formattedTextBox-cont {
        .formattedTextbox-sidebar, .formattedTextbox-sidebar-inking {
            overflow: visible !important;
            border-left: unset;
        }
        overflow: visible !important;
    }

    .editableView-container-editing-oneLine {
        min-width: 15px;
    }

    .documentView-node-topmost {
        width: unset;
    }

    .right-buttons-container {
        display: flex;
        align-items: center;
        margin-left: 0.25rem;

        >svg, .styleProvider-treeView-lock, .styleProvider-treeView-hide, .styleProvider-treeView-lock-active, .styleProvider-treeView-hide-active {
            margin-left: 0.25rem;
            margin-right: 0.25rem; 
        }
    
        >svg, .styleProvider-treeView-lock, .styleProvider-treeView-hide {
            display: none;
        }
    }
}

.treeView-header:hover {
    .collectionTreeView-keyHeader {
        display: inherit;
    }

    .treeView-openRight {
        display: inline-block;
        height: 17px;
        width: 15px;

        // display: inline;
        svg {
            display: block;
            padding: 0px;
            margin-left: 3px;
        }
    }

    .right-buttons-container {
        >svg, .styleProvider-treeView-lock, .styleProvider-treeView-hide {
            display: inherit;
        }
    }
}

.treeView-header-above {
    border-top: black 1px solid;
}

.treeView-header-below {
    border-bottom: black 1px solid;
}

.treeView-header-inside {
    border: black 1px solid;
}