@import "../globalCssVariables";

.checkbox {
    display: flex;

    .outer {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .check-box {
        z-index: 900;
        position: relative;
        height: 20px;
        width: 20px;
        overflow: visible;
        background-color: transparent;
        border-style: solid;
        border-color: $alt-accent;
        border-width: 2px;
    }

    .check-container {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 1000;
    }

    .box:hover {
        background-color: $intermediate-color;
    }

    .checkmark {
        z-index: 1000;
        position: absolute;
        fill-opacity: 0;
        stroke-width: 4px;
        stroke: white;
    }

}

.checkbox-title {
    text-transform: capitalize;
    margin-left: 15px;
}