@import "../globalCssVariables";

.collection-filters {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.main {
        width: 47%;
        float: left;
    }

    &.optional {
        width: 60%;
        display: grid;
        grid-template-columns: 50% 50%;
        float: right;
        opacity: 0;
    }
}