.field-filters {
    width: 100%;
    display: grid;
    // grid-template-columns: 18% 20% 60%;
    grid-template-columns: 20% 25% 60%;
}

.field-filters-required {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}