@import "../globalCssVariables";

.search-pager {
    background-color: $dark-color;
    border-radius: 10px;
    width: 500px;
    display: flex;
    justify-content: center;
    // margin-left: 27px;
    float: right;
    margin-right: 74px;
    margin-left: auto;

    // flex-direction: column;

    .search-arrows {
        display: flex;
        justify-content: center;
        margin: 10px;
        width: 50%;

        .arrow {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            .fontawesome-icon {
                color: $light-color;
                width: 20px;
                height: 20px;
                margin-right: 2px;
                margin-left: 2px;
                // opacity: .7;
            }
        }

        .pager-title {
            text-align: center;
            // font-size: 8px;
            // margin-bottom: 10px;
            color: $light-color;
            // padding: 2px;
            width: 40%;
        }
    }
}