@import "../globalCssVariables";

.searchBox-bar {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;

    .searchBox-input {
        width: 130px;
        -webkit-transition: width 0.4s;
        transition: width 0.4s;
        align-self: stretch;
    }

    .searchBox-input:focus {
        width: 500px;
        outline: 3px solid lightblue;
    }

    .searchBox-barChild {
        flex: 0 1 auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .searchBox-filter {
        align-self: stretch;
    }

}

.searchBox-results {
    margin-left: 27px; //Is there a better way to do this?
}

.filter-form {
    background: $dark-color;
    height: 400px;
    position: relative;
    right: 1px;
    color: $light-color;
    flex-direction: column;
}

#filter{
    padding: 25px;
    width: 600px;
}

#header {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25;
    height: 40px;
}

.searchBox-results {
    top: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 72px;
}

.filter-collection{
    height: 20px;
}

.where-in-doc{
    height: 20px;
}

.type-of-node{
    height: 90px;
}

.required-words{
    height: 110px;
}

.filter-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-result {
    width: 500px;
    background: $light-color-secondary;
    border-color: $intermediate-color;
    border-bottom-style: solid;
    padding: 10px;
    height: 50px;
    text-transform: uppercase;
    text-align: left;
    // width: 80%;
    font-weight: bold;
}

