@import "../globalCssVariables";

.search-overview {
    display: flex;
    flex-direction: reverse;
    justify-content: flex-end;
    z-index: 0;
}
.link-count {
     background: black;
    border-radius: 20px;
    color: white;
    width: 15px;
    text-align: center;
    margin-top: 5px;
}

.searchBox-placeholder,
.search-overview .search-item {
    width: 100%;
    background: $light-color-secondary;
    border-color: $intermediate-color;
    border-bottom-style: solid;
    padding: 10px;
    min-height: 50px;
    max-height: 150px;
    height: auto;
    z-index: 0;
    display: inline-block;
    overflow: auto;

    .main-search-info {
        display: flex;
        flex-direction: row;
        width: 100%;

        .search-title-container {
            width: 100%;
            overflow: hidden;

            .search-title {
                text-transform: uppercase;
                text-align: left;
                width: 100%;
                font-weight: bold;
            }
        }

        .search-info {
            display: flex;
            justify-content: flex-end;

            .link-container.item {
                margin-left: auto;
                margin-right: auto;
                height: 26px;
                width: 26px;
                border-radius: 13px;
                background: $dark-color;
                color: $light-color-secondary;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                transform-origin: top right;
                overflow: hidden;
                position: relative;


                .link-extended {
                    // display: none;
                    visibility: hidden;
                    opacity: 0;
                    position: relative;
                    z-index: 500;
                    overflow: hidden;
                    -webkit-transition: opacity 0.2s ease-in-out .2s, visibility 0s linear 0s;
                    -moz-transition: opacity 0.2s ease-in-out .2s, visibility 0s linear 0s;
                    -o-transition: opacity 0.2s ease-in-out .2s, visibility 0s linear 0s;
                    transition: opacity 0.2s ease-in-out .2s, visibility 0s linear 0s;
                    // transition-delay: 1s;
                }

            }

            .link-container.item:hover {
                width: 70px;
            }

            .link-container.item:hover .link-count {
                opacity: 0;
            }

            .link-container.item:hover .link-extended {
                opacity: 1;
                visibility: visible;
                // display: inline;
            }

            .icon-icons {
                width: 50px
            }

            .icon-live {
                width: 175px;
            }

            .icon-icons,
            .icon-live {
                height: auto;
                margin: auto;
                overflow: hidden;

                .search-type {
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin-right: 5px;
                }

                .pdfBox-cont {
                    overflow: hidden;

                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }

                .search-type:hover+.search-label {
                    opacity: 1;
                }

                .search-label {
                    font-size: 10;
                    position: relative;
                    right: 0px;
                    text-transform: capitalize;
                    opacity: 0;
                    -webkit-transition: opacity 0.2s ease-in-out;
                    -moz-transition: opacity 0.2s ease-in-out;
                    -o-transition: opacity 0.2s ease-in-out;
                    transition: opacity 0.2s ease-in-out;
                }
            }

            .icon-live:hover {
                height: 175px;

                .pdfBox-cont {
                    img {
                        width: 100% !important;
                    }
                }
            }
        }

        .search-info:hover {
            width: 60%;
        }
    }
}

.search-item:hover~.searchBox-instances,
.searchBox-instances:hover,
.searchBox-instances:active {
    opacity: 1;
    background: $lighter-alt-accent;
    width:150px
}

.search-item:hover {
    transition: all 0.2s;
    background: $lighter-alt-accent;
}

.search-highlighting {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.searchBox-instances {
    float: left;
    opacity: 1;
    width: 0px;
    transition: all 0.2s ease;
    color: black;
    overflow: hidden;
}


.search-overview:hover {
    z-index: 1;
}

.searchBox-placeholder {
    min-height: 50px;
    margin-left: 150px;
    width: calc(100% - 150px);
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.collection {
    display: flex;
}

.collection-item {
    width: 35px;
}