@import "../globalCssVariables";

.parents {
    background: $lighter-alt-accent;
    padding: 10px;
    // width: 300px;

    .contexts {
        text-transform: uppercase;
    }

    .collection {
        border-color: $darker-alt-accent;
        border-bottom-style: solid;
    }
}