@import "../globalCssVariables";

.toggle-title {
    display: flex;
    align-items: center;
    color: $light-color;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;

    .toggle-option {
        width: 50%;
        text-align: center;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: gray;
        font-size: 13;
    }
}

.toggle-bar {
    // height: 50px;
    height: 30px;
    width: 100px;
    background-color: $alt-accent;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;

    .toggle-button {
        // width: 275px;
        width: 40px;
        height: 100%;
        border-radius: 10px;
        background-color: $light-color;
    }
}