
.pdfPage-cont {
    position: relative;

    .pdfPage-canvasContainer {
        position: absolute;
    }

    .pdfPage-dragAnnotationBox {
        position: absolute;
        background-color: transparent;
        opacity: 0.1;
    }

    .pdfPage-textLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        div {
            user-select: text;
        }
        span {
            color: transparent;
            position: absolute;
            white-space: pre;
            cursor: text;
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }
}