
.pdfPage-cont {

    .pdfPage-dragAnnotationBox {
        position: absolute;
        background-color: transparent;
        opacity: 0.1;
    }
    .pdfPage-annotationLayer {
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: relative;
        top: -100%;
    }

    .PdfPage-textLayer {
        position: relative;
        div {
            user-select: text;
        }
        span {
            color: transparent;
            position: absolute;
            white-space: pre;
            cursor: text;
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }
}