.pdfMenu-cont {
    position: absolute;
    z-index: 10000;
    height: 35px;
    background: #323232;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 6px 6px 6px;
    overflow: hidden;
    display: flex;

    .pdfMenu-button {
        background-color: transparent;
        width: 35px;
        height: 35px;
    }

    .pdfMenu-button:hover {
        background-color: #121212;
    }

    .pdfMenu-dragger {
        height: 100%;
        transition: width .2s;
    }

    .pdfMenu-addTag {
        display: grid;
        width: 200px;
        padding: 5px;
        grid-template-columns: 90px 20px 90px;
    }
}