 
.pdfViewer, .pdfViewer-interactive {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: top left;
    
    // .canvasWrapper {
    //     transform: scale(0.75);
    //     transform-origin: top left;
    // }
    .textLayer {
        
        mix-blend-mode: multiply;// bcz: makes text fuzzy!
        span {
            padding-right: 5px;
            padding-bottom: 4px;
        }
    }
    .textLayer ::selection { background: yellow; } // should match the backgroundColor in createAnnotation()
    .textLayer .highlight {
        background-color: yellow;
    }
    .textLayer .highlight.selected {
        background-color: orange;
    }

    .page {
        position: relative;
    }
    .collectionfreeformview-container {
        pointer-events: none;
    }

    .pdfViewer-text-selected {
        .textLayer{
           pointer-events: all;
           user-select: text;
        }
    }
    .pdfViewer-text {
        transform-origin: top left;
        .textLayer {
            will-change: transform;
        }
    }

    .pdfViewer-dragAnnotationBox {
        position:absolute;
        background-color: transparent;
        opacity: 0.1;
    }

    .pdfViewer-overlay, .pdfViewer-overlay-inking {
        transform-origin: left top;
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width:100%;
        pointer-events: none;
    }
    .pdfViewer-overlay-inking {
        .collectionfreeformview-container {
            pointer-events: all;
        }
    }
    .pdfViewer-annotationLayer {
        position: absolute;
        transform-origin: left top;
        top: 0;
        width: 100%;
        pointer-events: none;
        mix-blend-mode: multiply; // bcz: makes text fuzzy!

        .pdfViewer-annotationBox {
            position: absolute;
            background-color: rgba(245, 230, 95, 0.616);
        }
    }
    .pdfViewer-waiting {
        width: 70%;
        height: 70%;
        margin : 15%;
        transition: 0.4s opacity ease;
        opacity: 0.7; 
        position: absolute;
        z-index: 10;
    }
}

.pdfViewer-interactive {
    pointer-events: all;
}
   