 
.pdfViewerDash, .pdfViewerDash-interactive {
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: top left;
    
    // .canvasWrapper {
    //     transform: scale(0.75);
    //     transform-origin: top left;
    // }
    .textLayer {
        opacity: unset;
        mix-blend-mode: multiply;// bcz: makes text fuzzy!
        span {
            padding-right: 5px;
            padding-bottom: 4px;
        }
    }
    .textLayer ::selection { background: #ACCEF7; } // should match the backgroundColor in createAnnotation()
    .textLayer .highlight {
        background-color: yellow;
    }
    .textLayer .highlight.selected {
        background-color: orange;
    }

    .page {
        position: relative;
        border: unset;
    }
    .pdfViewerDash-text-selected {
        position: relative;
        z-index: -1;
        .textLayer{
           pointer-events: all;
           user-select: text;
        }
    }
    .pdfViewerDash-text {
        transform-origin: top left;
        .textLayer {
            will-change: transform;
        }
    }

    .pdfViewerDash-overlay, .pdfViewerDash-overlay-inking {
        transform-origin: left top;
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width:100%;
        pointer-events: all;
    }
    .pdfViewerDash-overlay {
        pointer-events: none;
    }

    .pdfViewerDash-overlayAnno {
        top: -17px;
        pointer-events: none;
        width: max-content;
        height: 20px;
        position: absolute;
        background: #b8b8b8;
        border-radius: 5px;
        display: block;
    }
    
    .pdfViewerDash-annotationLayer {
        position: absolute;
        transform-origin: left top;
        top: 0;
        width: 100%;
        pointer-events: none;
        mix-blend-mode: multiply; // bcz: makes text fuzzy!
    }
    .pdfViewerDash-waiting {
        width: 70%;
        height: 70%;
        margin : 15%;
        transition: 0.4s opacity ease;
        opacity: 0.7; 
        position: absolute;
        z-index: 10;
    }
}

.pdfViewerDash-interactive {
    pointer-events: all;
}   