@import "../globalCssVariables";

.linkFollowBox-main {
    position: absolute;
    background: whitesmoke;
    color: grey;
    border-radius: 15px;
    box-shadow: $intermediate-color 0.2vw 0.2vw 0.4vw;
    border: solid #BBBBBBBB 5px;
    pointer-events: all;

    .linkFollowBox-header {
        height: 50px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        width: 100%;
    }

    .direction-indicator {
        font-size: 12px;
    }

    .closeDocument {
        position: relative;
        max-width: 30px;
        top: -20px;
        left: 460px;
        color: $darker-alt-accent
    }

    .closeDocument:hover {
        color: $main-accent;
    }

    .topHeader {
        width: 100%;
        height: 25px;
    }

    .linkFollowBox-footer {
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        button {
            background-color: $darker-alt-accent;
            width: 20%;
        }
    }

    .linkFollowBox-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;
        margin-left: 5px;
        margin-right: 5px;

        .linkFollowBox-item {
            background-color: $light-color;
            width: 100%;
            height: 100%;

            .linkFollowBox-itemContent {
                padding: 5px;
                font-size: 12px;
                overflow: scroll;

                input[type=radio] {
                    border: 0px;
                    margin-right: 5px;
                }
            }

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: $light-color;
                background-color: $lighter-alt-accent;
                width: 100%;
                height: 30px;
                border-bottom: solid $darker-alt-accent 5px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}