@import "../globalCssVariables";

.linkMenu {
    width: 100%;
    height: auto;
    //border: 1px solid black;

    // &:hover {
    //     width: calc(auto + 26px);
    // }
}

.linkMenu-list {
    border: 1px solid black;
    max-height: 170px;
    //overflow-y: scroll;
    position: absolute;
    z-index: 10;
    background: white;
    min-width: 150px;
    //border-radius: 5px;
    //padding-top: 6.5px;
    //padding-bottom: 6.5px;
    //padding-left: 6.5px;
    //padding-right: 2px;
    width: calc(auto + 50px);

    &:last-child {
        border-bottom: none;
    }
}

.linkMenu-group {
    border-bottom: 0.5px solid lightgray;
    //@extend: 5px 0;

    .linkMenu-group-name {
        display: flex;


        &:hover {
            p {
                background-color: lightgray;

            }

            p.expand-one {
                width: calc(100% + 26px);
            }

            .linkEditor-tableButton {
                display: block;
            }
        }

        p {
            width: 100%;
            //padding: 4px 6px;
            line-height: 12px;
            border-radius: 5px;
            font-weight: bold;
        }

        .linkEditor-tableButton {
            display: none;
        }
    }
}