@import "../globalCssVariables";

.linkMenu {
    width: 100%;
    height: auto;
}

.linkMenu-list {
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 10;
    background: $link-color;
    min-width: 150px
}

.linkMenu-group {
    border-bottom: 0.5px solid lightgray; 
    padding: 5px 0;


    &:last-child {
        border-bottom: none;
    }

    .linkMenu-group-name {
        display: flex;

        &:hover {
            p {
                background-color: lightgray;
            }
            p.expand-one {
                width: calc(100% - 26px);
            }
            .linkEditor-tableButton {
                display: block;
            }
        }

        p {
            width: 100%;
            padding: 4px 6px;
            line-height: 12px;
            border-radius: 5px;
            font-weight: bold;
        }

        .linkEditor-tableButton {
            display: none;
        }
    }
}



