@import "../globalCssVariables";

.linkMenu-item {
    // border-top: 0.5px solid $main-accent; 
    position: relative;
    display: flex;
    border-bottom: 0.5px solid black;

    padding-left: 6.5px;
    padding-right: 2px;

    padding-top: 6.5px;
    padding-bottom: 6.5px;


    .linkMenu-name {
        position: relative;

        .linkMenu-text {

            padding: 4px 2px;
            //display: inline;

            .linkMenu-destination-title {
                text-decoration: none;
                color: rgb(85, 120, 196);
                font-size: 14px;
                padding-bottom: 2px;
            }

            .linkMenu-description {
                text-decoration: none;
                font-style: italic;
                color: rgb(95, 97, 102);
                font-size: 10px;
            }

            p {
                //padding: 4px 2px;
                line-height: 12px;
                border-radius: 5px;
                overflow-wrap: break-word;
                user-select: none;
            }
        }

    }

    .linkMenu-item-content {
        width: 100%;
    }

    .link-metadata {
        padding: 0 10px 0 16px;
        margin-bottom: 4px;
        color: $main-accent;
        font-style: italic;
        font-size: 10.5px;
    }

    &:hover {


        .linkMenu-item-buttons {
            display: flex;
        }

        .linkMenu-item-content {

            .linkMenu-destination-title {
                text-decoration: underline;
                color: rgb(60, 90, 156);
                //display: inline;
                text-overflow: break;
            }

            &.expand-two p {
                width: calc(100% - 52px);
                //text-decoration: underline;
                //color: rgb(15, 57, 148);
                //background-color: lightgray;
            }

            &.expand-three p {
                width: calc(100% - 84px);
                //text-decoration: underline;
                //color: rgb(15, 57, 148);
                //background-color: lightgray;
            }
        }
    }
}

.linkMenu-item-buttons {
    //@extend: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;

    .button {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 4px;
        padding-right: 6px;
        border-radius: 50%;
        pointer-events: auto;
        background-color: $dark-color;
        color: $light-color;
        font-size: 65%;
        transition: transform 0.2s;
        text-align: center;
        position: relative;

        .fa-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: $main-accent;
            cursor: grab;
        }
    }
}