$navbar-height: 120px;
$pathbar-height: 50px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body {
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: $navbar-height;
    background-color: whitesmoke;
    z-index: 150;
}

.navbar .cover {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    z-index: 200;
}

.navbar .toggle-btn {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 70px;
    width: 70px;
    transition: all 300ms ease-in-out 200ms;
}

.navbar .toggle-btn-home {
    right: -200px;
}

.navbar .header {
    position: absolute;
    top: 50%;
    top: calc(9px + 50%);
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 40;
    font-weight: 700;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    width: 600px;
}

.navbar .toggle-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 4px;
    background: black;
    transition: all 200ms ease;
}

.navbar .toggle-btn span:nth-child(1) {
    transition: top 200ms ease-in-out;
    top: 30%;
}

.navbar .toggle-btn span:nth-child(3) {
    transition: top 200ms ease-in-out;
    top: 70%;
}

.navbar .toggle-btn.active {
    transition: transform 200ms ease-in-out 200ms;
    transform: rotate(135deg);
}

.navbar .toggle-btn.active span:nth-child(1) {
    top: 50%;
}

.navbar .toggle-btn.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
}

.navbar .toggle-btn.active span:nth-child(3) {
    top: 50%;
}

.sidebar {
    position: fixed;
    top: 120px;
    opacity: 0;
    right: -100%;
    width: 100%;
    height: calc(100% - (120px));
    z-index: 101;
    background-color: whitesmoke;
    transition: all 400ms ease 50ms;
    padding: 20px;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    // border-right: 5px solid black;
}

.sidebar .item {
    width: 100%;
    padding: 13px 12px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    user-select: none;
    display: inline-flex;
    font-size: 35px;
    text-transform: uppercase;
    color: black;

}

.sidebar .ink:focus {
    outline: 1px solid blue;
}

.sidebarButtons {
    top: 80px;
    position: relative;
}

.home {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 60;
    user-select: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 200;
}

.item-type {
    display: inline;
    text-transform: lowercase;
    margin-left: 20px;
    font-size: 35px;
    font-style: italic;
    color: rgb(28, 28, 28);
}

.item-title {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right {
    margin-left: 20px;
    z-index: 200;
}

.open {
    right: 20px;
    position: absolute;
}

.left {
    width: 100%;
    height: 100%;
}

.sidebar .logout {
    width: 100%;
    padding: 13px 12px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    user-select: none;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

.sidebar .settings {
    width: 100%;
    padding: 13px 12px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    user-select: none;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}


.sidebar.active {
    position: absolute;
    right: 0%;
    opacity: 1;
    z-index: 101;
}

.back {
    position: absolute;
    left: 42px;
    top: 0;
    background: #1a1a1a;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    user-select: none;
    z-index: 100;
}

.pathbar {
    position: fixed;
    top: 118px;
    left: 0px;
    background: #1a1a1a;
    z-index: 120;
    border-radius: 0px;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.pathname {
    position: relative;
    font-size: 25;
    top: 50%;
    width: 86%;
    left: 12%;
    color: whitesmoke;
    transform: translate(0%, -50%);
    z-index: 20;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
    text-transform: uppercase;
}

.docButton {
    position: relative;
    width: 100px;
    display: flex;
    height: 100px;
    font-size: 70px;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    z-index: 100;
    border-radius: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.docButtonContainer {
    top: 80%;
    position: absolute;
    display: flex;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 100;
}

.scrollmenu {
    overflow: auto;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: inline-flex;
}

.pathbarItem {
    position: relative;
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    user-select: none;
    transform: translate(100px, 0px);
    font-size: 30px;
    padding: 10px;
    text-transform: uppercase;
}

.pathbarText {
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 20px;
    position: relative;
}


.pathIcon {
    transform: translate(0px, 0px);
    position: relative;
}

.hidePath {
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to right, #1a1a1a, rgba(0, 0, 0, 0));
    text-align: center;
    user-select: none;
    z-index: 99;
    pointer-events: none;
}

.toolbar {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    height: max-content;
    top: 0px;
    border-radius: 20px;
    background-color: lightgrey;
    opacity: 0;
    transition: all 400ms ease 50ms;
}

.toolbar.active {
    display: inline-block;
    width: 300px;
    padding: 5px;
    opacity: 1;
    height: max-content;
    top: -450px;
}

.colorSelector {
    position: absolute;
    top: 550px;
    left: 300px;
    transform: translate(-50%, 0);
    z-index: 100;
    display: inline-flex;
    width: max-content;
    height: max-content;
    pointer-events: all;
    font-size: 90px;
}

.widthSelector {
    display: inline-flex;
    width: max-content;
    height: 100px;
    padding: 10px;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
}

.colorButton {
    width: 70px;
    margin: 10px;
    height: 70px;
    border-style: solid;
    border-width: 3px;
    border-radius: 100%;
}

.homeSwitch {
    position: fixed;
    top: 212;
    right: 36px;
    display: inline-flex;
    width: max-content;
    z-index: 99;
    height: 70px;
}

.list {
    width: 70px;
    height: 70px;
    margin: 5;
    padding: 10;
    align-items: center;
    text-align: center;
    font-size: 50;
    border-style: solid;
    border-width: 3;
    border-color: black;
    background: whitesmoke;
    align-self: center;
    border-radius: 10px;
}

.list.active {
    color: darkred;
    border-color: darkred;
}