.mobileInterface-inkInterfaceButtons {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    height: 50px;

    .mobileInterface-button {
        height: 100%;
    }
}

.mobileInterface-container {
    height: 100%;
    position: relative;
    touch-action: none;
    width: 100%;
}

.mobileInterface-background {
    height: 100%;
    width: 100%;
    position: relative;
    touch-action: none;
    background-color: pink;
}