.collectionGridView-contents {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .collectionGridView-gridContainer {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: row;

        .react-grid-layout {
            width: 100%;
        }

        .react-grid-item>.react-resizable-handle {
            z-index: 4; // doesn't work on prezi otherwise
        }

        .react-grid-item>.react-resizable-handle::after {
            // grey so it can be seen on the audiobox
            border-right: 2px solid slategrey;
            border-bottom: 2px solid slategrey;
        }

        .rowHeightSlider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 15px;
            background: #d3d3d3;

            position: absolute;
            height: 3;
            left: 5;
            top: 30;
            transform-origin: left;
            transform: rotate(90deg);
            outline: none;
            opacity: 0.7;
        }

        .rowHeightSlider:hover {
            opacity: 1;
        }

        .rowHeightSlider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: darkgrey;
            opacity: 1;
        }

        .rowHeightSlider::-moz-range-thumb {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: darkgrey;
            opacity: 1;
        }
    }

    .collectionGridView-addDocumentButton {
        display: flex;
        overflow: hidden;
        margin: auto;
        width: 90%;
        cursor: text;
        min-height: 30px;
        max-height: 30px;
        font-size: 75%;
        letter-spacing: 2px;

        .editableView-input {
            outline-color: black;
            letter-spacing: 2px;
            color: grey;
            border: 0px;
            padding: 12px 10px 11px 10px;
        }

        .editableView-container-editing,
        .editableView-container-editing-oneLine {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 20px;

            width: 100%;
            color: grey;
            padding: 10px;

            span::before,
            span::after {
                content: "";
                width: 50%;
                position: relative;
                display: inline-block;
            }

            span::before {
                margin-right: 10px;
            }

            span::after {
                margin-left: 10px;
            }

            span {
                position: relative;
                text-align: center;
                white-space: nowrap;
                overflow: visible;
                display: flex;
                color: gray;
                align-items: center;
            }
        }
    }

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}