.collectionfreeformview-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    .collectionfreeformview {
        position: absolute;
        top: 0;
        left: 0;
    }
}