.audiobox-container,
.audiobox-container-interactive {
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    pointer-events: all;
    position: relative;
    cursor: default;

    .audiobox-buttons {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .audiobox-handle {
        width: 20px;
        height: 100%;
        display: inline-block;
    }

    .audiobox-control,
    .audiobox-control-interactive {
        top: 0;
        max-height: 32px;
        width: 100%;
        display: inline-block;
        pointer-events: none;
    }

    .audiobox-control-interactive {
        pointer-events: all;
    }

    .audiobox-record {
        pointer-events: all;
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
    }

    .audiobox-record-interactive {
        pointer-events: all;
        width: 100%;
        height: 100%;
        position: relative;

        
    }

    .recording {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 100%;
        position: relative;
        padding-right: 5px;
        display: flex;
        background-color: red;      

        .time {
            position: relative;
            height: 100%;
            width: 100%;
            font-size: 20;
            text-align: center;
            top: 5;
        }

        .buttons {
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
            width: 25px;
            padding: 5px;
        }

        .buttons:hover {
            background-color: crimson;
        }
    }

    .audiobox-controls {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        padding-left: 2px;
        background: black;

        .audiobox-player {
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            height: 80%;
            position: relative;
            padding-right: 5px;
            display: flex;

            .audiobox-playhead {
                position: relative;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 2px;
                width: 30px;
                height: 25px;
                padding: 2px;
                border-radius: 50%;
                background-color: dimgrey;
            }

            .audiobox-playhead:hover {
                background-color: white;
            }

            .audiobox-dictation {
                position: relative;
                margin-top: auto;
                margin-bottom: auto;
                width: 25px;
                padding: 2px;
                align-items: center;
                display: inherit;
                background: dimgray;
            }

            .audiobox-timeline {
                position: relative;
                height: 80%;
                width: 100%;
                background: white;
                border: gray solid 1px;
                border-radius: 3px;
                z-index: 1000;

                .audiobox-current {
                    width: 1px;
                    height: 100%;
                    background-color: red;
                    position: absolute;
                }

                .audiobox-linker,
                .audiobox-linker-mini {
                    position: absolute;
                    width: 15px;
                    min-height: 10px;
                    height: 15px;
                    margin-left: -2.55px;
                    background: gray;
                    border-radius: 100%;
                    opacity: 0.9;
                    box-shadow: black 2px 2px 1px;

                    .linkAnchorBox-cont {
                        position: relative !important;
                        height: 100% !important;
                        width: 100% !important;
                        left: unset !important;
                        top: unset !important;
                    }
                }

                .audiobox-linker-mini {
                    width: 8px;
                    min-height: 8px;
                    height: 8px;
                    box-shadow: black 1px 1px 1px;
                    margin-left: -1;
                    margin-top: -2;

                    .linkAnchorBox-cont {
                        position: relative !important;
                        height: 100% !important;
                        width: 100% !important;
                        left: unset !important;
                        top: unset !important;
                    }
                }

                .audiobox-linker:hover,
                .audiobox-linker-mini:hover {
                    opacity: 1;
                }

                .audiobox-marker-container,
                .audiobox-marker-minicontainer {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 2.5%;
                    background: gray;
                    border-radius: 50%;
                    box-shadow: black 2px 2px 1px;
                    overflow: auto;
                    cursor: pointer;

                    .audiobox-marker {
                        position: relative;
                        height: 100%;
                        // height: calc(100% - 15px);
                        width: 100%;
                        //margin-top: 15px;
                    }

                    .audio-marker:hover {
                        border: orange 2px solid;
                    }
                }

                .audiobox-marker-container1,
                .audiobox-marker-minicontainer {
                    position: absolute;
                    width: 10px;
                    height: 90%;
                    top: 2.5%;
                    background: gray;
                    border-radius: 5px;
                    box-shadow: black 2px 2px 1px;
                    opacity: 0.3;

                    .audiobox-marker {
                        position: relative;
                        height: calc(100% - 15px);
                        margin-top: 15px;
                    }

                    .audio-marker:hover {
                        border: orange 2px solid;
                    }

                    .resizer {
                        position: absolute;
                        right: 0;
                        cursor: ew-resize;
                        height: 100%;
                        width: 2px;
                        z-index: 100;
                    }

                    .click {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        z-index: 100;
                    }

                    .left-resizer {
                        position: absolute;
                        left: 0;
                        cursor: ew-resize;
                        height: 100%;
                        width: 2px;
                        z-index: 100;
                    }
                }

                .audiobox-marker-container1:hover,
                .audiobox-marker-minicontainer:hover {
                    opacity: 1;
                }

                .audiobox-marker-minicontainer {
                    width: 5px;
                    border-radius: 1px;

                    .audiobox-marker {
                        position: relative;
                        height: calc(100% - 8px);
                        margin-top: 8px;
                    }
                }
            }

            .current-time {
                position: absolute;
                font-size: 12;
                top: calc(100% - 10px);
                left: 30px;
                color: white;
            }

            .total-time {
                position: absolute;
                top: calc(100% - 10px);
                font-size: 12;
                right: 2px;
                color: white;
            }
        }
    }
}


@media only screen and (max-device-width: 480px) {
    .audiobox-dictation {
        font-size: 5em;
        display: flex;
        width: 100;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .audiobox-container .audiobox-record,
    .audiobox-container-interactive .audiobox-record {
        font-size: 3em;
    }

    .audiobox-container .audiobox-controls .audiobox-player .audiobox-playhead,
    .audiobox-container .audiobox-controls .audiobox-player .audiobox-dictation,
    .audiobox-container-interactive .audiobox-controls .audiobox-player .audiobox-playhead {
        width: 70px;
    }
}