.audiobox-container, .audiobox-container-interactive {
    width: 100%;
    height: 100%;
    position: inherit;
    display:inline-block;
    pointer-events: all;
    .audiobox-control, .audiobox-control-interactive {
        top:0;
        max-height: 32px;
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    .audiobox-control-interactive {
        pointer-events: all;
    }
    .audiobox-record {
        pointer-events: all;
        width:100%;
        height:100%;
        position: absolute;
        pointer-events: none;
    }
    .audiobox-record-interactive {
        pointer-events: all;

    }
}