.resizer {
    width: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 999;
    cursor: e-resize;
    content: " ";
    display: inline-block;
    border-left: 20px solid transparent;
}