.buttonBox-outerDiv {
    width: 100%;
    height: 100%;
    pointer-events: all;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.buttonBox-mainButton {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    text-align: center;
    display: table;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.buttonBox-mainButtonCenter {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.buttonBox-params {
    display: flex;
    flex-direction: row;
}

.buttonBox-missingParam {
    width: 100%;
    background: lightgray;
}