.collectionFreeFormDocumentView-container {
    transform-origin: left top;
    position: absolute;
    background-color: transparent;
    touch-action: manipulation;
    top: 0;
    left: 0;
    pointer-events: none;
    .collectionFreeFormDocumentView-comic {
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}