.colorBox-container, .colorBox-container-interactive {
     width:100%;
     height:100%;
     position: relative;
     pointer-events: none;
     transform-origin: top left;
     
    .sketch-picker {
        div {
            cursor: crosshair;
        }
        .flexbox-fix {
            cursor: pointer;
            div {
                cursor:pointer;
            }
        }
    }
}
.colorBox-container-interactive {
    pointer-events:all;
}