.comparisonBox {
    pointer-events: all;
    border-radius: inherit;
    width: 100%;
    height: 100%;

    .clip-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        z-index: 999;

        .beforeBox-cont {
            height: 100%;
            width: 300px;
        }

        .slide-bar {
            position: absolute;
            width: 5px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: black;
            cursor: ew-resize;
        }
    }

    .afterBox-cont {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
    }
}