@import "../globalCssVariables.scss";


.documentLinksButton-button-empty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.documentLinksButton-button-nonempty:hover {
    background: $main-accent;
    transform: scale(1.05);
    cursor: pointer;
}

.documentLinksButton-button,
.documentLinksButton-button-empty,
.documentLinksButton-button-nonempty {
    height: 20px;
    width: 20px;
    left: -15px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: auto;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 75%;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $main-accent;
        transform: scale(1.05);
        cursor: pointer;
    }
}
.documentLinksButton-button-nonempty {
    background-color: $link-color;
}
.documentLinksButton-button-empty {
    border: red solid 2px;
}
.documentLinksButton-button {
    border: red solid 2px;
    background-color: rgba(255, 192, 203, 0.5);
}