@import "../globalCssVariables";

.documentView-node, .documentView-node-topmost {
  position: inherit;
  top: 0;
  left:0;
  background: $light-color; //overflow: hidden;
  transform-origin: left top;

  &.minimized {
    width: 30px;
    height: 30px;
  }

  .top {
    height: 20px;
    cursor: pointer;
  }

  .content {
    padding: 20px 20px;
    height: auto;
    box-sizing: border-box;
  }

  .scroll-box {
    overflow-y: scroll;
    height: calc(100% - 20px);
  }
}
.documentView-node-topmost {
    background: white;
}
.minimized-box {
    position: absolute;
    left:0;
    top:0;
    width:$MINIMIZED_ICON_SIZE;
    height:$MINIMIZED_ICON_SIZE;
    transform-origin: left top;
}

.minimized-box:hover {
  background: $main-accent;
  transform: scale(1.15);
  cursor: pointer;
}