@import "../globalCssVariables";

.documentView-node .documentView-node-topMost {
  position: inherit;
  top: 0;
  left:0;
  background: $light-color; //overflow: hidden;

  &.minimized {
    width: 30px;
    height: 30px;
  }

  .top {
    background: #232323;
    height: 20px;
    cursor: pointer;
  }

  .content {
    padding: 20px 20px;
    height: auto;
    box-sizing: border-box;
  }

  .scroll-box {
    overflow-y: scroll;
    height: calc(100% - 20px);
  }
}
.documentView-node-topMost {
    background: white;
}

.minimized-box {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background: $dark-color
}

.minimized-box:hover {
  background: $main-accent;
  transform: scale(1.15);
  cursor: pointer;
}