.filterBox-flyout {
    display: block;
    text-align: left;
    font-weight: 100;

    .filterBox-flyout-facet {
        background-color: white;
        text-align: left;
        display: inline-block;
        position: relative;
        width: 100%;

        .filterBox-flyout-facet-check {
            margin-right: 6px;
        }
    }
}


.filter-bookmark {
    //display: flex;

    .filter-bookmark-icon {
        float: right;
        margin-right: 10px;
        margin-top: 7px;
    }
}

// .filterBox-bottom {
    //     // position: fixed;
    //     // bottom: 0;
    //     // width: 100%;
    // }

.filterBox-select {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
}


.filterBox-saveBookmark {
    background-color: #e9e9e9;
    border-radius: 11px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px;
    display: flex;
    font-size: 11px;
    cursor: pointer;

    &:hover {
        background-color: white;
    }

    .filterBox-saveBookmark-icon {
        margin-right: 6px;
        margin-top: 4px;
        margin-left: 2px;
    }

}

.filterBox-title {

    justify-content: center;
    text-align: center;
    padding-bottom: 13px;
    font-size: 20px;
    font-weight: bold;

    .filterBox-span {
        margin-right: 15px;
    }

}

.filterBox-select-scope,
.filterBox-select-bool,
.filterBox-addWrapper,
.filterBox-select-matched,
.filterBox-saveWrapper {
    font-size: 10px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 10px;
    display: flex;
}

.filterBox-addWrapper {
    font-size: 11px;
    width: 100%;
}

.filterBox-saveWrapper {
    width: 100%;
}

// .filterBox-top {
//     padding-bottom: 20px;
//     border-bottom: 2px solid black;
//     position: fixed;
//     top: 0;
//     width: 100%;
// }

.filterBox-select-scope {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}


.filterBox-select-bool {
    margin-top: 6px;
}

.filterBox-select-text {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 3px;
}

.filterBox-select-box {
    margin-right: 2px;
    font-size: 30px;
    border: 0;
    background: transparent;
}

.filterBox-selection {
    border-radius: 6px;
    border: none;
    background-color: #e9e9e9;
    padding: 2px;

    &:hover {
        background-color: white;
    }
}

.filterBox-addFilter {
    width: 120px;
    background-color: #e9e9e9;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;

    &:hover {
        background-color: white;
    }
}

.filterBox-treeView {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #9F9F9F;

    .filterBox-addfacet {
        display: inline-block;
        width: 200px;
        height: 30px;
        text-align: left;

        .filterBox-addFacetButton {
            display: flex;
            margin: auto;
            cursor: pointer;
        }

        >div,
        >div>div {
            width: 100%;
            height: 100%;
        }
    }

    .filterBox-tree {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        //height: calc(100% - 30px);
    }
}