.fontIconBox-label {
    color: white;
    margin-right: 4px;
    margin-top: 1px;
    position: relative;
    text-align: center;
    font-size: 7px;
    letter-spacing: normal;
    background-color: inherit;
    border-radius: 8px;
    margin-top: -8px;
    padding: 0;
    width: 100%;
    font-family: 'ROBOTO';
    text-transform: uppercase;
    font-weight: bold;
}

.fontIconBadge-container {
    position: absolute;
    z-index: 1000;
    top: 12px;

    .fontIconBadge {
        position: absolute;
        top: -10px;
        right: -10px;
        color: white;
        background: #f44b42;
        font-weight: 300;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        text-align: center;
        padding-top: 4px;
        font-size: 12px;
    }
}

.menuButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;

    .menuButton-wrap {
        grid-column: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fontIconBox-icon {
        width: 80%;
        height: 80%;
    }

    .fontIconBox-label {
        z-index: 100;
        min-width: fit-content;
        bottom: 0;
        left: 0;
        width: 100%;
        /* justify-self: center; */
        border-radius: 0px;
        position: absolute;
    }

    svg {
        width: 50% !important;
        height: 50%;
    }

    &.clickBtn {
        cursor: pointer;
        border-radius: 7px;
    }

    &.tglBtn {
        cursor: pointer;
        border-radius: 7px;
    }

    &.menuBtn {
        cursor: pointer;
    }

    &.drpDownBtn {
        cursor: pointer;
        background: transparent;

        &.true {
            background: rgba(0, 0, 0, 0.3);
        }

        .menuButton-dropDown {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            /* background-color: #b9b9b9; */
            grid-column: 2;
            border-radius: 0px 7px 7px 0px;
            /* position: absolute; */
            width: 13px;
            height: 100%;
            right: 0;
        }

        .menuButton-dropDownBox {
            position: absolute;
            width: 150px;
            height: 250px;
            top: 100%;
            background-color: #e3e3e3;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
        }
    }

}