.ProseMirror {
    width: 100%;
    height: auto;
    min-height: 100%
}

.ProseMirror:focus {
    outline: none !important
}

.formattedTextBox-cont {
    background: white;
    padding: 1;
    border-width: 1px;
    border-radius: 2px;
    border-color:black;
    box-sizing: border-box;
    background: white;
    border-style:solid;
    overflow-y: scroll;
    overflow-x: hidden;
    color: initial;
    height: 100%;
}