.ProseMirror {
    width: 100%;
    height: auto;
    min-height: 100%
}

.ProseMirror:focus {
    outline: none !important
}

.formattedTextBox-cont {
    background: white;
    padding: 1;
    border: black;
    border-width: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    color: initial;
    height: 100%;
}