@import "../globalCssVariables";
.ProseMirror {
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: $serif;
}

.ProseMirror:focus {
  outline: none !important;
}

.formattedTextBox-cont-scroll, .formattedTextBox-cont-hidden {
  background: $light-color-secondary;
  padding: 0.9em;
  border-width: 0px;
  border-radius: $border-radius;
  border-color: $intermediate-color;
  box-sizing: border-box;
  border-style: solid;
  overflow-y: scroll;
  overflow-x: hidden;
  color: initial;
  height: 100%;
  pointer-events: all;
}
.formattedTextBox-cont-hidden {
    overflow: hidden;
    pointer-events: none;
}

.menuicon {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #888;
  line-height: 1;
  padding: 0 7px;
  margin: 1px;
  cursor: pointer;
  text-align: center;
  min-width: 1.4em;
}

.strong,
.heading {
  font-weight: bold;
}

.em {
  font-style: italic;
}
