.histogramboxprimitives-border {
    border: 1px;
    border-style: solid;
    pointer-events: none;
    position: absolute;
    border-color: #282828;
}
.histogramboxprimitives-bar {
    position: absolute;
}