.histogrambox-container {
    padding: 0vw;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .histogrambox-gridlabel {
    position:absolute;
    transform-origin: left top;
  }
  .histogrambox-xaxislabel {
    position:absolute;
    width:100%;
    text-align: center;
    bottom:0;
  }
  