
  .histogramLabelPrimitives-gridlabel {
    position:absolute;
    transform-origin: left top;
    font-size: 11;
  }
  .histogramLabelPrimitives-placer {
    position:absolute;
    width:100%;
    height:100%;
    pointer-events: none;
  }