.histogrambox-container {
    padding: 0vw;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .histogrambox-xlabel {
    position:absolute;
    width:100%;
    text-align: center;
    bottom:0;
  }
  