
@import "../globalCssVariables";
.iconBox-container {
    position: inherit;
    left:0;
    top:0;
    height: auto;
    width: max-content;
    // overflow: hidden;
    pointer-events: all;
    svg {
        width:  $MINIMIZED_ICON_SIZE !important;
        height: auto;
        background: white;
    }
    .iconBox-label {
        position: absolute;
        width:max-content;
        font-size: 14px;
        margin-top: 3px;
    }
}