.imageBox, .imageBox-dragging{
    pointer-events: all;
    border-radius: inherit;
    width:100%;
    height:100%;
    position: absolute;
    transform-origin: top left;
    .imageBox-fader {
        pointer-events: all;
    }
}

.imageBox-dragging {
    .imageBox-fader {
        pointer-events: none;
    }
}

.imageBox-cont {
    padding: 0vw;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    background:transparent;
    img {
        height: auto;
        width: 100%;
        pointer-events: all;
    }
}

.imageBox-dot {
    position: absolute;
    bottom: 10;
    left: 0;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: gray;
}

#google-photos {
    transition: all 0.5s ease 0s;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
    background: white;
    cursor: pointer;
    opacity:0.15;
}
#google-photos:hover{
    opacity: 1;
}

#google-tags {
    transition: all 0.5s ease 0s;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
    background: white;
}

.imageBox-button {
    padding: 0vw;
    border: none;
    width: 100%;
    height: 100%;
}

.imageBox-audioBackground {
    display: inline-block;
    width: 10%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background: white;
    opacity: 0.3;

    svg {
        width: 90% !important;
        height: 70%;
        position: absolute;
        left: 5%;
        top: 15%;
    }
}

.imageBox-fader {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    overflow: hidden;

    .imageBox-fadeBlocker {
        width: 100%;
        height: 100%;
        position: absolute;
        background: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;

        .imageBox-fadeaway {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.imageBox-fader img {
    position: absolute;
    left: 0;
}

.imageBox-fadeBlocker {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.imageBox:hover {
    .imageBox-fadeBlocker {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }
}