@import "./../globalCssVariables.scss"; 

.bar {
    height: 100%;
    width: 5px;
    background-color: green;
    position: absolute;
    
    // pointer-events: none; 
    .menubox {
        width: 200px; 
        height: 200px;
        top: 50%;
        position: absolute; 
        background-color: $light-color; 
        .menutable{
            tr:nth-child(odd){
                background-color:$light-color-secondary;
            }
        }
    }

    .leftResize{
        left:-10px; 
        height:20px; 
        width:20px; 
        top: calc(50% - 10px); 
        position:absolute; 
    }
    .rightResize{
        right:-10px; 
        height:20px; 
        width:20px; 
        top:calc(50% - 10px); 
        position:absolute; 

    }


}