.labelBox-outerDiv {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.labelBox-mainButton {
    width: fit-content;
    height: max-content;
    border-radius: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    margin: auto;
    text-overflow: ellipsis;
}

.labelBox-params {
    display: flex;
    flex-direction: row;
}

.labelBox-missingParam {
    width: 100%;
    background: lightgray;
    border: dimGray solid 1px;
}