@import "../globalCssVariables";

.linkMenu {
    width: 100%;
    height: auto;
}

.linkMenu-list {
    max-height: 200px;
    overflow-y: scroll;
}

.linkMenu-group {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    .linkMenu-group-name {
        border-bottom: 0.5px solid lightgray; 
        margin-bottom: 4px;
    }
}



