@import "../globalCssVariables";

.linkMenu {
    width: 100%;
    height: auto;
}

.linkMenu-list {
    max-height: 200px;
    overflow-y: scroll;
}

.linkMenu-group {
    // margin-bottom: 10px;
    border-bottom: 0.5px solid lightgray; 
    padding: 5px 0;


    &:last-child {
        border-bottom: none;
    }

    .linkMenu-group-name {
        padding: 4px 6px;
        line-height: 12px;
        border-radius: 5px;
        font-weight: bold;

        &:hover {
            background-color: lightgray;
        }
    }

    // .linkMenu-group-wrapper {
    //     padding-top: 4px;
    // }
}



