#menu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#search-bar {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

#link-list {
    margin-top: 5px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}