@import "../globalCssVariables";

.linkEditor {
    width: 100%;
    height: auto;
    font-size: 12px; // TODO
}

.linkEditor-back {
    margin-bottom: 6px;
}

.linKEditor-info {
    border-bottom: 0.5px solid $light-color-secondary; 
    padding-bottom: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;

    .linkEditor-delete {
        width: 20px;
        height: 20px;
        margin-left: 6px;
        padding: 0;
    }
}

.linkEditor-groupsLabel {
    display: flex;
    justify-content: space-between;

    button {
        width: 20px;
        height: 20px;
        margin-left: 6px;
        padding: 0;
        font-size: 14px;
    }
}

.linkEditor-group {
    background-color: $light-color-secondary; 
    padding: 6px;
    margin: 3px 0;
    border-radius: 3px;

    .linkEditor-group-row {
        display: flex;
        margin-bottom: 6px;

        .linkEditor-group-row-label {
            margin-right: 6px;
        }
    }

    .linkEditor-metadata-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;

        .linkEditor-error {
            border-color: red;
        }

        input {
            width: calc(50% - 18px);
            height: 20px;
        }

        button {
            width: 20px;
            height: 20px;
            margin-left: 6px;
            padding: 0;
            font-size: 14px;
        }
    }
}


.linkEditor-dropdown {
    width: 100%;
    position: relative;
    z-index: 999;

    .linkEditor-options-wrapper {
        width: 100%;
        position: absolute;
        top: 19px;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .linkEditor-option {
        background-color: $light-color-secondary;
        border: 1px solid $intermediate-color;
        border-top: 0;
        padding: 3px;
        cursor: pointer;

        &:hover {
            background-color: $intermediate-color;
            font-weight: bold;
        }
    }
}

.linkEditor-group-buttons {
    height: 20px;
    display: flex;
    justify-content: space-between;

    .linkEditor-groupOpts {
        width: calc(20% - 3px);
        height: 20px;
        padding: 0;
        font-size: 10px;

        &:disabled {
            background-color: gray;
        }
    }

    .linkEditor-groupOpts button {
        width: 100%;
        height: 20px;
        font-size: 10px;
        padding: 0;
    }
}