@import "../globalCssVariables";

.linkEditor {
    width: 100%;
    height: auto;
    font-size: 12px;
    max-width: 176px;
}

.linkEditor-back {
    margin-bottom: 6px;
}

.linkEditor-info {
    border-bottom: 0.5px solid $light-color-secondary; 
    padding-bottom: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;

    .linkEditor-linkedTo {
        width: calc(100% - 26px);
    }
}

.linkEditor-group {
    // background-color: $light-color-secondary; 
    // padding: 6px;
    margin: 3px 0;
    border-radius: 3px;

    .linkEditor-group-row {
        margin-bottom: 6px;

        .linkEditor-group-row-label {
            display: flex;
            justify-content: space-between;
        }
    }
}

.linkEditor-direction {
    display: flex;
}

.linkEditor-dropdown {
    width: 100%;
    position: relative;
    z-index: 999;

    .linkEditor-dropdown-input {
        display: flex;

        input {
            width: calc(100% - 26px);
        }

        .linkEditor-button {
            margin-left: 6px;
        }
    }

    .linkEditor-options-wrapper {
        width: calc(100% - 26px);
        position: absolute;
        top: 19px;
        left: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    }

    .linkEditor-option {
        background-color: $light-color-secondary;
        border: 1px solid $intermediate-color;
        border-top: 0;
        padding: 3px;
        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }

        &:first-child {
            border-top: 1px solid $intermediate-color;
        }
    }
}

.linkEditor-metadataTable {
    display: flex;
    flex-direction: column;
    border: 1px solid $main-accent;

    .linkEditor-metadataRow {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;

        &:nth-child(even) {
            background-color: $light-color;
        }

        &:nth-child(odd) {
            background-color: $light-color-secondary;
        }
        
        .placeholder span {
            color: gray;
        }

        .key-error input {
            border-color: red;
        }

        &.linkEditor-metadata-header {
            background-color: $intermediate-color;
    
            p {
                color: $light-color-secondary;
                text-align: center;
                display: block;
                letter-spacing: 2px;
            }
        }

        .editableView-container-editing {
            width: 100%;
        }

        .linkEditor-metadataButton {
            background-color: transparent;
            color: red;
            padding: 0;
            margin-right: 3px;
            transition: opacity 0.3s ease 0s;
            opacity: 0;
        }

        &:hover .linkEditor-metadataButton {
            opacity: 1;
        }
    }

    .linkEditor-metadata-key {
        width: 50%;
        border-right: 1px dotted $main-accent;
        padding: 0 3px;
        display: flex;
    }

    .linkEditor-metadata-value {
        width: 50%;
        padding: 0 3px;
        padding-left: 9px;
    }
}

.linkEditor-button {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    padding: 0;
    border-radius: 10px;

    &.linkEditor-button-inactive {
        display: none;
    }

    &:disabled {
        background-color: gray;
    }
}

.linkEditor-group-buttons {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .linkEditor-button {
        margin-left: 6px;
    }
}

.linkEditor-navButtons {
    display: flex;
    justify-content: center;
    clear: both;

    button:not(:first-child) {
        margin-left: 6px;
    }
}

.linkEditor-directionButton {
    height: 20px;
    text-transform: none;
    letter-spacing: 0;
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 10px;
    margin-left: 6px;
}

.linkEditor-addKvp {
    float: right;
}