.linkBox-cont {
    width: 200px;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;

    .linkBox-cont-wrapper {
        width: calc(100% - 20px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}