.pdfBox,
.pdfBox-interactive {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor:auto;
    transform-origin: top left;
    z-index: 0;
    .pdfBox-ui {
        position: absolute;
         width: 100%; 
         height: 100%;
         z-index: 1;
         pointer-events: none;

         .pdfBox-overlayButton {
             border-bottom-left-radius: 50%;
             display: flex;
             justify-content: space-evenly;
             align-items: center;
             height: 20px;
             background: none;
             padding: 0;
             position: absolute;
             pointer-events: all;
         
             .pdfBox-overlayButton-arrow {
                 width: 0;
                 height: 0;
                 border-top: 10px solid transparent;
                 border-bottom: 10px solid transparent;
                 border-right: 15px solid #121721;
                 transition: all 0.5s;
             }

             .pdfBox-overlayButton-iconCont {
                background: #121721;
                height: 20px;
                width: 25px;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                pointer-events: all;
             }
        }
        .pdfBox-overlayButton-fwd, 
        .pdfBox-overlayButton-back {
            background: #121721;
            height: 25px;
            width: 25px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            pointer-events: all;
            position: absolute;
            top: 5;
        }
        .pdfBox-overlayButton-fwd {
            left: 45;
        }
        .pdfBox-overlayButton-back {
            left: 25;
        }

         .pdfBox-nextIcon, 
         .pdfBox-prevIcon {
            background: #121721;
            height: 20px;
            width: 25px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            pointer-events: all;
            padding: 0px;
         }
         
         .pdfBox-overlayButton:hover {
             background: none;
         }
         

         .pdfBox-settingsCont {
             position: absolute;
             right: 0;
             top: 3;
             pointer-events: all;
         
             .pdfBox-settingsButton {
                 border-bottom-left-radius: 50%;
                 display: flex;
                 justify-content: space-evenly;
                 align-items: center;
                 height: 20px;
                 background: none;
                 padding: 0;
         
                 .pdfBox-settingsButton-arrow {
                     width: 0;
                     height: 0;
                     border-top: 10px solid transparent;
                     border-bottom: 10px solid transparent;
                     border-right: 15px solid #121721;
                     transition: all 0.5s;
                 }
         
                 .pdfBox-settingsButton-iconCont {
                     background: #121721;
                     height: 20px;
                     width: 25px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin-left: -2px;
                     border-radius: 3px;
                 }
             }
         
             .pdfBox-settingsButton:hover {
                 background: none;
             }
         
             .pdfBox-settingsFlyout {
                 position: absolute;
                 background: #323232;
                 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
                 right: 20px;
                 border-radius: 7px;
                 padding: 20px;
                 display: flex;
                 flex-direction: column;
                 font-size: 14px;
                 transition: all 0.5s;
         
                 .pdfBox-settingsFlyout-title {
                     color: white;
                 }
         
                 .pdfBox-settingsFlyout-kvpInput {
                     margin-top: 20px;
                     display: grid;
                     grid-template-columns: 47.5% 5% 47.5%;
                 }
             }
         }
         
         .pdfBox-overlayCont {
             position: absolute;
             width: calc(100% - 40px);
             height: 20px;
             background: #121721;
             bottom: 0;
             display: flex;
             justify-content: center;
             align-items: center;
             overflow: hidden;
             transition: left .5s;
             pointer-events: all;
         
             .pdfBox-searchBar {
                 width: 70%;
                 font-size: 14px;
             }
         }
    }
    .pdfBox-title-outer {
        width: 150%;
        height: 100%;
        position: relative;
        display: grid;
        z-index: 0;
        background: lightslategray;
        transform-origin: top left;
        
        .pdfBox-title {
            color:lightgray;
            margin-top: auto;
            margin-bottom: auto;
            transform-origin: 42% 15%;
            width: 100%;
            transform: rotate(55deg);
            font-size: 200;
            padding: 5%;
            overflow: hidden;
            display: inline-block;
            white-space: pre;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}

.pdfBox {
    .pdfViewer-text {
        .textLayer {
            span {
                user-select: none;
            }
        }
    }
}

.pdfBox-interactive {
    pointer-events: all;
    .pdfViewer-text {
        .textLayer {
            span {
                user-select: text;
            }
        }
    }
}