.pdfBox,
.pdfBox-interactive {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: auto;
    transform-origin: top left;
    z-index: 0;

    .pdfBox-ui {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        top: 0;
        left: 0;

        .pdfBox-pageNums {
            display: flex;
            flex-direction: row;
            height: 25px;
            position: absolute;
            left: 5px;
            top: 5px;

            .pdfBox-overlayButton-fwd,
            .pdfBox-overlayButton-back {
                background: #121721;
                height: 25px;
                width: 25px;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                pointer-events: all;
            }
        }

        .pdfBox-overlayButton {
            border-bottom-left-radius: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 20px;
            background: none;
            padding: 0;
            position: absolute;
            pointer-events: all;

            .pdfBox-overlayButton-arrow {
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 15px solid #121721;
                transition: all 0.5s;
            }

            .pdfBox-overlayButton-iconCont {
                background: #121721;
                height: 20px;
                width: 25px;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                pointer-events: all;
            }
        }

        .pdfBox-nextIcon,
        .pdfBox-prevIcon {
            background: #121721;
            height: 20px;
            width: 25px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            pointer-events: all;
            padding: 0px;
        }

        .pdfBox-overlayButton:hover {
            background: none;
        }


        .pdfBox-settingsCont {
            position: absolute;
            right: 0;
            top: 3;
            pointer-events: all;

            .pdfBox-settingsButton {
                border-bottom-left-radius: 50%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 20px;
                background: none;
                padding: 0;

                .pdfBox-settingsButton-arrow {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 15px solid #121721;
                    transition: all 0.5s;
                }

                .pdfBox-settingsButton-iconCont {
                    background: #121721;
                    height: 20px;
                    width: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -2px;
                    border-radius: 3px;
                }
            }

            .pdfBox-settingsButton:hover {
                background: none;
            }

            .pdfBox-settingsFlyout {
                position: absolute;
                background: #323232;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
                right: 20px;
                border-radius: 7px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                transition: all 0.5s;

                .pdfBox-settingsFlyout-title {
                    color: white;
                }

                .pdfBox-settingsFlyout-kvpInput {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 47.5% 5% 47.5%;
                }
            }
        }

        .pdfBox-overlayCont {
            position: absolute;
            width: calc(100% - 40px);
            height: 20px;
            background: #121721;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: left .5s;
            pointer-events: all;

            .pdfBox-searchBar {
                width: 70%;
                font-size: 14px;
            }
        }
    }

    .pdfBox-title-outer {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        z-index: 0;
        background: lightslategray;
        transform-origin: top left;

        .pdfBox-title {
            color: lightgray;
            margin-top: auto;
            margin-bottom: auto;
            transform-origin: 40% 40%;
            width: 125%;
            transform: rotate(40deg) scale(0.8);
            font-size: 80;
            padding: 5%;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}

.pdfBox {
    width: 100%;
    height: 100%;
    pointer-events: none;
    .pdfViewerDash-text {
        .textLayer {
            display: none;
            span {
                user-select: none;
            }
        }
    }
}

.pdfBox-background {
    width: 100%;
    height: 100%;
    background: lightGray;
}

.pdfBox-interactive {
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: -1;
    .pdfViewerDash-text {
        .textLayer {
            display: contents;
            span {
                user-select: text;
            }
        }
    }
}

// CSS adjusted for mobile devices
@media only screen and (max-device-width: 480px) {

    .pdfBox .pdfBox-ui .pdfBox-settingsCont .pdfBox-settingsButton,
    .pdfBox-interactive .pdfBox-ui .pdfBox-settingsCont .pdfBox-settingsButton {
        height: 60px;

        .pdfBox-settingsButton-iconCont {
            height: 60px;
            width: 75px;
            font-size: 30px;
        }

        .pdfBox-settingsButton-arrow {
            height: 60;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-right: 30px solid #121721;
        }
    }



    .pdfBox .pdfBox-ui .pdfBox-settingsCont .pdfBox-settingsFlyout,
    .pdfBox-interactive .pdfBox-ui .pdfBox-settingsCont .pdfBox-settingsFlyout {
        font-size: 30px;
    }



    .pdfBox .pdfBox-ui .pdfBox-overlayCont,
    .pdfBox-interactive .pdfBox-ui .pdfBox-overlayCont {
        height: 60px;

        .pdfBox-searchBar {
            font-size: 40px;
        }
    }

    .pdfBox .pdfBox-ui .pdfBox-overlayButton,
    .pdfBox-interactive .pdfBox-ui .pdfBox-overlayButton {
        height: 60px;

        .pdfBox-overlayButton-iconCont {
            height: 60px;
            width: 75px;
            font-size: 30;
        }

        .pdfBox-overlayButton-arrow {
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-right: 30px solid #121721;
        }
    }

    button.pdfBox-search {
        font-size: 30px;
        width: 50px;
        height: 50px;
    }

    .pdfBox .pdfBox-ui .pdfBox-nextIcon,
    .pdfBox .pdfBox-ui .pdfBox-prevIcon,
    .pdfBox-interactive .pdfBox-ui .pdfBox-nextIcon,
    .pdfBox-interactive .pdfBox-ui .pdfBox-prevIcon {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
}
