.react-pdf__Page {
    transform-origin: left top;
    position: absolute;
    top: 0;
    left: 0;
}

.react-pdf__Page__textContent span {
    user-select: text;
}

.react-pdf__Document {
    position: absolute;
}

.pdfBox-buttonTray {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    pointer-events: all;
}

.pdfBox-thumbnail {
    position: absolute;
    width: 100%;
}

.pdfButton {
    pointer-events: all;
    width: 100px;
    height: 100px;
}

.pdfBox-cont {
    pointer-events: none;
    display: flex;
    flex-direction: row;

    span {
        pointer-events: none !important;
    }
}
.textlayer {
    span {
        pointer-events: all !important;
        user-select: text;
    }
}

.pdfBox-cont-interactive {
    pointer-events: all;
    display: flex;
    flex-direction: row;
}

.pdfBox-contentContainer {
    position: absolute;
    transform-origin: left top;
}