.pdfBox-cont,
.pdfBox-cont-interactive {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pdfBox-cont {
    pointer-events: none;
    .pdfPage-textlayer {
        span {
            pointer-events: none !important;
            user-select: none; 
        }
    }
}

.pdfBox-cont-interactive {
    pointer-events: all;
    .pdfViewer-text {
        .textLayer {
            span {
                user-select: text;
            }
        }
    }
}

.react-pdf__Page {
    transform-origin: left top;
    position: absolute;
    top: 0;
    left: 0;
}

.react-pdf__Page__textContent span {
    user-select: text;
}

.react-pdf__Document {
    position: absolute;
}


.pdfBox-settingsCont {
    position: absolute;
    right: 0;
    top: 0;

    .pdfBox-settingsButton {
        border-bottom-left-radius: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 70px;
        background: none;
        padding: 0;

        .pdfBox-settingsButton-arrow {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-right: 25px solid #121721;
            transition: all 0.5s;
        }

        .pdfBox-settingsButton-iconCont {
            background: #121721;
            height: 50px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -2px;
            border-radius: 3px;
        }
    }

    .pdfBox-settingsButton:hover {
        background: none;
    }

    .pdfBox-settingsFlyout {
        width: 600px;
        position: absolute;
        background: #323232;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
        left: -400px;
        border-radius: 7px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        transition: all 0.5s;

        .pdfBox-settingsFlyout-title {
            color: white;
        }

        .pdfBox-settingsFlyout-kvpInput {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 47.5% 5% 47.5%;
        }
    }
}

.pdfViewer-overlayCont {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #121721;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    transition: left .5s;

    .pdfViewer-overlaySearchBar {
        width: 70%;
        height: 100%;
        font-size: 30px;
        padding: 5px;
    }
}

.pdfViewer-overlayButton {
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background: none;
    padding: 0;
    position: absolute;

    .pdfViewer-overlayButton-arrow {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 25px solid #121721;
        transition: all 0.5s;
    }

    .pdfViewer-overlayButton-iconCont {
        background: #121721;
        height: 50px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2px;
        border-radius: 3px;
    }
}

.pdfViewer-overlayButton:hover {
    background: none;
}
.collectionPdfView-buttonTray {
    top: 15px;
    left: 20px;
    position: relative;
    transform-origin: left top;
    position: absolute;
}
.collectionPdfView-backward {
    color: white;
    font-size: 24px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.2);
}

.collectionPdfView-forward {
    color: white;
    font-size: 24px;
    top: 0px;
    left: 45px;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.2);
}


