.presBox-cont {
    position: absolute;
    z-index: 2;
    box-shadow: #AAAAAA .2vw .2vw .4vw;
    bottom: 0;
    width: 100%;
    min-width: 120px;
    height: 100%;
    min-height: 41px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.7s opacity ease;
    pointer-events: all;

    .presBox-buttons {
        padding: 10px;
        width: 100%;
        background: gray;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        .presBox-button {
            margin-right: 2.5%;
            margin-left: 2.5%;
            width: 20%;
            border-radius: 5px;
        }
    }
    .presBox-backward, .presBox-forward {
        width: 25px;
        border-radius: 5px;
        top:50%;
        position: absolute;
        display: inline-block;
    }
    .presBox-backward {
        left:5;
    }
    .presBox-forward {
        right:5;
    }
}