.presBox-cont {
    position: absolute;
    z-index: 2;
    box-shadow: #AAAAAA .2vw .2vw .4vw;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 120px;
    height: 100%;
    min-height: 50px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.7s opacity ease;
    pointer-events: all;

    .presBox-listCont {
        position: relative;
    }

    .presBox-buttons {
        padding: 10px;
        width: 100%;
        .presBox-button {
            margin-right: 2.5%;
            margin-left: 2.5%;
            width: 20%;
            border-radius: 5px;
        }
    }
}