.sliderBox-outerDiv {
    width: calc(100% - 14px);   // 14px accounts for handles that are at the max value of the slider that would extend outside the box
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    top: 7px;
    position: relative;
}