@import "./../globalCssVariables.scss"; 

.timeline-container{
    width:100%;
    height:200px; 
    position:absolute;
    background-color:$intermediate-color;
    .toolbox{
        width: 200px; 
        div{
            position:relative; 
            display:inline-block; 
        }
    }
    .info-container{
        top: 10px; 
        margin-left: 10%; 
        position:relative; 
        height: 80%; 
        width: 80%; 
        overflow-x: hidden; 
        
        .scrubberbox{
            position:relative; 
            background-color: transparent; 
            height: 30px;
            width:100%; 
           
            .tick{
                height:100%; 
                width: 1px; 
                background-color:black; 

            }   
        }
        .scrubber{
            height: 100px; 
            width: 2px; 
            position:absolute;
            z-index: 1001;
            background-color:black ; 
            .scrubberhead{
                height: 30px; 
                width: 30px;
                left: -15px;
                //top: -40px; 
                position:absolute;                 
            }
        }

        .trackbox{
            top: 30px; 
            height:calc(100%);
            width:100%;
            border:1px;
            overflow:auto;
            background-color:white;
            position:absolute;

        }
    }
    
}