@import "./../globalCssVariables.scss"; 

.timeline-container{
    width:100%;
    height:200px; 
    position:absolute;
    background-color:$intermediate-color;
    .toolbox{
        width: 200px; 
        div{
            position:relative; 
            display:inline-block; 
        }
    }
    .scrubberbox{
        position:relative; 
        background-color: transparent; 
        height: 30px;
        margin-left:calc(10% + 100px);
        width: calc(80% - 100px); 
        overflow-x: scroll; 
        overflow-y: visible; 
        .tick{
            height:100%; 
            width: 1px; 
            background-color:black; 

        }
        
    }
    .scrubberbox::-webkit-scrollbar{
        display:none; 
    }
    .scrubber{
        margin-left:calc(10% + 100px);
        height: 100px; 
        width: 2px; 
        position:absolute;
        z-index: 1001;
        
        background-color:black ; 
        .scrubberhead{
            height: 30px; 
            width: 30px;
            left: -15px;
            top: -30px; 
            position:absolute;                 
        }
    }
    .trackbox{
        height:60%;
        width:80%;
        border:1px;
        overflow:auto;
        background-color:white;
        margin-Left:10%;
        position:absolute;

    }
}