@import "./../globalCssVariables.scss"; 

.timeline-container{
    width:100%;
    height:200px; 
    position:absolute;
    background-color:$intermediate-color;
    .toolbox{
        padding-top:10px; 
    }
    .scrubberbox{
        z-index:10; 
        background-color: black; 
        height: 20px;
        margin-left:calc(10% + 100px);
        width: calc(80% - 100px); 
        .scrubber{
            z-index:10; 
            height:300px; 
            width: 5px; 
            background-color:green; 
        }
    }
    .trackbox{
        height:60%;
        width:80%;
        border:1px;
        overflow:auto;
        background-color:white;
        margin-Left:10%;
        position:absolute;

    }
}