.videoBox-content-YouTube, .videoBox-content-YouTube-fullScreen,
.videoBox-content, .videoBox-content-interactive, .videoBox-cont-fullScreen {
    width: 100%;
}

.videoBox-content, .videoBox-content-interactive, .videoBox-content-fullScreen {
    height: Auto; 
}

.videoBox-content-YouTube, .videoBox-content-YouTube-fullScreen  {
    height: 100%;
}

.videoBox-content-interactive, .videoBox-content-fullScreen,
.videoBox-content-YouTube-fullScreen  {
    pointer-events: all;
}