.videoBox-cont, .videoBox-cont-interactive, .videoBox-cont-fullScreen {
    width: 100%; 
    height: Auto; 
}

.videoBox-cont-interactive {
    pointer-events: all;
}

.videoBox-cont-fullScreen {
    pointer-events: all;
}