.videoBox {
    transform-origin: top left;
    .videoBox-viewer {
        opacity: 0.99;  // hack!  overcomes some kind of Chrome weirdness where buttons (e.g., snapshot) disappear at some point as the video is resized larger
    }
    .inkingCanvas-paths-markers {
        opacity : 0.4; // we shouldn't have to do this, but since chrome crawls to a halt with z-index unset in videoBox-content, this is a workaround
    }
}

.videoBox-content-YouTube, .videoBox-content-YouTube-fullScreen,
.videoBox-content, .videoBox-content-interactive, .videoBox-cont-fullScreen {
    width: 100%;
    z-index: -1; // 0;  // logically this should be 0 (or unset) which would give us transparent brush strokes over videos.  However, this makes Chrome crawl to a halt
    position: absolute;
}

.videoBox-content, .videoBox-content-interactive, .videoBox-content-fullScreen {
    height: Auto; 
}

.videoBox-content-YouTube, .videoBox-content-YouTube-fullScreen  {
    height: 100%;
}

// .videoBox-content-interactive, .videoBox-content-fullScreen, .videoBox-content-YouTube-fullScreen  {
//     pointer-events: all;
// }

.videoBox-time{
    color : white;
    top :25px;
    left : 25px;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.2);
    transform-origin: left top;
    pointer-events:all;
}
.videoBox-snapshot{
    color : white;
    top :25px;
    right : 25px;
    position: absolute;
    background-color:rgba(50, 50, 50, 0.2);
    transform-origin: left top;
    pointer-events:all;
}
.videoBox-play {
    width: 25px;
    height: 20px;
    bottom: 25px;
    left : 25px;
    position: absolute;
    color : white;
    background-color: rgba(50, 50, 50, 0.2);
    border-radius: 4px;
    text-align: center;
    transform-origin: left bottom;
    pointer-events:all;
}
.videoBox-full {
    width: 25px;
    height: 20px;
    bottom: 25px;
    right : 25px;
    position: absolute;
    color : white;
    background-color: rgba(50, 50, 50, 0.2);
    border-radius: 4px;
    text-align: center;
    transform-origin: right bottom;
    pointer-events:all;

}