@import "../globalCssVariables.scss";

.webBox-cont,
.webBox-cont-interactive {
    padding: 0vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
}

.webBox-cont-interactive {
    pointer-events: all;

    span {
        user-select: text !important;
    }
}

#webBox-htmlSpan {
    position: absolute;
    top: 0;
    left: 0;
}

.webBox-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.webBox-button {
    padding: 0vw;
    border: none;
    width: 100%;
    height: 100%;
}

.webView-urlEditor {
    position: relative;
    opacity: 0.9;
    z-index: 9001;
    transition: top .5s;
    background: lightgrey;
    padding: 10px;


    .urlEditor {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: 10px;
        overflow: hidden;

        .editorBase {
            display: flex;

            .editor-collapse {
                transition: all .5s, opacity 0.3s;
                position: absolute;
                width: 40px;
                transform-origin: top left;
                // margin-top: 10px;
            }

            .switchToText {
                color: $main-accent;
            }

            .switchToText:hover {
                color: $dark-color;
            }

            .collectionViewBaseChrome-viewSpecs {
                margin-left: 10px;
                display: grid;



                .collectionViewBaseChrome-viewSpecsMenu {
                    overflow: hidden;
                    transition: height .5s, display .5s;
                    position: absolute;
                    top: 60px;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    background: rgb(238, 238, 238);
                    box-shadow: grey 2px 2px 4px;

                    .qs-datepicker {
                        left: unset;
                        right: 0;
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-row {
                        display: grid;
                        grid-template-columns: 150px 200px 150px;
                        margin-top: 10px;
                        margin-right: 10px;

                        .collectionViewBaseChrome-viewSpecsMenu-rowLeft,
                        .collectionViewBaseChrome-viewSpecsMenu-rowMiddle,
                        .collectionViewBaseChrome-viewSpecsMenu-rowRight {
                            font-size: 75%;
                            letter-spacing: 2px;
                            color: grey;
                            margin-left: 10px;
                            padding: 5px;
                            border: none;
                            outline-color: black;
                        }
                    }

                    .collectionViewBaseChrome-viewSpecsMenu-lastRow {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 10px;
                        margin: 10px;
                    }
                }
            }
        }

        button:hover {
            transform: scale(1);
        }
    }
}

.webpage-urlInput {
    padding: 12px 10px 11px 10px;
    border: 0px;
    color: grey;
    letter-spacing: 2px;
    outline-color: black;
    background: rgb(238, 238, 238);
    width: 100%;
    margin-right: 10px;
    height: 100%;
}