@import "../globalCssVariables.scss";


.webBox-container, .webBox-container-dragging {
    transform-origin: top left;
    .webBox-outerContent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        .webBox-innerContent { 
            width:100%;
        }
    }
    div.webBox-outerContent::-webkit-scrollbar-thumb {
        display:none;
    }
}
.webBox-cont,
.webBox-cont-dragging {
    padding: 0vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    overflow: auto;
    pointer-events: none;
}

.webBox-cont-interactive {
    pointer-events: all;

    span {
        user-select: text !important;
    }
}

#webBox-htmlSpan {
    position: absolute;
    top: 0;
    left: 0;
}

.webBox-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: all;
}

.webBox-button {
    padding: 0vw;
    border: none;
    width: 100%;
    height: 100%;
}

.webView-urlEditor {
    position: relative;
    opacity: 0.9;
    z-index: 9001;
    transition: top .5s;
    background: lightgrey;
    padding: 10px;


    .urlEditor {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: 10px;
        overflow: hidden;

        .editorBase {
            display: flex;

            .editor-collapse {
                transition: all .5s, opacity 0.3s;
                position: absolute;
                width: 40px;
                transform-origin: top left;
            }

            .switchToText {
                color: $main-accent;
            }

            .switchToText:hover {
                color: $dark-color;
            }
        }

        button:hover {
            transform: scale(1);
        }
    }
}

.webpage-urlInput {
    padding: 12px 10px 11px 10px;
    border: 0px;
    color: grey;
    letter-spacing: 2px;
    outline-color: black;
    background: rgb(238, 238, 238);
    width: 100%;
    margin-right: 10px;
    height: 100%;
}

.touch-iframe-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: all;

    .indicator {
        position: absolute;

        &.active {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}