.webcam-cont {
    button {
        margin: 10px;
        position: relative;
        top: 20%;
        left: -60%;
    }

    #localVideo {
        margin: 10px;
        position: relative;
        width: 300px;
        max-height: 300px;
    }

    #remoteVideo {
        margin: 10px;
        position: relative;
        width: 300px;
        max-height: 300px;

    }
}