@import "global_variables";

.collectionFreeFormRemoteCursors-cont {
    
    position:absolute;
    z-index: $remoteCursors-zindex;
    transform-origin: 'center center';
}
.collectionFreeFormRemoteCursors-canvas {
    
    position:absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid black;
}
.collectionFreeFormRemoteCursors-symbol {
    font-size: 14;
    color: black;
    // fontStyle: "italic",
    margin-left: -12;
    margin-top: 4;
}