.collectionfreeformlinkview-linkLine {
    stroke: black;
    opacity: 0.8;
    pointer-events: all;
    stroke-width: 3px;
    transition: opacity 0.5s ease-in;
}
.collectionfreeformlinkview-linkCircle {
    stroke: rgb(0,0,0);
    opacity: 0.5;
    pointer-events: all;
    cursor: pointer;
}
.collectionfreeformlinkview-linkText {
    stroke: rgb(0,0,0);
    opacity: 0.5;
    pointer-events: all;
}
