@import "../../globalCssVariables";

.collectionfreeformview-none,
.collectionfreeformview-ease {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
    border-radius: inherit;
}

.collectionfreeformview-ease {
    transition: transform 500ms;
}

.collectionfreeformview-none {
    touch-action: none;
}

.collectionFreeform-customText {
    position: absolute;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.collectionfreeformview-container {
    // touch action none means that the browser will handle none of the touch actions. this allows us to implement our own actions.
    touch-action: none;

    .collectionfreeformview-placeholder {
        background: gray;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .collectionfreeformview-placeholderSpan {
            font-size: 32;
            display: flex;
            text-align: center;
            margin: auto;
            background: #80808069;
        }
    }

    .collectionfreeformview>.jsx-parser {
        position: inherit;
        height: 100%;
        width: 100%;
    }

    >.jsx-parser {
        z-index: 0;
    }

    //nested freeform views
    // .collectionfreeformview-container {
    // background-image: linear-gradient(to right, $light-color-secondary 1px, transparent 1px),
    //   linear-gradient(to bottom, $light-color-secondary 1px, transparent 1px);
    // background-size: 30px 30px;
    // }
    border: 0px solid $light-color-secondary;
    border-radius: inherit;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

// selection border...?
.border {
    border-style: solid;
    box-sizing: border-box;
    width: 98%;
    height: 98%;
    border-radius: $border-radius;
}

//this is an animation for the blinking cursor!
@keyframes blink {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#prevCursor {
    animation: blink 1s infinite;
}

.pullpane-indicator {
    z-index: 99999;
    background-color: rgba($color: #000000, $alpha: .4);
    position: absolute;
}