.collectionfreeformlinkview-linkLine {
    stroke: black;
    stroke-width: 3;
    transform: translate(10000px,10000px);
    pointer-events: all;
}
.collectionfreeformlinkview-linkCircle {
    stroke: black;
    stroke-width: 3;
    transform: translate(10000px,10000px);
    pointer-events: all;
}