@import "../../globalCssVariables";

.collectionfreeformview-none {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
    border-radius: inherit;
    touch-action: none;
    border-radius: inherit;
}

.collectionfreeformview-viewdef {
    >.collectionFreeFormDocumentView-container {
        pointer-events: none;

        .contentFittingDocumentDocumentView-previewDoc {
            pointer-events: all;
        }
    }

    svg.presPaths {
        position: absolute;
        z-index: 100000;
        overflow: visible;
    }

    svg.presPaths-hidden {
        display: none;
    }
}

.collectionfreeformview-none {
    touch-action: none;

    svg.presPaths {
        position: absolute;
        z-index: 100000;
        overflow: visible;
    }

    svg.presPaths-hidden {
        display: none;
    }
}

.pathOrder {
    position: absolute;
    z-index: 200000;

    .pathOrder-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 15px;
        text-align: center;
        background-color: #69a6db;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Roboto;
        font-weight: 500;
        color: white;
    }
}

.progressivizeButton {
    position: absolute;
    display: grid;
    grid-template-columns: auto 20px auto;
    transform: translate(-105%, 0);
    align-items: center;
    border: black solid 1px;
    border-radius: 3px;
    justify-content: center;
    width: 40;
    z-index: 30000;
    height: 20;
    overflow: hidden;
    background-color: #d5dce2;
    transition: all 1s;

    .progressivizeButton-prev:hover {
        color: #5a9edd;
    }

    .progressivizeButton-frame {
        justify-self: center;
        text-align: center;
        width: 15px;
    }

    .progressivizeButton-next:hover {
        color: #5a9edd;
    }
}

.resizable {
    background: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;

    .resizers {
        width: 100%;
        height: 100%;
        border: 3px solid #69a6db;
        box-sizing: border-box;

        .resizer {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            /*magic to turn square into circle*/
            background: white;
            border: 3px solid #69a6db;
        }

        .resizer.top-left {
            left: -3px;
            top: -3px;
            cursor: nwse-resize;
            /*resizer cursor*/
        }

        .resizer.top-right {
            right: -3px;
            top: -3px;
            cursor: nesw-resize;
        }

        .resizer.bottom-left {
            left: -3px;
            bottom: -3px;
            cursor: nesw-resize;
        }

        .resizer.bottom-right {
            right: -3px;
            bottom: -3px;
            cursor: nwse-resize;
        }
    }
}

.progressivizeMove-frame {
    width: 20px;
    border-radius: 2px;
    z-index: 100000;
    color: white;
    text-align: center;
    background-color: #5a9edd;
    transform: translate(-110%, 110%);
}

.progressivizeButton:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

    .progressivizeButton-frame {
        background-color: #5a9edd;
        color: white;
    }
}

.collectionFreeform-customText {
    position: absolute;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.collectionfreeformview-container {
    // touch action none means that the browser will handle none of the touch actions. this allows us to implement our own actions.
    touch-action: none;


    .collectionfreeformview-placeholder {
        background: gray;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        .collectionfreeformview-placeholderSpan {
            font-size: 32;
            display: flex;
            text-align: center;
            margin: auto;
            background: #80808069;
        }
    }

    .collectionfreeformview>.jsx-parser {
        position: inherit;
        height: 100%;
        width: 100%;
    }

    >.jsx-parser {
        z-index: 0;
    }

    //nested freeform views
    // .collectionfreeformview-container {
    // background-image: linear-gradient(to right, $light-color-secondary 1px, transparent 1px),
    //   linear-gradient(to bottom, $light-color-secondary 1px, transparent 1px);
    // background-size: 30px 30px;
    // }
    border: 0px solid $light-color-secondary;
    border-radius: inherit;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

// selection border...?
.border {
    border-style: solid;
    box-sizing: border-box;
    width: 98%;
    height: 98%;
    border-radius: $border-radius;
}

//this is an animation for the blinking cursor!
@keyframes blink {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#prevCursor {
    animation: blink 1s infinite;
}

.pullpane-indicator {
    z-index: 99999;
    background-color: rgba($color: #000000, $alpha: .4);
    position: absolute;
}