.collectionfreeformlinkview-linkLine {
    stroke: black;
    transform: translate(10000px,10000px);
    opacity: 0.5;
    pointer-events: all;
}
.collectionfreeformlinkview-linkCircle {
    stroke: rgb(0,0,0);
    opacity: 0.5;
    transform: translate(10000px,10000px);
    pointer-events: all;
}
.collectionfreeformlinkview-linkText {
    stroke: rgb(0,0,0);
    opacity: 0.5;
    transform: translate(10000px,10000px);
    pointer-events: all;
}
