.antimodeMenu-button {
    .color-previewI {
        width: 100%;
        height: 40%;
    }

    .color-previewII {
        width: 100%;
        height: 100%;
    }


}

.sketch-picker {
    background: #323232;

    .flexbox-fit {
        background: #323232;
    }
}

.btn-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* Make the buttons appear below each other */
}

.btn2-group {
    display: block;
    background: #323232;
    grid-template-columns: auto;

    /* Make the buttons appear below each other */
    .antimodeMenu-button {
        background: #323232;
        display: block;


    }
}