.propertiesView {

    background-color: rgb(205, 205, 205);
    height: 100%;
    font-family: "Noto Sans";
    cursor: auto;

    overflow-x: visible;
    overflow-y: visible;

    .propertiesView-title {
        background-color: rgb(159, 159, 159);
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;

        .propertiesView-title-name {
            font-size: 18px;
            font-weight: bold;
            padding-left: 45px;
        }

        .propertiesView-title-icon {
            width: 20px;
            height: 20px;
            padding-left: 38px;
            margin-top: -5px;

            &:hover {
                color: grey;
                cursor: pointer;
            }

        }

    }

    .propertiesView-name {
        border-bottom: 1px solid black;
        padding: 8.5px;
        font-size: 12.5px;
    }

    .propertiesView-settings {
        border-bottom: 1px solid black;
        padding: 8.5px;
        font-size: 12.5px;
        font-weight: bold;

        .propertiesView-settings-title {
            font-weight: bold;
            font-size: 12.5px;
            padding-bottom: 7px;
        }

        .propertiesView-settings-content {
            margin-left: 5px;
            padding-bottom: 10px;
        }

    }

    .propertiesView-sharing {
        border-bottom: 1px solid black;
        padding: 8.5px;

        .propertiesView-sharing-title {
            font-size: 12.5px;
            font-weight: bold;
            padding-bottom: 7px;
        }

        .propertiesView-sharing-content {
            font-size: 10px;
            margin-left: 5px;
        }
    }

    .notify-button {
        padding: 2px;
        width: 12px;
        height: 12px;
        background-color: black;
        border-radius: 10px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 2px;
        margin-right: 3px;

        .notify-button-icon {
            width: 6px;
            height: 6.5px;
            margin-left: .5px;
        }

        &:hover {
            background-color: rgb(158, 158, 158);
            cursor: pointer;
        }
    }

    .expansion-button-icon {
        width: 11px;
        height: 11px;
        color: black;
        margin-left: 27px;

        &:hover {
            color: rgb(131, 131, 131);
            cursor: pointer;
        }
    }

    .propertiesView-sharingTable {

        border: 1px solid black;
        padding: 5px;
        border-radius: 6px;
        width: 170px;
        background-color: #ececec;

        .propertiesView-sharingTable-item {

            display: flex;
            padding: 3px;

            border-bottom: 0.5px solid grey;

            .propertiesView-sharingTable-item-name {
                font-weight: bold;
                width: 80px;
                overflow-x: hidden;
                display: inline-block;
            }

            .propertiesView-sharingTable-item-permission {

                display: flex;

                .permissions-select {
                    z-index: 1;
                    //border: 0.5px solid grey;
                    //border-radius: 4px;
                    //outline: none;
                    border: none;
                    background-color: inherit;
                    width: 75px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .propertiesView-fields {
        border-bottom: 1px solid black;
        padding: 8.5px;

        .propertiesView-fields-title {
            padding-bottom: 7px;
            display: flex;

            .propertiesView-fields-title-name {
                font-size: 12.5px;
                font-weight: bold;
            }

            .propertiesView-fields-title-checkbox {
                float: right;
                height: 20px;
                margin-top: -13px;
                margin-left: 115px;

                .propertiesView-fields-title-checkbox-text {
                    font-size: 7px;
                    margin-top: -10px;
                    margin-left: 6px;
                }
            }
        }

        .propertiesView-fields-content {
            font-size: 10px;
            margin-left: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .propertiesView-layout {
        padding: 8.5px;

        .propertiesView-layout-title {
            font-weight: bold;
            font-size: 12.5px;
            padding-bottom: 7px;
        }

        .propertiesView-layout-content {
            margin-left: 5px;
            overflow: hidden;
        }

    }
}