html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
}

h1 {
    font-size: 50px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    z-index: 9999;
    font-family: 'Fjalla One', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}