.timeline-menu-container{
    position: absolute;
    z-index: 10000;
    width: 150px; 
    height: auto; 
    background-color: black;
    .timeline-menu-button{
        width:100%; 
        height: 30px; 

    }
    .timeline-menu-input{
        width:100%; 
        height: 30px; 
    }
}