@import "./../globalCssVariables.scss";

$timelineColor: #9acedf;

.timeline-overview-container {
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 40px;
    background: white;
    position: relative;
    border: 2px solid black;

    .timeline-overview-visible {
        position: absolute;
        height: 98%;
        background: $timelineColor;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    .timeline-overview-scrubber-container {
        margin: 0px;
        padding: 0px;
        position: absolute;
        height: 100%;
        width: 2px;
        top: 0px;
        left: 0px;
        z-index: 1001;
        background-color: black;
        display: inline-block;

        .timeline-overview-scrubber-head {
            padding: 0px;
            margin: 0px;
            position: absolute;
            height: 10px;
            width: 10px;
            // background-color: black;
            border-radius: 50%;
            // border: 3px solid black;
            left: -4px;
            // top: -30px;
            top: -10px;
        }
    }
}



.timeline-play-bar {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 4px;
    background-color: $timelineColor;
    border-radius: 20px;
    cursor: pointer;

    .timeline-play-head {
        position: absolute;
        padding: 0px;
        margin: 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        border: 3px $timelineColor;
        left: 0px;
        top: -10px;
        cursor: pointer;
    }
}

.timeline-play-tail {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 4px;
    width: 0px;
    z-index: 1000;
    background-color: $timelineColor;
    border-radius: 20px;
    margin-top: -4px;
    cursor: pointer;
}