@import "./../globalCssVariables.scss";

.track-container {

    .track {
        .inner {
            top: 0px;
            width: calc(100%);
            background-color: $light-color;
            border: 1px solid $dark-color;
            position: relative;
            z-index: 100;
        }
    }
}